* { margin: 0px; padding: 0px; }
a { outline: none; font-size: 12.5px; }
img { border: none; }
hr { background: #da1f26; border: none; border-top: 1px solid #fff; height: 12px; width: 960px; margin: 0 auto; float: left; }
body { color: #848485; font-size: 12.5px; font-family: Arial, Helvetica, sans-serif; background-color: #FFF; }

.panel{  float: left;
    margin: auto 0;
    min-height: 100px;
   
    width: 100%; }

.panel h1{-moz-border-radius: 0px 0px 10px 10px; -webkit-border-radius: 0px 0px 10px 10px; border-radius: 0px 0px 10px 10px; line-height:3; text-align:center; font-size:16px; font-weight:normal; background-color:#87CEFA; width:50%; margin:0 auto; color:#000; }

ul.admin{ width:40%; margin: 0 auto; }
ul.admin li{ list-style:none; display: block; margin: 6% 0;}
ul.admin li span img{ vertical-align:middle; margin-right:2%; /*float:left;*/}
ul.admin li a{ color:#000; line-height:3; text-align:center;/* padding:5% 15%;*/ border:solid 1px #999; text-decoration:none; width: 77%; float:right;}

.hom-foot {
    position: fixed;
    bottom: 0;
}