﻿@charset "utf-8";
/* CSS Document */
body{padding:0; margin:0;font-family:Calibri;}
.head{background:#093; margin-bottom:15px; padding:10px 0px; float:left; width:100%; text-indent:15px; text-align:left; color:#FFF; font-family:Calibri; font-size:17px; font-weight:600;}
.wrapper{width:950px; margin:0 auto; min-height:50px;display:table; border:solid 1px #093; margin-top:15px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.ser-box{border: 1px solid #009933; float: left; margin-left:15px; margin-bottom:15px; min-height:20px; width: 450px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.ser-box:nth-child(2n){ float: right; margin-left: 0; margin-right: 15px;}
.sr-title{float:left; width:385px; background:#e6e6e6; color:#000;border-bottom:solid 1px #093; line-height:26px; text-indent:10px; font-size:14px;}
.btn-box{float:right; width:64px; height:50px; border-left:solid 1px #093; }
.sear-btn{border:1px solid #25729a; -webkit-border-radius:2px; -moz-border-radius:2px;border-radius:2px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 8px 16px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF; margin:8px 6px;
 background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}
.sear-btn:hover{border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}
.d-part{border-right:solid 1px #093;width:85px; float:left; text-align:center;line-height:23px;}

/* Drop down styles*/
div.selectbox-wrapper{position:absolute;width:400px;background:#fff;border:solid 1px #093; margin:0 0 0 -1px;padding:0px;text-align:left;max-height:200px;overflow:auto;}
div.selectbox-wrapper ul{list-style-type:none;margin:0px;padding:0px;} 
div.selectbox-wrapper ul li.selected { background-color: #093; color:#FFF;}
div.selectbox-wrapper ul li.current { background-color: #CDD8E4; color:#000;}
div.selectbox-wrapper ul li{cursor:pointer; display:block;font-size:14px; list-style-type:none; margin:0; padding:2px; text-indent:9px;}
.selectbox{width:95px; display:block;text-align:left; background:url(../img/down.png) 80px 7px no-repeat; height:23px; padding:0; text-indent:7px; cursor:pointer;border:none;color:#333;}
/* Drop down styles*/


.src-img {
    margin-top:20px;
    padding-top:20px;
}
.ser-box1 {
     border: 1px solid #009933;
    border-radius: 2px;
    float: left;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 30px;
    min-height: 20px;
    width: 922px;
}