﻿.checkboxs {
    text-align:center !important;


}
.checkboxs>.checkbox {
    text-decoration:none !important;
    margin:0 !important;
   
}
    .checkboxs > label {
          margin:0 !important;
          padding:0 !important;
          display:inline;
           padding-left:3px !important;
    padding-right:3px !important;
    }
@media print {

	

	body {
	  padding: 0!important;

	}
    
	.print-able{
    width:100% !important;
    height:100% !important;
    display:block !important;
}

	/*span.print,
	a.link-pdf {
	  display: none;
	}*/
    span.print {
	  display: none;
	}
	.span3,.src1,.src2{
		display: none !important;
	}
    .map-leftmenu {
        display: none !important;
    }
    legend {

    }
}