﻿.error-container {
    position:fixed;
    top:20px;
    z-index:10000000;
    left:500px;
   width:400px;
   background-color:red;
    background-color: #FFD6D6;
   display:none;
   
   
   max-height:550px;

}
.errormsg {
        float:left;
        
        padding:10px;
    }
    .er-close {
        float:right;
        padding:10px;
        cursor:pointer;
    }

.pagination li {

    float:left;
    padding:10px;
    list-style:none;

}


.pagination-container {
    float: right;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top: 10px;
}
.pagination-container > li> a {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;
}
.pagination-container > li> a.disabled {
    color: #999999;
}
.pagination-container > li> a.disabled:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    cursor: default;
}
.pagination-container >li> a:hover {
    background: none repeat scroll 0 0 #DDDDDD;
}
.pagination-container > li {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;
}
.pagination-container > span > a.active {
    background: none repeat scroll 0 0 #368EE0;
    color: #FFFFFF;
}
.pagination-container>ul >.PagedList-skipToNext {
     background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;
}
.pagination-container>ul >.PagedList-skipToPrevious  {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;
}

.pagination-container>ul > li{
     background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;

}
.pagination-container > ul >.active {
    background: none repeat scroll 0 0 #368EE0;
    color: #FFFFFF !important;
}
.pagination-container > ul >.active>a {
   
    color: #FFFFFF !important;
}

footer {
    background: none repeat scroll 0 0 #383E4B;
    color: #FFFFFF;
    float: left;
    margin: 0 !important;
    padding: 10px 10% !important;
    width: 80%;
}

