﻿ /* Font Definitions */
 @font-face {
font-family:Wingdings;
 panose-1:5 0 0 0 0 0 0 0 0 0;
}
@font-face {
font-family:"Cambria Math";
 panose-1:0 0 0 0 0 0 0 0 0 0;
}
@font-face {
font-family:Calibri;
 panose-1:2 15 5 2 2 2 4 3 2 4;
}
@font-face {
font-family:Tahoma;
 panose-1:0 0 0 0 0 0 0 0 0 0;
}
@font-face {
font-family:Garamond;
 panose-1:2 2 4 4 3 3 1 1 8 3;
}
@font-face {
font-family:"Book Antiqua";
 panose-1:2 4 6 2 5 3 5 3 3 4;
}
/* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal {
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Garamond", "serif";
}
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText {
	mso-style-link:"Comment Text Char";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	font-size:10.0pt;
	font-family:"Garamond", "serif";
}
p.MsoHeader, li.MsoHeader, div.MsoHeader {
	mso-style-link:"Header Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:"Garamond", "serif";
}
p.MsoFooter, li.MsoFooter, div.MsoFooter {
	mso-style-link:"Footer Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:"Garamond", "serif";
}
a:link, span.MsoHyperlink {
	color:blue;
	text-decoration:underline;
}
a:visited, span.MsoHyperlinkFollowed {
	color:purple;
	text-decoration:underline;
}
p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject {
	mso-style-link:"Comment Subject Char";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	font-size:10.0pt;
	font-family:"Garamond", "serif";
	font-weight:bold;
}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
	mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma", "sans-serif";
}
p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing {
	mso-style-link:"No Spacing Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:"Calibri", "sans-serif";
}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:.5in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri", "sans-serif";
}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri", "sans-serif";
}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri", "sans-serif";
}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:.5in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri", "sans-serif";
}
span.HeaderChar {
	mso-style-name:"Header Char";
	mso-style-link:Header;
}
span.FooterChar {
	mso-style-name:"Footer Char";
	mso-style-link:Footer;
}
span.NoSpacingChar {
	mso-style-name:"No Spacing Char";
	mso-style-link:"No Spacing";
	font-family:"Calibri", "sans-serif";
}
span.BalloonTextChar {
	mso-style-name:"Balloon Text Char";
	mso-style-link:"Balloon Text";
	font-family:"Tahoma", "sans-serif";
}
span.apple-converted-space {
	mso-style-name:apple-converted-space;
}
span.CommentTextChar {
	mso-style-name:"Comment Text Char";
	mso-style-link:"Comment Text";
}
span.CommentSubjectChar {
	mso-style-name:"Comment Subject Char";
	mso-style-link:"Comment Subject";
	font-weight:bold;
}
.MsoPapDefault {
	margin-bottom:10.0pt;
	line-height:115%;
}
 /* Page Definitions */
 @page Section1 {
	size:595.45pt 841.7pt;
	margin:1.0in .75in 1.0in .75in;
}
div.Section1 {
	page:Section1;
}
/* List Definitions */
 ol {
	margin-bottom:0in;
}
ul {
	margin-bottom:0in;
}

.dash-po {border-bottom: dashed 1px;}
.dash-po b{border-bottom:solid 2px #fff!important;}













