﻿@media print {

	

	body {
	  padding: 0!important;

	}
    
	.print-able{
    width:100% !important;
    height:100% !important;
    display:block !important;
}

	/*span.print,
	a.link-pdf {
	  display: none;
	}*/
    span.print {
	  display: none;
	}
	.span3,.src1,.src2{
		display: none !important;
	}
    .map-leftmenu {
        display: none !important;
    }
    legend {

    }
}