﻿@model DIMS.Models.RegisterModel
@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "User manament / Register";
}

   <div class="span10" id="content" style="min-height:98px; width:96%; margin:2%;">
			
			
			<div class="row-fluid">

			
<div class="box box-bordered">

<div class="box-content nopadding" style="border-top:1px #87CEFA solid;">
<div class="form-horizontal form-bordered lopm"> 
            


            @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

                    
                    <div class="control-group">
    <label class="control-label"> @Html.LabelFor(m => m.UserName)</label>
    <div class="controls">                                        
    <div  class="span6">
         @Html.TextBoxFor(m => m.UserName)                                       
    </div>                   
    </div>



</div>
                
                              <div class="control-group">
    <label class="control-label"> @Html.LabelFor(m => m.Email)</label>
    <div class="controls">                                        
    <div  class="span6">
         @Html.TextBoxFor(m => m.Email)                                       
    </div>                   
    </div>



</div>
                    
                    
                    
                        
                    <div class="control-group">
    <label class="control-label">  @Html.LabelFor(m => m.Password)</label>
    <div class="controls">                                        
    <div  class="span6">
          @Html.PasswordFor(m => m.Password)                                     
    </div>                   
    </div>



</div>
                    
                    
                    
                    
                        
                    <div class="control-group">
    <label class="control-label"> @Html.LabelFor(m => m.ConfirmPassword)</label>
    <div class="controls">                                        
    <div  class="span6">
           @Html.PasswordFor(m => m.ConfirmPassword)                                   
    </div>                   
    </div>



</div>
                    
                    
                    
                        
                    <div class="control-group">
    <label class="control-label"> @Html.LabelFor(m => m.Address)</label>
    <div class="controls">                                        
    <div  class="span6">
          @Html.TextBoxFor(m => m.Address)                                    
    </div>                   
    </div>



</div>
                    
                    
                        
                    <div class="control-group">
    <label class="control-label"> @Html.LabelFor(m => m.ContactNumber)</label>
    <div class="controls">                                        
    <div class="span6">
         @Html.TextBoxFor(m => m.ContactNumber)                                      
    </div>                   
    </div>
</div>
                                      <div class="control-group">
    <label class="control-label">  @Html.LabelFor(m => m.Reference)</label>
    <div class="controls">                                        
    <div  class="span6">
        @Html.TextBoxFor(m => m.Reference)                                     
    </div>                   
    </div>
</div>
                
                <div class="control-group">
                     <label class="control-label"> User login type</label>
   
                    <div class="controls">                                        
    <div  class="span6">
                    @Html.RadioButtonFor(m=>m.UserType, "1",false)<label style="display:inline">Pre Disaster</label>
 @Html.RadioButtonFor(m=>m.UserType, "2", false )<label style="display:inline">Post Disaster</label>
                    @Html.RadioButtonFor(m=>m.UserType, "3", false)<label style="display:inline">Both</label> 
        </div>
                </div>
                    </div>
        <input type="submit" class="btn btn-satblue " value="Register" />
                    
                     <input type="reset" class="btn btn-satblue" value="Reset" />
                    
                }


                                                                
</div>



</div>
</div>



</div>
    </div>

