﻿@model DIMS.Models.UserProfile
@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : User Management :Reset Password";
}
   <div class="span10" id="content" style="min-height: 698px;">
			
			
			<div class="row-fluid">
				
				
@using (Html.BeginForm("Reset", "Account")) {
     @Html.ValidationSummary(true)

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                 @Html.Label("User Name")
                <input id="UserName" class="text-box single-line" readonly="true" type="text" value="@Model.UserName" name="UserName">
 
            </li>
            <li>
                @Html.Label("New Password")
                <input type="password" name="newpassword" />
            </li>
          
        </ol>
        <input type="submit"   class="btn btn-satblue " value="Reset password" />
    </fieldset>
}

                </div>
       </div>