﻿@model DIMS.Models.UserProfile

@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : User Management : Details";
}

  <div class="span10" id="content" style="min-height: 698px; width:95%; margin:2.5%;">
			
			
	<div class="row-fluid popk">
				

    <div class="display-label mop">
         @Html.DisplayNameFor(model => model.UserName):  @Html.DisplayFor(model => model.UserName)
    </div>
    
    <div class="display-label mop">
         @Html.DisplayNameFor(model => model.ContactNumber):@Html.DisplayFor(model => model.ContactNumber)
    </div>
   

    <div class="display-label mop">
         @Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)
    </div>
   

    <div class="display-label mop">
         @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)
    </div>
 
<div class="display-label mop">
         @Html.DisplayNameFor(model => model.Reference): @Html.DisplayFor(model => model.Reference)
    </div>

 

  @*              <div  data-valmsg-summary="true">
<ul>
<li>The Address field is required.</li>
<li>The User Contact Number field is required.</li>
<li>The Reference field is required.</li>
<li>The password and confirmation password do not match.</li>
</ul>
</div>*@

<p class="btn-bck" style="margin:6px 0 0 0!important; float:left; ">
  @*  @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |*@
    @Html.ActionLink("Back to List", "Index", "Users",new {@class="btn btn-satblue",@style="width:150px; text-align:center;"})
</p>

</div>
       </div>