﻿@model DIMS.Models.UserProfile

@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel: User Management :Edit";
}

   <div class="span10" id="content" style="min-height:98px; width:96%; margin:2%;">
		
			
			<div class="row-fluid">
				
				<div class="box box-bordered">
                    
<div class="box-content nopadding" style="border-top:1px #87CEFA solid;">
<div class="form-horizontal form-bordered lopm"> 
        
   
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

   

        @Html.HiddenFor(model => model.UserId)

      
    
                   <div class="control-group">
    <label class="control-label">   @Html.LabelFor(model => model.UserName)</label>
    <div class="controls">                                        
    <div  class="span6">
        @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)                                     
    </div>                   
    </div>
</div>
    <div class="control-group">
    <label class="control-label">     @Html.LabelFor(model => model.Email)</label>
    <div class="controls">                                        
    <div  class="span6">
       @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)                                   
    </div>                   
    </div>
</div>
                   <div class="control-group">
    <label class="control-label">    @Html.LabelFor(model => model.ContactNumber)</label>
    <div class="controls">                                        
    <div  class="span6">
        @Html.EditorFor(model => model.ContactNumber)
            @Html.ValidationMessageFor(model => model.ContactNumber)                                    
    </div>                   
    </div>
</div>
                    <div class="control-group">
    <label class="control-label">     @Html.LabelFor(model => model.Address)</label>
    <div class="controls">                                        
    <div  class="span6">
       @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)                                   
    </div>                   
    </div>
</div>
    
    
    <div class="control-group">
    <label class="control-label">     @Html.LabelFor(model => model.Reference)</label>
    <div class="controls">                                        
    <div  class="span6">
      @Html.EditorFor(model => model.Reference)
            @Html.ValidationMessageFor(model => model.Reference)                                
    </div>                   
    </div>
</div>
        

       

        <p>
            <input type="submit" class="btn btn-satblue " value="Save" />
        </p>
   
}
   

    @* @Html.ActionLink("Back to List", "Index", "Users",new {@class="btn btn-grey"})*@
</div>
     </div>
    </div>
   

                </div>
       </div>