﻿@model PagedList.IPagedList<DIMS.Models.UserProfile>
@using PagedList.Mvc;


@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel: User Management :Users";
}

    <div class="span10" id="content" style="min-height: 698px; width:95%; margin:2.5%;">
			
			
			<div class="row-fluid" >
				


<p style="float:left;">
   <a href="/account/register" class="btn btn-satblue ">Create New Users</a>
</p>
                @using (Html.BeginForm())
{
    <p style="float:right;">
        Find by name: @Html.TextBox("SearchString")  
        <input type="submit" class="src" value=""  /></p>
}


                
                
                



@*                <br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

                </div>
       </div>*@


                

                <div class="row-fluid">
					<div class="span12">
						<div class="box box-color box-bordered">
							<div class="box-title ">
								<h3>
									<i class="icon-table"></i>
									System User List
								</h3>
							</div>
							<div class="box-content nopadding">
								<table class="table table-hover table-nomargin">
									<thead>
										<tr>
											<th> @Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
                                            <td>Current Role</td>
											<th>Contact Number</th>
                                            <th>Email ID</th>
											<th class="hidden-350">Address</th>
											<th> Reference</th>
                                            <th> Action</th>
                                            
										</tr>
									</thead>
									<tbody>
										
					@foreach (var item in Model) 
            {         
             
           
										
										<tr>
											<td>@item.UserName</td>
                                                <td>


                                               @{ var rol = Roles.GetRolesForUser(item.UserName);

                                                  if(rol.Count()>0){
                                                  @rol.FirstOrDefault().ToString();
                                               }
                                                  }
                                            </td>
											<td>@item.ContactNumber</td>
                                            <td>@item.Email</td>
                                            <td>@item.Address</td>
                                            <td>@item.Reference</td>
                                        
											<td class="hidden-350">   @Html.ActionLink("Assign Role", "assign", new { id=item.UserId }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |

                                                @if (User.IsInRole("Administrator")){
                                                    
                                                       @Html.ActionLink("Reset", "reset", new { id=item.UserId })
                                                     
                                                
                                                }
                                                |
                                                   @if (User.IsInRole("Administrator")){
                                                    
                                                     if(item.Status=="1"){
                                                       @Html.ActionLink("Disable", "Disable", new { id=item.UserId })
                                                   }else{
                                                          @Html.ActionLink("Enable", "Enable", new { id=item.UserId })
                                                     }
                                                }

											</td>
											
										</tr>
            } 
									</tbody>
								</table>
							
									@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

               
								</div>
							</div>
						</div>
					</div>
				</div>
       </div>