﻿@model DIMS.Models.ViewModels


@{
    Layout = "~/Views/Shared/_Internal.cshtml";
    ViewBag.Title = "Edit";
}

   <div class="span10" id="content" style="min-height: 698px;">
			
			
			<div class="row-fluid">
				
				

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserProfile</legend>

        @Html.HiddenFor( model => model.userInfo.First().UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.userInfo.First().UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userInfo.First().UserName)
            @Html.ValidationMessageFor(model => model.userInfo.First().UserName)
        </div>

        <div class="editor-label">
            @Html.Label("Select Role")
        </div>
        <div class="editor-field">
          
          
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


                </div>
       </div>