﻿<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8" />
	<title>Education Cluster Bangladesh</title>
	<meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template." />
	<meta name="author" content="Łukasz Holeczek" />
	<meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- end: Mobile Specific -->
	
	
        <!-- start: CSS -->
        <link href="~/Content/DMIS/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/Content/DMIS/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/DMIS/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/Content/DMIS/css/style.min.css" rel="stylesheet" />
        <link href="~/Content/DMIS/css/style-responsive.min.css" rel="stylesheet" />
        <link href="~/Content/DMIS/css/retina.css" rel="stylesheet" />
    <link href="~/Content/Form/css/custom-style.css" rel="stylesheet" />
        <!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
	
	<!-- start: Favicon and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
	<link rel="shortcut icon" href="ico/favicon.png" />
	<!-- end: Favicon and Touch Icons -->	
		
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a id="main-menu-toggle" class="hidden-phone open"><i class="icon-reorder"></i></a>		
				<div class="row-fluid">
				<a class="brand span2" href="index.html"><span>DMIS</span></a>
				</div>		
				
                  @Html.Partial("_DMISPartialLogin")
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid-full">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
		
			<!-- end: Main Menu -->
              @RenderBody()
            <div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
		
		
 <div class="clearfix"></div>

                <footer>
                    <p>
                        <span style="text-align:left;float:left">Supported by: <a alt="Save the Children">Save the Children</a></span>
                        <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a alt="Education Cluster in Bangladesh">Education Cluster in Bangladesh</a></span>
                    </p>

                </footer>
				
	</div><!--/.fluid-container-->
            </div>
	<!-- start: JavaScript-->
		 <script src="~/Scripts/DMIS/js/jquery-1.10.2.min.js"></script>
         <script src="~/Scripts/DMIS/js/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/DMIS/js/jquery-migrate-1.2.1.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery-ui-1.10.3.custom.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.ui.touch-punch.js"></script>	
        <script src="~/Scripts/DMIS/js/modernizr.js"></script>	
        <script src="~/Scripts/DMIS/js/bootstrap.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.cookie.js"></script>	
        <script src="~/Scripts/DMIS/js/fullcalendar.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/DMIS/js/excanvas.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.flot.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.flot.pie.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.flot.stack.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.flot.resize.min.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.flot.time.js"></script>

        <script src="~/Scripts/DMIS/js/jquery.chosen.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.uniform.min.js"></script>		
        <script src="~/Scripts/DMIS/js/jquery.cleditor.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.noty.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.elfinder.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.raty.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.iphone.toggle.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.uploadify-3.1.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.gritter.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.imagesloaded.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.masonry.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.knob.modified.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.sparkline.min.js"></script>	
        <script src="~/Scripts/DMIS/js/counter.min.js"></script>	
        <script src="~/Scripts/DMIS/js/raphael.2.1.0.min.js"></script>
        <script src="~/Scripts/DMIS/js/justgage.1.0.1.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.autosize.min.js"></script>	
        <script src="~/Scripts/DMIS/js/retina.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.placeholder.min.js"></script>
        <script src="~/Scripts/DMIS/js/wizard.min.js"></script>
        <script src="~/Scripts/DMIS/js/core.min.js"></script>	
        <script src="~/Scripts/DMIS/js/charts.min.js"></script>	
        <script src="~/Scripts/DMIS/js/custom.min.js"></script>


		@*<script src="~/Scripts/DMIS/js/custom.min.js"></script>*@
	<!-- end: JavaScript-->

</body>
</html>