﻿@model DIMS.Models.LoginModel



@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

    <div class="box" style="border-radius:0!important;border:none;box-shadow:none;margin:0;">

        @*<div class="disaster-login" style="border:dashed 1px #808080; margin:0px 12px; padding:5px;" >
            <input name="logintype" value="pre" type="radio" style="margin:0;" /><span style="vertical-align:text-bottom;">Pre Disaster  Login</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input name="logintype" value="post" type="radio" style="margin:0;" /><span style="vertical-align:text-bottom;">Post Disaster Login</span>

        </div>*@
        <div class="box-content">
            <div style="background-color:red; color:white;">
                @TempData["LoginErrorMessage"]
            </div>
            <label style="width:180px;float:right;margin-top:40px;"><input onclick="return Check()" class="btn btn-satblue btn-popo" type="submit" value="Login" /></label>
            <label class="log-pp" style="width:345px;margin-top:30px;flo:left;"><span class="log-po" style="width:100px; height:18px;padding:6px; border-radius:2px 0 0 2px; float:left; color: #000 !important;">User Name :</span>   @Html.TextBoxFor(m => m.UserName) </label>
            <label class="log-pp" style="width:345px;float:left;"><span class="log-po" style="width:100px; height:18px;padding:6px; border-radius:2px 0 0 2px; float:left; margin-right:0px; color: #000 !important;">Password : </span>  @Html.PasswordFor(m => m.Password)</label>
            
        </div>
    </div>


}

<script>
    function Check() {
      
        var val = $('input[name=logintype]:radio:checked').val();
        var UserName = $('input[name=UserName]').val();
        var Password = $('input[name=Password]').val();
        if (UserName== "" || Password=="") {
            alert("Please Enter Username and Password ");
            return false;
        } else {
            
            return true;
        }

    }

    </script>

@* 

 
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
              
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
               
                @Html.ValidationMessageFor(m =>m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    
}*@

