﻿<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Apple devices fullscreen -->
<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<title>DMIS - Dashboard</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="~/Content/Form/css/bootstrap.min.css">
<!-- Bootstrap responsive -->
<link rel="stylesheet" href="~/Content/Form/css/bootstrap-responsive.min.css">
<!-- jQuery UI -->
  @*<link href="~/Content/Form/css/bootstrap-responsive.css" rel="stylesheet" />*@
<link rel="stylesheet" href="~/Content/Form/css/plugins/jquery-ui/smoothness/jquery-ui.css">
<link rel="stylesheet" href="~/Content/Form/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
<!-- Theme CSS -->
<link rel="stylesheet" href="~/Content/Form/css/style.css">
<!-- Color CSS -->
<link rel="stylesheet" href="~/Content/Form/css/themes.css">
    <link href="~/Content/Form/css/jquery.treeview.css" rel="stylesheet" />
    @*<script src="~/Scripts/Form/jquery-1.9.1.min.js"></script>*@
    <script src="~/Scripts/jquery.js"></script>
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeXdRKo4OdJFQY0ialCksWqLi7_0vqly0&sensor=false"></script>
<script src="~/Scripts/googlemap.js"></script>

<script src="~/Scripts/jquery.treeview.js"></script>



<!-- jQuery -->

    

<!--[if lte IE 9]>
		<script src="~/Scripts/Form/js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->
<!-- Favicon -->
<link rel="shortcut icon" href="~/Content/Form/img/favicon.ico" />
<!-- Apple devices Homescreen icon -->
<link rel="apple-touch-icon-precomposed" href="~/Content/Form/img/apple-touch-icon-precomposed.png" />
   
   <script>
      // BASE = 'http://localhost:/';
   </script>
</head>
<body>
    @{
    string path = Server.MapPath("~/Uploads/");

   // string path = "~/Uploads/";
    
}
    <script>
        var marker = {};
       // var base = "";
        var base = "@Request.Url.GetLeftPart(UriPartial.Authority)";
        var path = "@Request.ApplicationPath";
        var baseURL = base + path + "Uploads/";
        var baseURLImg = base + path + "Images/";
        //  dropdown-menu pull-right

        $(document).ready(function () {

            $(".dropdown-toggle").click(function () {

               // alert("tog");
                $(".dropdown-menu").toggle();
            });


        });
    </script>
    


<div id="navigation">
<div class="container-fluid"> <a href="#" id="brand">SSMIS</a>
<ul class='main-nav'>
<li class="@ViewBag.DashTab"><a href="/domain/index"><span>Home</span></a></li>
    <li  class="@ViewBag.DatacollectionTab" ><a href="/domain/datacollection"><span>List</span></a></li>
    <li class="@ViewBag.ActiveForm" ><a href="/domain/form"><span>Dashboard</span></a></li>


</ul>


                  @Html.Partial("DMISLoginPartial")
</div>
</div>
<div class="container-fluid" id="content">
<div id="main" style="margin-left:0px;">

<div class="container-fluid">

<div class="row-fluid">
						
	<div class="span12">
        <div class="box box-bordered box-color lightgrey">
            <div class="box-title">
                <h3><i class="icon-reorder"></i>@ViewBag.PTitle</h3>


             <div class="map-action">   <span class="close-screen">Standard</span><span class="full-screen">Full</span> <span>Screen Size</span></div>
            </div>
            <div class="box-content nopadding">
                

                  @RenderBody()


                 </div>
        </div>
	</div>

</div>
                    
                    
</div>
     



</div>
</div>
    <div class="clearfix"></div>

                <footer class="@ViewBag.Homfoot">
                    <p>
                        <span style="text-align:left;float:left">Supported by: <a alt="Save the Children">Save the Children</a></span>
                        <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a alt="Education Cluster in Bangladesh">Education Cluster in Bangladesh</a></span>
                    </p>

                </footer>
</body>
</html>
 @*   <script src="~/Scripts/Form/jquery-1.9.1.min.js"></script>*@
    


    <link href="~/Content/Form/css/custom-style.css" rel="stylesheet" />
<!-- Just for demonstration -->
