﻿ 

@model DIMS.Models.ViewModels

  @if (Model.UpazillaInfo.Count > 0)
                                {

         <option value="" selected="selected">Upazilla</option>
                                        foreach (var div in Model.UpazillaInfo)
                                        {         
                                            <option value="@div.UpazillaId">@div.UpazillaName</option>            
                                        }


                                }
                                else
                                {
   <option value=""  selected="selected">Create Upazilla</option>

                                }