﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Oparation Panel:Admin Panel : Backup";
}

@model DIMS.Models.ViewModels
<div class="error-container">

    <span class="errormsg">Error Message</span><span class="er-close" onclick="errclose()">x</span>
</div>



    <div class="span10" id="content" style="min-height: 698px; width:95%; margin:2.5%;">
			
			
			<div class="row-fluid" >




                	                                <h3>
                                    <b>Backup and Restore the Database from SQL Server</b></h3>
				
				  <div class="row-fluid" style="clear:both; float:left; width:100%;">
					<div class="span12">
						<div class="box box-color box-bordered" style="clear:both; float:left; width:100%;">
							<div class="box-title">
								<h3>
									<i class="icon-table"></i>
									Back up database
								</h3>
							</div>
							<div class="box-content nopadding">
                                 @TempData["Message"]
								 <form class="form-horizontal form-wizard ui-formwizard" method="POST" action="backupsave" novalidate="novalidate">
                    <div class="step ui-formwizard-content" style="display: block;">

                       

                                  <div class="control-group">
                            <label class="control-label" for="select">Select Database</label>
                            <div class="controls">

                                 <input type="text" value="DMISDB" name="backdbname"   readonly="true"><input type="submit" value="Backup" class="btn btn-primary ui-wizard-content ui-formwizard-button">

                                  @*  <select class="input-large" name="backdbname">
                                         <option value="" selected="selected">Select Database</option>
                                         @{

                            var name= ViewData["name"] as string[];
                            for(int i=0;i<name.Length;i++){
                                 <option value="@name[i]">@name[i]</option>
                            }

                        }
                                       

                                    </select>*@
                                
                            </div>

                          
                                      </div>
                </form>
                               
							</div>
						</div>
					</div>
				</div>


                				  <div class="row-fluid" style="clear:both; float:left; width:100%;">
					<div class="span12">

                        	<div class="box box-color box-bordered" style="clear:both; float:left; width:100%;">
							<div class="box-title">
								<h3>
									<i class="icon-table"></i>
									List of backup file 
								</h3>
							</div>
							<div class="box-content nopadding">
                       				<table class="table table-hover table-nomargin">
									<thead>
										<tr>
											<th>Back up Files</th>
											
											<th class="hidden-350">Action</th>
											
										</tr>
									</thead>
									<tbody>
										
										
				@{
        
				var filelist= ViewData["file"] as string[];
                            for(int i=0;i<filelist.Length;i++){
        

                					<tr>
                                       
											<td> <a title="Edit" href="/setting/download?fileName=@filelist[i]"> @filelist[i]</a></td>
											<td class="hidden-350">   
                                               @* <a title="Edit" href="@filelist[i]" > <img src="~/Images/view.png" /></a> |*@
           
                                                @Html.ActionLink("Download", "Download", new { fileName = filelist[i]})
                                              
											</td>
											
										</tr>
            } 
            }
            
									</tbody>
								</table>
    
                               
							</div>
						</div>
					
                        </div>
                                      </div>


                	
				
				  <div class="row-fluid" style="clear:both; float:left; width:100%;">
					<div class="span12">
						<div class="box box-color box-bordered" style="clear:both; float:left; width:100%;">
							<div class="box-title">
								<h3>
									<i class="icon-table"></i>
									 Restored
								</h3>
							</div>
							<div class="box-content nopadding">
							 <form class="form-horizontal form-wizard ui-formwizard" method="POST" action="backuprestore" novalidate="novalidate">
                    <div class="step ui-formwizard-content" style="display: block;">

                                  <div class="control-group">
                            <label class="control-label" for="select">Select Database </label>
                            <div class="controls">

                                
                                <select class="input-large" name="restoredbname">
                                         <option value="" selected="selected">Select Backup Database</option>
                                         @{

                            var file= ViewData["file"] as string[];
                            for(int i=0;i<file.Length;i++){
                                 <option value="@file[i]">@file[i]</option>
                            }

                        }
                                       

                                    </select>
                                
                            </div>

                                      <div class="form-actions">
                        <input type="reset" value="Reset" class="btn ui-wizard-content ui-formwizard-button" disabled="disabled">
                        <input type="submit" value="Save" class="btn btn-primary ui-wizard-content ui-formwizard-button">
                    </div>
                                      </div>
                </form>
                               
							</div>
						</div>
					</div>
				</div>







                </div>
        </div>