﻿@{
    Layout = null;
}
@model DIMS.Models.ViewModels

<script>
    $(document).ready(function () {

        
        $('#selectdivisionModal2 option[value="@Model.UpazillaInfo.First().District.DivisionId"]').prop('selected', true);
        $('#selectdistrictmodel1 option[value="@Model.UpazillaInfo.First().DistrictId"]').prop('selected', true);

    });
</script>
    <div class="box">
            <div class="box-title" style="margin-top:0;">
                <h3>
                    <i class="icon-magic"></i>
                    Upazilla Setup

								</h3>
            </div>
            <div class="box-content">
                <form class="form-horizontal form-wizard ui-formwizard" method="POST" action="upazillaupdate" novalidate="novalidate">
                    <div class="step ui-formwizard-content" style="display: block;">
                          <div class="control-group">
                            <label class="control-label" for="select">Select Division</label>
                            <div class="controls">

                                @if (Model.DivisionInfo.Count > 0)
                                {

                                    <select class="input-large" id="selectdivisionModal2" name="division2select">
                                         <option value="">Select Division</option> 
                                        @foreach (var div in Model.DivisionInfo)
                                        {         
                                            <option value="@div.DivisionId">@div.DivisionName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" name="division2select">
                                        <option value="" selected="selected">Create Division</option>

                                    </select>
                                }
                            </div>
                        </div>
                      
                        <div class="control-group">
                            <label class="control-label" for="selectdistrict">Select District</label>
                            <div class="controls">
                                
                                @if (Model.DistrictInfo.Count > 0)
                                {

                                    <select class="input-large"  id="selectdistrictmodel1" name="districtselect">
                                        @foreach (var div in Model.DistrictInfo)
                                        {         
                                            <option value="@div.DistrictId">@div.DistrictName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" name="districtselect" disabled="disabled">
                                        <option value="" selected="selected">Create District</option>

                                    </select>
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="firstname">Upazilla name</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge ui-wizard-content" value="@Model.UpazillaInfo.First().UpazillaName" name="upazillaname">
                                 <input type="hidden" class="input-xlarge ui-wizard-content" value="@Model.UpazillaInfo.First().UpazillaId" name="id">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Upazilla Code</label>
                            <div class="controls">
                                <input type="text" maxlength="2" class="input-xlarge ui-wizard-content num" value="@Model.UpazillaInfo.First().UpazillaCode" name="upazillacode">
                            </div>
                        </div>




                        <div class="control-group">
                            <label class="control-label" for="firstname">Upazilla Longitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content num" value="@Model.UpazillaInfo.First().Longitiude" name="upazillaLongitude">
                            </div>
                        </div>


                                                <div class="control-group">
                            <label class="control-label" for="firstname">Upazilla Latitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content num" value="@Model.UpazillaInfo.First().Latitude" name="upazillaLatitude">
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <input type="reset" value="Reset" class="btn ui-wizard-content ui-formwizard-button" disabled="disabled">
                        <input type="submit" value="Save" class="btn btn-primary ui-wizard-content ui-formwizard-button">
                    </div>
                </form>
            </div>
        </div>
     <a class="close-reveal-modal">&#215;</a>