﻿@{
    Layout = "~/Views/Shared/FormLayout.cshtml";
}

@model DIMS.Models.ViewModels



<div class="error-container">

    <span class="errormsg">Error Message</span><span class="er-close" onclick="errclose()">x</span>
</div>



<div class="tab-content padding tab-content-inline">
    <script src="~/Scripts/Form/jquery-1.9.1.min.js"></script>


    
     <script>

         $(document).ready(function () {
             $('#f1 input').attr('readonly', 'readonly');
             $('#f1 checkbox').attr('disabled', 'disabled');
             $('#f1 radio').attr('disabled', 'disabled');

             $('#f1 select').attr('disabled', 'disabled');
             $(".btn").css("display","none");

         });

            </script>
    <div id="f1">
  @if(Model.GeneralInformationInfo.Count>0)
  {
      @Html.Partial("FirstTabExist");
  }else{
      
      @Html.Partial("FirstTabNew");
  }

  @if(Model.SafeLearningInfo.Count>0)
  {
      @Html.Partial("SecondTabExist");
  }else{
      
      @Html.Partial("SecondTabNew");
  }
    @if(Model.DisasterManagementInfo.Count>0)
  {
      @Html.Partial("ThirdTabExist");
  }else{
      
      @Html.Partial("ThirdTabNew");
  }
    @if(Model.RiskReductionResilienceEducationInfo.Count>0)
  {
      @Html.Partial("FourthTabExist");
  }else{
      
      @Html.Partial("FourthTabNew");
  }        
        </div>
</div>
