﻿@{
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="row-fluid">

    <div class="span10 full" id="content" style="min-height: 309px;">

        <p class="text">School Safety Information System<span>Education Cluster in Bangladesh</span></p>
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="icon-edit"></i>Domain Setup</h2>
                    <div class="box-icon">
                       
                        <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
                        
                    </div>
                </div>


                <div class="box-content">
                    
                <div id="MyWizard" class="wizard">
							<ul class="steps">
								<li data-target="#step1" class="active"><span class="badge badge-info">1</span></li>
								<li data-target="#step2"><span class="badge">2</span></li>
								<li data-target="#step3"><span class="badge">3</span></li>
								<li data-target="#step4"><span class="badge">4</span></li>
								<li data-target="#step5"><span class="badge">5</span></li>
							</ul>
							<div class="actions">
								<button type="button" class="btn btn-prev"> <i class="icon-arrow-left"></i> Prev</button>
								<button  type="button" onclick="" class="btn btn-success btn-next" data-last="Finish">Next <i class="icon-arrow-right"></i></button>
							</div>
						</div>
                    <div class="step-content">

                        <div id="step1" class="step-pane active">

                            <div class="box-header box ">
                    <h2><i class="icon-edit"></i>Domain 1: General Information</h2>
                    <div class="box-icon">
                       
                        <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
                        
                    </div>
                </div>
                            <div class="box-content">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="control-group warning">
                                        <label style="color: hsl(0, 0%, 0%) !important; width: 300px;" for="typeahead" class="control-label"><i class="icon-edit"></i>Q 1. Institute ID <small>(Cluster ID):</small></label>
                                        <div style="margin-left: 350px;" class="controls">
                                            <div class="tright">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="1">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">Division</td>
                                                            <td colspan="2">District</td>
                                                            <td colspan="2">Upazila</td>
                                                            <td colspan="2">Union/ward</td>
                                                            <td colspan="6">Education Cluster SL#</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group warning">
                                        <label style="color: hsl(0, 0%, 0%) !important; width: 300px;" for="typeahead" class="control-label"><i class="icon-edit"></i>Q2. GoB EIIN (Education Institute ldentification Number):</label>
                                        <div style="margin-left: 350px;" class="controls">
                                            <div class="tright">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="1">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                            <td>
                                                                <input type="text" id="inputWarning"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>




                            <div class="row-fluid">
                                <div class="box span12">
                                    <div class="box-header">
                                        <h2><i class="icon-edit"></i>Q3. What's type of institute/school? </h2>
                                        <div class="box-icon">
                                           
                                            <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
                                           
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    Kindergarten
                                                </label>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    Primary
                                                </label>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    NGO School
                                                </label>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    Technical School
                                                </label>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    High School
                                                </label>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    College
                                                </label>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    Madrasah
                                                </label>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    Vocational
                                                </label>
                                            </fieldset>
                                        </form>

                                    </div>
                                </div>
                                <!--/span-->

                            </div>
                            <!--/row-->

                            <div class="row-fluid">
                                <div class="box span12">
                                    <div class="box-header">
                                        <h2><i class="icon-edit"></i>Q4. What's the management type of institute/ school?</h2>
                                        <div class="box-icon">
                                           
                                            <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
                                            
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    Government
                                                </label>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    Non-Government
                                                </label>
                                                <label style="float: left; width: 20%;" class="radio">
                                                    <div class="radio" id="uniform-optionsRadios2">
                                                        <span>
                                                            <div class="radio" id="uniform-optionsRadios2"><span>
                                                                <input type="radio" name="optionsRadios" value="option2" id="optionsRadios2"></span></div>
                                                        </span>
                                                    </div>
                                                    NGO
                                                </label>
                                            </fieldset>
                                        </form>

                                    </div>
                                </div>
                                <!--/span-->

                            </div>
                            <!--/row-->


                            <div class="row-fluid">
                                <div class="box span12">
                                    <div class="box-header">
                                        <h2><i class="icon-edit"></i>Q5. what's the Establishment Date:</h2>
                                        <div class="box-icon">
                                           
                                            <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
                                            
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <div class="input-prepend">
                                                            <span style="height: 30px; line-height: 30px;" class="add-on">DD</span>
                                                            <input type="text" size="16" style="height: 30px; width: 20%;" id="prependedInput">
                                                        </div>
                                                        <div class="input-prepend">
                                                            <span style="height: 30px; line-height: 30px;" class="add-on">MM</span>
                                                            <input type="text" size="16" style="height: 30px; width: 20%;" id="prependedInput">
                                                        </div>
                                                        <div class="input-prepend">
                                                            <span style="height: 30px; line-height: 30px;" class="add-on">YY</span>
                                                            <input type="text" size="16" style="height: 30px; width: 20%;" id="prependedInput">
                                                        </div>
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </form>

                                    </div>
                                </div>
                                <!--/span-->

                            </div>
                            <!--/row-->


                            <div class="row-fluid">
                                <div class="box span12">
                                    <div class="box-header">
                                        <h2><i class="icon-edit"></i>Q 6. What is the school/institute name (English)? </h2>
                                        <div class="box-icon">
                                           
                                            <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
                                           
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <label class="radio">
                                                    <div class="ins-name">
                                                        <span>6.1</span>
                                                        <div class="txt-f1">Institute Name (English):</div>
                                                        <input type="text" name="" class="txt-f2">
                                                    </div>
                                                </label>
                                                <label class="radio">
                                                    <div class="ins-name">
                                                        <span>6.2</span>
                                                        <div class="txt-f1">Institute Name (Bangla):</div>
                                                        <input type="text" name="" class="txt-f2">
                                                    </div>
                                                </label>
                                                <label class="radio">
                                                    <div class="ins-name">
                                                        <span>6.3 Address:</span>
                                                        <input type="text" placeholder="House#" class="txt-f1" name="">
                                                        <input type="text" placeholder="Road#" class="txt-f1" name="">
                                                        <input type="text" placeholder="Section#" class="txt-f1 b-last" name="">
                                                    </div>
                                                </label>
                                                <label>
                                                    <div class="ins-name">
                                                        <p></p>
                                                        <input type="text" placeholder="Village/Moholla Name" class="txt-f1" name="">
                                                        <input type="text" placeholder="Union/Ward Name" class="txt-f1" name="">
                                                        <input type="text" placeholder="Upzila Name" class="txt-f1 b-last" name="">
                                                    </div>
                                                </label>
                                                <label>
                                                    <div class="ins-name">
                                                        <p></p>
                                                        <input type="text" placeholder="Sirajganj" class="txt-f1" id="007" name="">
                                                        <input type="text" placeholder="Rajshahi" class="txt-f1" name="">
                                                        <input type="text" placeholder="Bangladesh" class="txt-f1 b-last" name="">
                                                    </div>
                                                </label>

                                            </fieldset>
                                        </form>

                                    </div>
                                </div>
                                <!--/span-->

                            </div>
                            <!--/row-->


                            <div class="row-fluid">
                                <div class="box span12">
                                    <div class="box-header">
                                        <h2><i class="icon-edit"></i>Q7. What are the Students Information?</h2>
                                        <div class="box-icon">
                                         
                                            <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
                                            
                                        </div>
                                    </div>
                                    <div class="box-content">
                                            <form class="form-horizontal">
                                                    <fieldset>
                                                        <div class="control-group warning">
                                                            <label style="color: hsl(0, 0%, 0%) !important; width: 300px;" for="typeahead" class="control-label">7.1 How many shift in school</label>
                                                            <div style="margin-left: 350px;" class="controls">
                                                                <div class="box-content">

                                                                    <fieldset>
                                                                        <label class="radio" style="float: left; width: 20%;">
                                                                            <div id="uniform-optionsRadios2" class="radio">
                                                                                <span>
                                                                                    <div id="uniform-optionsRadios2" class="radio"><span>
                                                                                        <div class="radio" id="uniform-optionsRadios2"><span>
                                                                                            <input type="radio" id="optionsRadios2" value="option2" name="optionsRadios"></span></div>
                                                                                    </span></div>
                                                                                </span>
                                                                            </div>
                                                                            1(One)
                                                                        </label>
                                                                        <label class="radio" style="float: left; width: 20%;">
                                                                            <div id="uniform-optionsRadios2" class="radio">
                                                                                <span>
                                                                                    <div id="uniform-optionsRadios2" class="radio"><span>
                                                                                        <div class="radio" id="uniform-optionsRadios2"><span>
                                                                                            <input type="radio" id="optionsRadios2" value="option2" name="optionsRadios"></span></div>
                                                                                    </span></div>
                                                                                </span>
                                                                            </div>
                                                                            2(Two)
                                                                        </label>

                                                                    </fieldset>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="control-group warning">
                                                            <label style="color: hsl(0, 0%, 0%) !important; width: 300px;" for="typeahead" class="control-label">7.2 How many students in the school?</label>
                                                            <div class="clr"></div>
                                                            <div class="controls">
                                                                <label style="color: hsl(0, 0%, 0%); line-height: 60px; margin-right: 10%; width: 10%;" for="input2" class="control-label">Total</label>
                                                                <div class="student-box">
                                                                    <table width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Male/Boy</td>
                                                                                <td>Female/Girl</td>
                                                                                <td>Grand Total</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <input type="text" id="inputWarning"></td>
                                                                                <td>
                                                                                    <input type="text" id="inputWarning"></td>
                                                                                <td>
                                                                                    <input type="text" id="inputWarning"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="clr"></div>
                                                            <div style="margin-top: 2%;" class="controls">
                                                                <label style="color: hsl(0, 0%, 0%); line-height: 26px; margin-right: 10%; width: 11%; margin-left: -9px;" for="input2" class="control-label">Disable student</label>
                                                                <div class="student-box">
                                                                    <table width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <input type="text" id="inputWarning"></td>
                                                                                <td>
                                                                                    <input type="text" id="inputWarning"></td>
                                                                                <td>
                                                                                    <input type="text" id="inputWarning"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="clr"></div>
                                                            <div style="margin-top: 2%;" class="controls">
                                                                <label style="color: hsl(0, 0%, 0%); line-height: 26px; margin-right: 10%; width: 10%;" for="input2" class="control-label">Ethnic group</label>
                                                                <div class="student-box">
                                                                    <table width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <input type="text" id="inputWarning"></td>
                                                                                <td>
                                                                                    <input type="text" id="inputWarning"></td>
                                                                                <td>
                                                                                    <input type="text" id="inputWarning"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                </form>

                                            
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->


                            <div class="row-fluid">
                                <div class="box span12">
                                    <div class="box-header">
                                        <h2><i class="icon-edit"></i>Q 8. What are the school/institute communication details? </h2>
                                        <div class="box-icon">
                                           
                                            <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
                                          
                                        </div>
                                    </div>
                                    <div class="box-content">
                                      
                                         
                                                <form class="form-horizontal">
                                                    <fieldset>
                                                        <div class="control-group warning">
                                                            <label style="color: hsl(0, 0%, 0%) !important; width: 300px;" for="typeahead" class="control-label">8.1. Phone (with district code):</label>
                                                            <div style="margin-left: 350px;" class="controls">
                                                                <div class="box-content">

                                                                    <fieldset>
                                                                        <div style="width: 100%;" class="student-box">
                                                                            <div style="float: left; width: 45%;" class="td-left">
                                                                                <table width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div style="float: right; width: 45%;" class="td-right">
                                                                                <table width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>


                                                                    </fieldset>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="control-group warning">
                                                            <label style="color: hsl(0, 0%, 0%) !important; width: 300px;" for="typeahead" class="control-label">8.2. Mobile ( +88): </label>
                                                            <div style="margin-left: 350px;" class="controls">
                                                                <div class="box-content">
                                                                    <form class="form-horizontal">
                                                                        <fieldset>
                                                                            <div style="width: 100%;" class="student-box">
                                                                                <table width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                            <td>
                                                                                                <input type="text" id="inputWarning"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </fieldset>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="control-group warning">
                                                            <label style="color: hsl(0, 0%, 0%) !important; width: 300px;" for="typeahead" class="control-label">8.3. Fax (with code): </label>
                                                            <div style="margin-left: 350px;" class="controls">
                                                                <div class="box-content">
                                                                    <form class="form-horizontal">
                                                                        <fieldset>
                                                                            <div style="width: 100%;" class="student-box">
                                                                                <div style="float: left; width: 45%;" class="td-left">
                                                                                    <table width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <input type="text" id="inputWarning"></td>
                                                                                                <td>
                                                                                                    <input type="text" id="inputWarning"></td>
                                                                                                <td>
                                                                                                    <input type="text" id="inputWarning"></td>
                                                                                                <td>
                                                                                                    <input type="text" id="inputWarning"></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                                <div style="float: right; width: 45%;" class="td-right">
                                                                                    <table width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <input type="text" id="inputWarning"></td>
                                                                                                <td>
                                                                                                    <input type="text" id="inputWarning"></td>
                                                                                                <td>
                                                                                                    <input type="text" id="inputWarning"></td>
                                                                                                <td>
                                                                                                    <input type="text" id="inputWarning"></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>


                                                                        </fieldset>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="control-group warning">
                                                            <label style="color: hsl(0, 0%, 0%) !important; width: 300px;" for="typeahead" class="control-label">8.3. Fax (with code): </label>
                                                            <div style="margin-left: 350px;" class="controls">
                                                                <div class="box-content">
                                                                    <form class="form-horizontal">
                                                                        <fieldset>
                                                                            <div style="width: 100%;" class="student-box">
                                                                                <table width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <input type="text" style="width: 95%;" id="inputWarning"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </fieldset>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                </form>

                                           
                                       
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->

</div>


                        </div>



                        <div id="step2" class="step-pane">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="control-group">
                                        <label for="input1" class="control-label">Company Name</label>
                                        <div class="controls">
                                            <input type="text" id="input1">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="input2" class="control-label">Company Address</label>
                                        <div class="controls">
                                            <input type="text" id="input2">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="input3" class="control-label">WWW</label>
                                        <div class="controls">
                                            <input type="text" id="input3">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>




                        <div id="step3" class="step-pane">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="control-group">
                                        <label for="selectError30" class="control-label">Plain Select</label>
                                        <div class="controls">
                                            <select id="selectError30">
                                                <option>Option 1
                                                        </option>
                                                <option>Option 2
                                                        </option>
                                                <option>Option 3
                                                        </option>
                                                <option>Option 4
                                                        </option>
                                                <option>Option 5
                                                    </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="selectError0" class="control-label">Modern Select</label>
                                        <div class="controls">
                                            <select data-rel="chosen" id="selectError0" style="display: none;" class="chzn-done">
                                                <option>Option 1
                                                        </option>
                                                <option>Option 2
                                                        </option>
                                                <option>Option 3
                                                        </option>
                                                <option>Option 4
                                                        </option>
                                                <option>Option 5
                                                    </option>
                                            </select><div id="selectError0_chzn" class="chzn-container chzn-container-single" style="width: 0px;" title=""><a tabindex="-1" class="chzn-single" href="javascript:void(0)"><span>Option 1</span><div><b></b></div>
                                            </a>
                                                <div class="chzn-drop">
                                                    <div class="chzn-search">
                                                        <input type="text" autocomplete="off"></div>
                                                    <ul class="chzn-results"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="selectError10" class="control-label">Multiple Select / Tags</label>
                                        <div class="controls">
                                            <select data-rel="chosen" multiple="" id="selectError10" style="display: none;" class="chzn-done">
                                                <option>Option 1
                                                        </option>
                                                <option selected="">Option 2
                                                        </option>
                                                <option>Option 3
                                                        </option>
                                                <option>Option 4
                                                        </option>
                                                <option>Option 5
                                                    </option>
                                            </select><div id="selectError10_chzn" class="chzn-container chzn-container-multi" style="width: 0px;" title="">
                                                <ul class="chzn-choices">
                                                    <li class="search-choice"><span>Option 2
                                                        </span><a href="#" class="search-choice-close" rel="1"></a></li>
                                                    <li class="search-field">
                                                        <input type="text" style="width: 0px;" autocomplete="off" class="" value="Select Some Options"></li>
                                                </ul>
                                                <div class="chzn-drop">
                                                    <ul class="chzn-results"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="selectError20" class="control-label">Group Select</label>
                                        <div class="controls">
                                            <select data-rel="chosen" id="selectError20" data-placeholder="Your Favorite Football Team" style="display: none;" class="chzn-done">
                                                <option value=""></option>
                                                <optgroup label="NFC EAST">
                                                    <option>Dallas Cowboys
                                                            </option>
                                                    <option>New York Giants
                                                            </option>
                                                    <option>Philadelphia Eagles
                                                            </option>
                                                    <option>Washington Redskins
                                                        </option>
                                                </optgroup>
                                                <optgroup label="NFC NORTH">
                                                    <option>Chicago Bears
                                                            </option>
                                                    <option>Detroit Lions
                                                            </option>
                                                    <option>Green Bay Packers
                                                            </option>
                                                    <option>Minnesota Vikings
                                                        </option>
                                                </optgroup>
                                                <optgroup label="NFC SOUTH">
                                                    <option>Atlanta Falcons
                                                            </option>
                                                    <option>Carolina Panthers
                                                            </option>
                                                    <option>New Orleans Saints
                                                            </option>
                                                    <option>Tampa Bay Buccaneers
                                                        </option>
                                                </optgroup>
                                                <optgroup label="NFC WEST">
                                                    <option>Arizona Cardinals
                                                            </option>
                                                    <option>St. Louis Rams
                                                            </option>
                                                    <option>San Francisco 49ers
                                                            </option>
                                                    <option>Seattle Seahawks
                                                        </option>
                                                </optgroup>
                                                <optgroup label="AFC EAST">
                                                    <option>Buffalo Bills
                                                            </option>
                                                    <option>Miami Dolphins
                                                            </option>
                                                    <option>New England Patriots
                                                            </option>
                                                    <option>New York Jets
                                                        </option>
                                                </optgroup>
                                                <optgroup label="AFC NORTH">
                                                    <option>Baltimore Ravens
                                                            </option>
                                                    <option>Cincinnati Bengals
                                                            </option>
                                                    <option>Cleveland Browns
                                                            </option>
                                                    <option>Pittsburgh Steelers
                                                        </option>
                                                </optgroup>
                                                <optgroup label="AFC SOUTH">
                                                    <option>Houston Texans
                                                            </option>
                                                    <option>Indianapolis Colts
                                                            </option>
                                                    <option>Jacksonville Jaguars
                                                            </option>
                                                    <option>Tennessee Titans
                                                        </option>
                                                </optgroup>
                                                <optgroup label="AFC WEST">
                                                    <option>Denver Broncos
                                                            </option>
                                                    <option>Kansas City Chiefs
                                                            </option>
                                                    <option>Oakland Raiders
                                                            </option>
                                                    <option>San Diego Chargers
                                                        </option>
                                                </optgroup>
                                            </select><div id="selectError20_chzn" class="chzn-container chzn-container-single" style="width: 0px;" title=""><a tabindex="-1" class="chzn-single chzn-default" href="javascript:void(0)"><span>Your Favorite Football Team</span><div><b></b></div>
                                            </a>
                                                <div class="chzn-drop">
                                                    <div class="chzn-search">
                                                        <input type="text" autocomplete="off"></div>
                                                    <ul class="chzn-results"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div id="step4" class="step-pane">
                            <div class="alert alert-info">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                                       
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                                       
                            </p>
                            <div class="controls">
                                <label class="checkbox inline">
                                    <div class="checker" id="uniform-inlineCheckbox2"><span>
                                        <input type="checkbox" value="option5" id="inlineCheckbox2"></span></div>
                                    I agree
                                           
                                </label>
                            </div>
                        </div>
                        <div id="step5" class="step-pane">
                            <form class="form-horizontal">
                                <fieldset>

                                    <div class="control-group">
                                        <label class="control-label">Fullname:</label>
                                        <div class="controls">
                                            <span class="input-xlarge uneditable-input">Łukasz Holeczek</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Email:</label>
                                        <div class="controls">
                                            <span class="input-xlarge uneditable-input"></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Phone:</label>
                                        <div class="controls">
                                            <span class="input-xlarge uneditable-input">+48 123 456 789</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"></label>
                                        <div class="controls">
                                            <label class="checkbox">
                                                <div class="checker"><span>
                                                    <input type="checkbox" value=""></span></div>
                                                I confirm this information
                                                   
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
            <!--/span-->

        </div>
        <!--/row-->



    </div>
    <!-- end: Content -->

</div>
