﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>

<%@ Register assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" namespace="Microsoft.Reporting.WebForms" tagprefix="rsweb" %>




<script runat="server">
//void Page_Load(object sender, EventArgs e)
//{
//    if (!Page.IsPostBack)
//    {
//        //ReportViewer1.ProcessingMode = ProcessingMode.Remote;
//        //ReportViewer1.ServerReport.ReportServerUrl = new Uri(ConfigurationManager.AppSettings["ReportServerUrl"]);
//        //ReportViewer1.ServerReport.ReportPath = ConfigurationManager.AppSettings["ReportPath"];
//        //var rptParameters = new List<ReportParameter>
//        //                        {
//        //                            //Add report parameters here from the ViewBag
//        //                        };

//        //ReportViewer1.ServerReport.SetParameters(rptParameters);
//        //ReportViewer1.ServerReport.Refresh();



//        ReportViewer1.DocumentMapCollapsed = true;


//        DIMS.Models.GraphModels grpModel = new DIMS.Models.GraphModels();

//        ReportDataSource rptdataSource1 = new ReportDataSource();
//        string path = System.IO.Path.Combine(Server.MapPath("~/Rpts"), "Report1.rdlc");
//        ReportViewer1.LocalReport.DataSources.Add(rptdataSource1);
//        ReportViewer1.LocalReport.ReportPath = path;
//        rptdataSource1.Name = "DataSet1";
//        rptdataSource1.Value = grpModel.GetGeneralInformationsByStrcType(0, 0, 0, 0, "All");


//        // this.ReportViewer1.LocalReport.SetParameters(new ReportParameter[] { p1, p2, p3, p4, p5 });
//        this.ReportViewer1.LocalReport.Refresh();
//    }
//}
</script>

<div class="report-container">
    <form runat="server">
<asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
<rsweb:ReportViewer ID="ReportViewer1" runat="server" Font-Names="Verdana" Font-Size="8pt" WaitMessageFont-Names="Verdana" WaitMessageFont-Size="14pt">
   <%-- <LocalReport  ReportEmbeddedResource="DIMS.Rpts.DhazardsReport.rdlc">
        <DataSources>
            <rsweb:ReportDataSource DataSourceId="ObjectDataSource1" Name="DataSet1" />
        </DataSources>
    </LocalReport>--%>
</rsweb:ReportViewer>
     <%--   <asp:ObjectDataSource ID="ObjectDataSource1" runat="server" SelectMethod="GetGeneralInformationsByStrcType" TypeName="DIMS.Models.GraphModels, DIMS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
            <SelectParameters>
                <asp:Parameter DefaultValue="0" Name="division" Type="Int32"></asp:Parameter>
                <asp:Parameter DefaultValue="0" Name="district" Type="Int32"></asp:Parameter>
                <asp:Parameter DefaultValue="0" Name="upazila" Type="Int32"></asp:Parameter>
                <asp:Parameter DefaultValue="0" Name="union" Type="Int32"></asp:Parameter>
                <asp:Parameter DefaultValue="All" Name="areaType" Type="String"></asp:Parameter>
            </SelectParameters>
        </asp:ObjectDataSource>--%>
        </form>
    </div>


