﻿    
@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
}

@model DIMS.Models.ViewModels

<link href="~/Content/Form/css/JqueryUI.css" rel="stylesheet" />
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	

@foreach (var item in Model.PostDisasterInfo)
{
 
<script>


    var lat = "@item.GpsLatitude";
    var lng = "@item.GpsLongtitude";


    @*if (lat == "") {
        lat = "@item.District.Latitude";
     }
     if (lng == "") {
         lng = "@item.District.Longitiude";
     }*@
     var base = "@Request.Url.GetLeftPart(UriPartial.Authority)";
    var path = "@Request.ApplicationPath";
    var baseURL = base + path + "Images/";

    function initialize() {
        var myLatlng = new google.maps.LatLng(lat, lng);
        var mapOptions = {
            zoom: 10,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var image = baseURL + 'google-map-pointer-pink-th.png';
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: '@item.InstituteEng',
             icon: image
         });

         marker.setMap(map);
     }

     google.maps.event.addDomListener(window, 'load', initialize);

    </script>
 <script>
     var genId = "000";
     $(document).ready(function () {

         $(".fireextinguisher").click(function () {
             // alert($(".Others:checked").val());
             if ($(".fireextinguisher:checked").val() == "yes") {
                 $(".fireextinguisher-optional").css("display", "block");
             } else {

                 $(".fireextinguisher-optional").css("display", "none");

             }
         });


         $(".fireextinguisher-optional").css("display", "none");

         $("#datepicker").datepicker();
         $("#datepicker1").datepicker();

         var districtOption = "";


         $("[name=StudentMale]").keyup(
             function () {

                 if ($("[name=StudentMale]").val() != "" && $("[name=StudentFemale]").val() != "") {
                     var stumale = parseInt($("[name=StudentMale]").val());
                     var stuFemale = parseInt($("[name=StudentFemale]").val());
                     var sto = stumale + stuFemale;
                     $("[name=StudentTotal]").val(sto);
                 } else {
                     var stumale = parseInt($("[name=StudentMale]").val());
                     $("[name=StudentTotal]").val(stumale);
                 }
             }
             );


         $("[name=StudentFemale]").keyup(
            function () {


                if ($("[name=StudentMale]").val() != "" && $("[name=StudentFemale]").val() != "") {
                    //  var sto = parseInt($("[name=StudentMale]").val()) + parseInt($("[name=StudentFemale]").val());

                    var stumale = parseInt($("[name=StudentMale]").val());
                    var stuFemale = parseInt($("[name=StudentFemale]").val());
                    var sto = stumale + stuFemale;
                    $("[name=StudentTotal]").val(sto);
                } else {
                    var stumale = parseInt($("[name=StudentFemale]").val());
                    $("[name=StudentTotal]").val(stumale);
                }
            }
            );








         $("[name=teachersMale]").keyup(
             function () {

                 if ($("[name=teachersMale]").val() != "" && $("[name=teachersFemale]").val() != "") {
                     var stumale = parseInt($("[name=teachersMale]").val());
                     var stuFemale = parseInt($("[name=teachersFemale]").val());
                     var sto = stumale + stuFemale;
                     $("[name=teachersTotal]").val(sto);
                 } else {
                     var stumale = parseInt($("[name=teachersMale]").val());
                     $("[name=teachersTotal]").val(stumale);
                 }
             }
             );


         $("[name=teachersFemale]").keyup(
    function () {

        if ($("[name=teachersMale]").val() != "" && $("[name=teachersFemale]").val() != "") {
            var stumale = parseInt($("[name=teachersMale]").val());
            var stuFemale = parseInt($("[name=teachersFemale]").val());
            var sto = stumale + stuFemale;
            $("[name=teachersTotal]").val(sto);
        } else {
            var stumale = parseInt($("[name=teachersFemale]").val());
            $("[name=teachersTotal]").val(stumale);
        }
    }
    );


         $("[name=StudentDisableMale]").keyup(
             function () {

                 if ($("[name=StudentDisableMale]").val() != "" && $("[name=StudentDisableFemale]").val() != "") {
                     var stumale = parseInt($("[name=StudentDisableMale]").val());
                     var stuFemale = parseInt($("[name=StudentDisableFemale]").val());
                     var sto = stumale + stuFemale;
                     $("[name=StudentDisableTotal]").val(sto);
                 } else {
                     var stumale = parseInt($("[name=StudentDisableMale]").val());
                     $("[name=StudentDisableTotal]").val(stumale);
                 }
             }
             );


         $("[name=StudentDisableFemale]").keyup(
            function () {


                if ($("[name=StudentDisableMale]").val() != "" && $("[name=StudentDisableFemale]").val() != "") {
                    //  var sto = parseInt($("[name=StudentMale]").val()) + parseInt($("[name=StudentFemale]").val());

                    var stumale = parseInt($("[name=StudentDisableMale]").val());
                    var stuFemale = parseInt($("[name=StudentDisableFemale]").val());
                    var sto = stumale + stuFemale;
                    $("[name=StudentDisableTotal]").val(sto);
                } else {
                    var stumale = parseInt($("[name=StudentDisableFemale]").val());
                    $("[name=StudentDisableTotal]").val(stumale);
                }
            }
            );



         $("[name=StudentEthnicMale]").keyup(
            function () {

                if ($("[name=StudentEthnicMale]").val() != "" && $("[name=StudentEthnicFemale]").val() != "") {
                    var stumale = parseInt($("[name=StudentEthnicMale]").val());
                    var stuFemale = parseInt($("[name=StudentEthnicFemale]").val());
                    var sto = stumale + stuFemale;
                    $("[name=StudentEthnicTotal]").val(sto);
                } else {
                    var stumale = parseInt($("[name=StudentEthnicMale]").val());
                    $("[name=StudentEthnicTotal]").val(stumale);
                }
            }
            );


         $("[name=StudentEthnicFemale]").keyup(
            function () {


                if ($("[name=StudentEthnicMale]").val() != "" && $("[name=StudentEthnicFemale]").val() != "") {
                    //  var sto = parseInt($("[name=StudentMale]").val()) + parseInt($("[name=StudentFemale]").val());

                    var stumale = parseInt($("[name=StudentEthnicMale]").val());
                    var stuFemale = parseInt($("[name=StudentEthnicFemale]").val());
                    var sto = stumale + stuFemale;
                    $("[name=StudentEthnicTotal]").val(sto);
                } else {
                    var stumale = parseInt($("[name=StudentEthnicFemale]").val());
                    $("[name=StudentEthnicTotal]").val(stumale);
                }
            }
            );

         var temale = parseInt($("[name=teachersMale]").val());
         var tefemale = parseInt($("[name=teachersFemale]").val());

         var stumale = parseInt($("[name=StudentMale]").val());
         var stufemale = parseInt($("[name=StudentFemale]").val());

         var dismale = parseInt($("[name=StudentDisableMale]").val());
         var disfemale = parseInt($("[name=StudentDisableFemale]").val());

         var etmale = parseInt($("[name=StudentEthnicMale]").val());
         var etfemale = parseInt($("[name=StudentEthnicFemale]").val());

         var teachertotal = temale + tefemale;

         var StudentTotal = stumale + stufemale;
         var StudentDisableTotal = disfemale + dismale;
         var StudentEthnicTotal = etmale + etfemale;
         $("[name=StudentTotal]").val(StudentTotal);
         $("[name=StudentDisableTotal]").val(StudentDisableTotal);
         $("[name=StudentEthnicTotal]").val(StudentEthnicTotal);
         $("[name=teachersTotal]").val(teachertotal);

         $('#selectdivision').change(function () {
             var idx = this.selectedIndex;

             $("select#selectdivision").prop('selectedIndex', idx);
             var divisionId = $("select#selectdivision").val();

             if (idx > 0) {
                 $.post("/Setting/DivisionCode", {
                     divisionId: divisionId
                 }, function (data) {

                     var divVal = data.TxtCode;

                     $("#selectdistrict").html(data.Viewdta);
                     $("#selectdistrict").removeAttr("disabled");
                     $("[name=InstitudeDivision]").val(data.TxtName);
                     $("[name=Division1]").val(divVal.charAt(0));
                     $("[name=Division2]").val(divVal.charAt(1));
                     //$(".errormsg").text();
                     //$('#ajaxDiv').text(data.Text);
                 }, "json");
             }

             //alert(val);

         });

         $('#selectdistrict').change(function () {
             var idx = this.selectedIndex;

             $("select#selectdistrict").prop('selectedIndex', idx);
             var disId = $("select#selectdistrict").val();

             if (idx > 0) {
                 $.post("/Setting/DistrictCode", {
                     divisionId: disId
                 }, function (data) {

                     var disVal = data.TxtCode;

                     $("#selectupazilla").html(data.Viewdta);
                     $("#selectupazilla").removeAttr("disabled");
                     $("[name=InstitudeDistric]").val(data.TxtName);
                     $("[name=District1]").val(disVal.charAt(0));
                     $("[name=District2]").val(disVal.charAt(1));
                     $(".District1").val(disVal.charAt(0));
                     $(".District2").val(disVal.charAt(1));
                     //$(".errormsg").text();
                     //$('#ajaxDiv').text(data.Text);
                 }, "json");
             }

             //alert(val);

         });


         $('#selectupazilla').change(function () {
             var idx = this.selectedIndex;

             $("select#selectupazilla").prop('selectedIndex', idx);
             var divisionId = $("select#selectupazilla").val();
             if (idx > 0) {

                 $.post("/Setting/UpazillaCode", {
                     divisionId: divisionId
                 }, function (data) {

                     var upaVal = data.TxtCode;

                     $("#selectunion").html(data.Viewdta);

                     $("#selectunion").removeAttr("disabled");
                     $("[name=InstitudeUpazilla]").val(data.TxtName);

                     $("[name=Upazila1]").val(upaVal.charAt(0));
                     $("[name=Upazila2]").val(upaVal.charAt(1));
                     $(".Upazila1").val(upaVal.charAt(0));
                     $(".Upazila2").val(upaVal.charAt(1));
                     //$(".errormsg").text();
                     //$('#ajaxDiv').text(data.Text);
                 }, "json");
             }

             //alert(val);

         });


         $('#selectunion').change(function () {
             var idx = this.selectedIndex;


             $("select#selectunion").prop('selectedIndex', idx);
             var divisionId = $("select#selectunion").val();
             if (idx > 0) {

                 $.post("/Setting/UnionCode", {
                     divisionId: divisionId
                 }, function (data) {

                     var divVal = data.TxtCode;

                     //$("#selectunion").html(data.Viewdta);
                     $("#selectunion").removeAttr("disabled");
                     $("[name=InstitudeUnion]").val(data.TxtName);
                     $("[name=Union1]").val(divVal.charAt(0));
                     $("[name=Union2]").val(divVal.charAt(1));
                     //$(".errormsg").text();
                     //$('#ajaxDiv').text(data.Text);
                 }, "json");

             }
             //alert(val);

         });

         $('[name=InstituteType][value="@item.InstituteType"]').prop('checked', true);
         $('[name=ManagementType][value="@item.ManagementType"]').prop('checked', true);

         $('[name=SchoolArea][value="@item.SchoolArea"]').prop('checked', true);
         $('[name=GraphicalLocation][value="@item.GraphicalLocation"]').prop('checked', true);
         
         $('[name=DisasterName1][value="@item.HazardType"]').prop('checked', true);
         $('[name=embankment][value="@item.Embankment"]').prop('checked', true);
         $('[name=DamageType][value="@item.DamageType"]').prop('checked', true);
         
         $('[name=dataMethod][value="@item.DataCollectionMethod"]').prop('checked', true);
         
         $('#selectdivision option[value="@item.DivisionId"]').prop('selected', true);
         $('#selectdistrict option[value="@item.DistrictId"]').prop('selected', true);
         $('#selectupazilla option[value="@item.UpazillaId"]').prop('selected', true);
         $('#selectunion option[value="@item.UnionId"]').prop('selected', true);


         var gobval = "@item.GobEIIN";
         $("[name=GobEIIN1]").val(gobval.charAt(0));
         $("[name=GobEIIN2]").val(gobval.charAt(1));
         $("[name=GobEIIN3]").val(gobval.charAt(2));
         $("[name=GobEIIN4]").val(gobval.charAt(3));
         $("[name=GobEIIN5]").val(gobval.charAt(4));
         $("[name=GobEIIN6]").val(gobval.charAt(5));
         $("[name=GobEIIN7]").val(gobval.charAt(6));
         $("[name=GobEIIN8]").val(gobval.charAt(7));
         $("[name=GobEIIN9]").val(gobval.charAt(8));
         $("[name=GobEIIN10]").val(gobval.charAt(9));
         $("[name=GobEIIN11]").val(gobval.charAt(10));




       var insId = "@item.InstituteId";

         $("[name=Division1]").val(insId.charAt(0));
         $("[name=Division2]").val(insId.charAt(1));

         $("[name=District1]").val(insId.charAt(3));
         $("[name=District2]").val(insId.charAt(4));


         $("[name=Upazila1]").val(insId.charAt(6));
         $("[name=Upazila2]").val(insId.charAt(7));

         $("[name=Union1]").val(insId.charAt(9));
         $("[name=Union2]").val(insId.charAt(10));

         $("[name=educlsl1]").val(insId.charAt(12));
         $("[name=educlsl2]").val(insId.charAt(13));
         $("[name=educlsl3]").val(insId.charAt(14));
         $("[name=educlsl4]").val(insId.charAt(15));
         $("[name=educlsl5]").val(insId.charAt(16));
         $("[name=educlsl6]").val(insId.charAt(17));





     });
     function errclose() {

         $(".error-container").css("display", "none")

     }

     function formValidate() {
         var InstituteEng = $("[name=InstituteEng]").val();
         var Agencies = $("[name=Agencies]").val();
         var InstituteId = "";
         var errors = "";
         if (InstituteEng == "") {
             errors += "<br/>Q. 1.1.  <br/>";
         }



         var Union = "";
         $(".Union").each(function () {
             if ($(this).val() != "") {
                 Union += $(this).val();
             }
         });

         var Division = "";
         $(".Division").each(function () {
             if ($(this).val() != "") {
                 Division += $(this).val();
             }
         });

         var District = "";
         $(".District").each(function () {
             if ($(this).val() != "") {
                 District += $(this).val();
             }
         });

         var Upazila = "";
         $(".Upazilla").each(function () {
             if ($(this).val() != "") {
                 Upazila += $(this).val();
             }
         });

         var Cluster = "";
         $(".Cluster").each(function () {
             if ($(this).val() != "") {
                 Cluster += $(this).val();
             }
         });


         InstituteIds = Division + "-" + District + "-" + Upazila + "-" + Union + "-" + Cluster;

         //alert(InstituteIds);



         if (InstituteIds == "") {
             errors += "<br/>Q1. can't be empty <br/>";
         }

         if (InstituteIds.length < 18) {
             errors += "Q1. Must be 14 Caracter <br/>";
         }

         if (Agencies == "") {
             errors += "<br/>Q. 3.  <br/>";
         }

         var DisasterName = $("[name=DisasterName]").val();

         if (DisasterName == "") {
             errors += "Q. 4.  <br/>";
         }

         var DisasterName1 = $("[name=DisasterName1]:checked").val();

         if (DisasterName1 == null) {
             errors += "Q. 4.1  <br/>";
         }
         var InstituteType = $("[name='InstituteType']:checked").val();
         if (InstituteType == null) {
             errors += "Q. 5  <br/>";
         }
         var ManagementType = $("[name='ManagementType']:checked").val();
         if (ManagementType == null) {
             errors += "Q. 7  <br/>";
         }
         var authorityType = $("[name='authorityType']").val();

         if (authorityType == "") {
             errors += "Q. 7.1  <br/>";
         }
         var SchoolArea = $("[name='SchoolArea']:checked").val();
         if (SchoolArea == null) {
             errors += "Q. 10  <br/>";
         }

         var GraphicalLocation = $("[name='GraphicalLocation']:checked").val();
         if (GraphicalLocation == null) {
             errors += "Q. 12  <br/>";
         }

         var DamageType = $("[name='DamageType']:checked").val();
         if (DamageType == null) {
             errors += "Q. 14.1  <br/>";
         }



         var DamageAmount = $("[name='DamageAmount']").val();
         if (DamageAmount == "") {
             errors += "Q. 14.2  <br/>";
         }
         var MinBdtReq = $("[name='MinBdtReq']").val();
         if (MinBdtReq == "") {
             errors += "Q. 15.1  <br/>";
         }
         var LocalSupport = $("[name='LocalSupport']").val();
         if (LocalSupport == "") {
             errors += "Q. 15.2  <br/>";
         }

         var dataMethod = $("[name='dataMethod']:checked").val();
         if (dataMethod == null) {
             errors += "Q. 16  <br/>";
         }


         var DataCollectionDate = $("[name='DataCollectionDate']").val();
         if (DataCollectionDate == "") {
             errors += "Q. 19  <br/>";
         }
         $('#selectdivision').val();
         $('#selectdistrict').val();
         $('#selectupazilla').val();
         $('#selectunion').val();

         var ext = $('#fu-my-simple-upload-with-size').val().split('.').pop().toLowerCase();

         if ($('#fu-my-simple-upload-with-size').val() != "") {
             if ($.inArray(ext, ['jpg']) == -1) {
                 errors += "Invalid extension! Only allowed .jpg  Images <br/>";
                 $(".error-container").css("display", "block");

                 $(".errormsg").html("Please check following questions " + errors + " validate required field");
                 return false;
             }
         }
         if (InstituteEng == "" || InstituteIds.length < 14 || DataCollectionDate == "" || dataMethod == null || LocalSupport == "" || MinBdtReq == ""
             || DamageAmount == "" || DamageType == null || GraphicalLocation == null || SchoolArea == null || Agencies == "" || DisasterName == ""
             || DisasterName1 == null || InstituteType == null || ManagementType == null 
             ) {
             $(".error-container").css("display", "block");

             $(".errormsg").html("Please check following questions " + errors + " validate required field");

             return false;
         } else {
             return true;

         }
     }

            </script>


<div class="error-container">

    <span class="errormsg">Error Message</span><span class="er-close" onclick="errclose()">x</span>
</div>
    <div class="tab-pane active" id="first">

        <span class="title-tab">Post Disaster Data Collection Tool (Online Rapid Survey)</span>
         <form  method="POST" class='form-horizontal form-bordered form-validate' onsubmit="return formValidate()" id="multiform" enctype="multipart/form-data" action="/PostDisaster/Postdisaster">
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title" style="margin-top: 0;">
                            <h3>School/Institute name General Information</h3>
                        </div>
                                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered'>
                                <div class="control-group">
                                    <label class="control-label">1.1 Institute name (English)<span style="color:red;">*</span>:</label>
                                    <div class="controls">
                                        <div class="span333 moze-bor">
                                            <input class="input-xlarge span11 classUpCase" value="@item.InstituteEng" type="text" name="InstituteEng">
                                       </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">1.2 Institute name (বাংলা):</label>
                                    <div class="controls">
                                        <div class="span333 moze-bor">
                                            <input class="input-xlarge span11 classUpCase" value="@item.InstituteBng" type="text" name="InstituteBng">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">1.3 Address :</label>
                                    <div class="controls">
                                        <div class="control-group qthree">

                                            <span class="help-inline pop">House </span>
                                           <input class="span2 InstituteAddress" type="text" value="@item.InstitudeHouse" name="InstitudeHouse">
                                            <span class="help-inline pop">Road </span>
                                             <input class="span2 InstituteAddress" type="text" value="@item.InstitudeRoad" name="InstitudeRoad">
                                            <span class="help-inline pop">Section</span>
                                            <input class="span2 InstituteAddress" type="text" value="@item.InstitudeSection" name="InstitudeSection">
                                            <div style="clear:both;"><br /></div>
                                            <span class="help-inline pop">Village/Moholla </span>
                                             <input class="span2 InstituteAddress" type="text" value="@item.InstitudeVillage" name="InstitudeVillage">
                                            <span class="help-inline pop">Union/Ward </span>
                                            <input class="span2 instituteaddress" readonly="true" type="text" value="@item.UnionId" name="institudeunion">
                                            <span class="help-inline pop">upazila </span>
                                            <input class="span2 instituteaddress" readonly="true" type="text" value="@item.UpazillaId" name="institudeupazilla">
                                            <div style="clear:both;"><br /></div>
                                            <span class="help-inline pop">district </span>
                                            <input class="span2 instituteaddress" readonly="true" type="text" value="@item.DistrictId" name="institudedistric">
                                            <span class="help-inline pop">division </span>
                                             <input class="span2 instituteaddress" readonly="true" type="text" value="@item.DivisionId" name="institudedivision">
                                           <span class="help-inline pop">Country </span>
                                            <input class="span2 InstituteAddress" readonly="true" type="text" Value="Bangladesh" name="InstituteAddressBangladesh">


                                         

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>2. Identification Code</h3>
                        </div>
                            <div class="box-content nopadding">
                                    <div class="control-group">
                                <label class="control-label">a). Serial Number:</label>
                                <div class="controls">

                                    <div class="span333">
                                        <input class="span333 Serial integer"  type="text"  value="@item.SerialNo" name="SerialNo">

                                        <input   type="hidden"  value="@item.postId" name="postId">

                                    </div>


                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">b). Institute ID (Cluster ID)<span style="color:red;">*</span>:</label>
                                <div class="controls">


                                    <div class="span31" style="background:#FBE4D5;padding:10px;margin-left:0px;width: 122px !important;">
                                                                      <div>


                                            @if (Model.DivisionInfo.Count > 0)
                                            {

                                                <select class="input-large" name="selectdivision" id="selectdivision" style="width: 100%;" >
                                                    <option value="" selected="selected">Division</option>
                                                    @foreach (var div in Model.DivisionInfo)
                                                    {         
                                                        <option value="@div.DivisionId">@div.DivisionName</option>            
                                                    }


                                                </select>
                                            }
                                            else
                                            {

                                                <select class="input-large" name="selectdivision" disabled="disabled">
                                                    <option value="" selected="selected">Division</option>

                                                </select>
                                            }



                                        </div>
          <input class="spanmn InstituteId Division" maxlength="1" readonly="true" type="text"  placeholder="0" name="Division1">
                                        <input class="spanmn InstituteId Division" maxlength="1" readonly="true" type="text"  placeholder="0" name="Division2">
                                    </div>

                                    <div class="span31" style="background:#D9E2F3;padding:10px;margin-left:0px;width: 122px !important;">
                                        <div >
                                        <div>
                                            
                                            @if (Model.DistrictInfo.Count > 0)
                                            {
                                            <select name="selectdistrict" id="selectdistrict" style="width: 100%;"  class='chosen-select'>
                                                 <option value="" selected="selected">District</option>
                                                    @foreach (var div in Model.DistrictInfo)
                                                    {         
                                                        <option value="@div.DistrictId">@div.DistrictName</option>            
                                                    }

                                            </select>
                                            }
                                            else
                                            {

                                                <select class="input-large" name="selectdistrict" disabled="disabled">
                                                    <option value="" selected="selected">Create District</option>

                                                </select>
                                            }


                                        </div>
                                    

                                        </div>
                                        <input class="spanmn InstituteId District District1" maxlength="1" readonly="true" type="text"  placeholder="0"  name="District1">
                                        <input class="spanmn InstituteId District District2" maxlength="1" readonly="true" type="text"  placeholder="0" name="District2">
                                    </div>

                                    <div class="span31" style="background:#C5E0B3;padding:10px;margin-left:0px;width: 122px !important;">
                                        <div>
   
                                            

                                              @if (Model.UpazillaInfo.Count > 0)
                                              {
                                            <select name="selectupazilla" id="selectupazilla" style="width: 100%;"  class='chosen-select'>
                                                 <option value="" selected="selected">Upazilla</option>
                                                    @foreach (var div in Model.UpazillaInfo)
                                                    {         
                                                        <option value="@div.UpazillaId">@div.UpazillaName</option>            
                                                    }

                                            </select>
                                              }
                                              else
                                              {
                                                  
                                                  <select class="input-large" name="selectupazilla" disabled="disabled">
                                                    <option value="" selected="selected">Create Upazilla</option>

                                                </select>
                                                  
                                              }
                                             
                                        </div>
                                     


                                        <input class="spanmn InstituteId Upazilla" maxlength="1" readonly="true" type="text"  placeholder="0" name="Upazila1">
                                        <input class="spanmn InstituteId Upazilla" maxlength="1" readonly="true" type="text"  placeholder="0" name="Upazila2">
                                    </div>

                                    <div class="span31" style="background:#FFE599;padding:10px;margin-left:0px;width: 122px !important;">
                                         <div>

                                               @if (Model.UnionInfo.Count > 0)
                                               {
                                            <select name="selectunion" id="selectunion" style="width: 100%;"  class='chosen-select'>
                                                 <option value="" selected="selected">Union</option>
                                                    @foreach (var div in Model.UnionInfo)
                                                    {         
                                                        <option value="@div.UnionId">@div.UnionName</option>            
                                                    }

                                            </select>
                                               }
                                               else
                                               {
                                                  
                                                  <select class="input-large" name="selectunion" disabled="disabled">
                                                    <option value="" selected="selected">Create Union</option>

                                                </select>
                                                  
                                               }
                                           
                                        </div>
                                      
                                        <input class="spanmn InstituteId Union" maxlength="1" readonly="true" type="text"  placeholder="0" name="Union1">
                                        <input class="spanmn InstituteId Union" maxlength="1" readonly="true" type="text"  placeholder="0" name="Union2">
                                    </div>

                                    <div class="span33" style="background:#D0CECE; padding:10px;margin-left:0px;width:376px !important;">
                                        <p>Education Cluster Sl#</p>
                                        <input class="spanmn InstituteId integer Cluster" maxlength="1" type="text"   name="educlsl1">
                                        <input class="spanmn InstituteId integer Cluster" maxlength="1" type="text"   name="educlsl2">
                                        <input class="spanmn InstituteId integer Cluster" maxlength="1" type="text"   name="educlsl3">
                                        <input class="spanmn InstituteId integer Cluster" maxlength="1" type="text"   name="educlsl4">
                                        <input class="spanmn InstituteId integer Cluster" maxlength="1" type="text"   name="educlsl5">
                                        <input class="spanmn InstituteId integer Cluster" maxlength="1" type="text"   name="educlsl6">
                                    </div>


                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">c). GoB EIIN (Education Institute Identification Number):</label>
                                <div class="controls">

                                    <div class="span333">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN1">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN2">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN3">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN4">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN5">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN6">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN7">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN8">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN9">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN10">
                                        <input class="spanmn GobEIIN integer" maxlength="1" type="text"  placeholder="0" name="GobEIIN11">
                                    </div>


                                </div>
                            </div>

                        </div>

                      
      
                    </div>
                </div>
            </div>
         
              <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3> 3. Name of the Agencies involved in the Assessment/Data Collection: </h3>
                        </div>
                         <div class="box-content nopadding">
                                         <div class="control-group">
                                    <label class="control-label">Name of the Agencies<span style="color:red;">*</span>:</label>
                        <div class="controls">
                           <div class="span333">
                                        <input type="text" name="Agencies" value="@item.NameOfAgency" placeholder="Enter Agencies Name" class="span333 Agencies ">
                                        
                                    </div>
                            </div>
                                             </div>
                        </div>
                    </div>
                </div>
            </div>

               <div class="row-fluid">
                  <div class="span12">
                      <div class="box box-bordered">
                         <div class="box-title">
                            <h3> 4.0.Disaster/Hazard Name: </h3>
                        </div>
                           <div class="box-content nopadding">
                 <div class="control-group">
                                    <label class="control-label">Disaster/Hazard Name<span style="color:red;">*</span>:</label>
                                    <div class="controls">
                                        <div class="span333 moze-bor">
                                            <input type="text" name="DisasterName" value="@item.HazardName" class="input-xlarge span11 classUpCase">
                                        </div>
                                    </div>
                                </div>
                               </div>
                          </div>
                      </div>
             </div>
              <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3> 4.1. Disaster/Hazard type<span style="color:red;">*</span>: </h3>
                        </div>
                        <div class="box-content nopadding">
                           <div class="control-group qthreeth">
                                <label class="checkbox repo">
                                    <input type="radio" class="experienced-disaster1" name="DisasterName1" value="FLood">Flood</label>
                                <label class="checkbox repo">
                                    <input type="radio" class="experienced-disaster1" name="DisasterName1" value="Cyclone">Cyclone</label>
                                <label class="checkbox repo">
                                    <input type="radio" class="experienced-disaster1" value="Tornado" name="DisasterName1">Tornado</label>
                                <label class="checkbox repo">
                                    <input type="radio" class="experienced-disaster1" value="Tidal Surge" name="DisasterName1">Tidal Surge</label>
                                <label class="checkbox repo">
                                    <input type="radio" class="experienced-disaster1" value="River Bank Erosion" name="DisasterName1">River Bank Erosion</label>
                                <label class="checkbox repo">
                                    <input type="radio" class="experienced-disaster1" value="Water Logging" name="DisasterName1">Water Logging</label>
                                <label class="checkbox repo">
                                    <input type="radio" value="Salinity" class="experienced-disaster1" name="DisasterName1">Salinity</label>
                                <label class="checkbox repo">
                                    <input type="radio" value="Fire" class="experienced-disaster1" name="DisasterName1">Fire</label>
                                <label class="checkbox repo">
                                    <input type="radio" value="Earth Quick" class="experienced-disaster1" name="DisasterName1">Earth Quick</label>
                                <label class="checkbox repo">
                                    <input type="radio" value="Land Slide" class="experienced-disaster1" name="DisasterName1">Land Slide</label>
                                <label class="checkbox repo">
                                    <input type="radio" value="Seasonal Strom" class="experienced-disaster1" name="DisasterName1">Seasonal Strom</label>
                                <label class="checkbox repo">
                                    <input type="radio" value="Flash Flood" class="experienced-disaster1" name="DisasterName1">Flash Flood</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>5.  School/Institute’s Type <span style="color:red;">*</span> </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="Kindergarten">Kindergarten</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="Primary">Primary</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="NGO School">NGO School</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="Technical School">Technical School</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="High School">High School</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="College">College</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="Madrasa">Madrasa</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="Vocational">Vocational</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                 <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>6 Establishment date :</h3>
                        </div>

                        <div class="box-content nopadding">
                            <div class="control-group qthree span333">
                         
                                <div class="control-group">
											<label class="control-label" for="textfield">Establishment date</label>
											<div class="controls">
												<input type="text" maxlength="4" value="@item.EstabilishmentDate" class="input-medium  integer EstabilishmentDate span2"  name="textfield">
												
											</div>
										</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         

            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>7.Management type of institute/ school<span style="color:red;">*</span> </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="ManagementType" value="Government">Government</label>
                                <label class="radio">
                                    <input type="radio" name="ManagementType" value="Non-Government">Non-Government</label>
                                <label class="radio">
                                    <input type="radio" name="ManagementType" value="NGO">NGO</label>
                                 <label class="radio">
                                    <input type="radio" name="ManagementType" value="Private">Private</label>
                            </div>
                        </div>

                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered'>
                                <div class="control-group">
                                    <label class="control-label">7.1 Authority Type <span style="color:red;">*</span>:</label>
                                    <div class="controls">
                                        <div class="span4">
                                            <select class="chosen-select" id="authorityType" style="width: 100%;" name="authorityType">
                                                <option value="DPE">DPE</option>
                                                <option value="DSHE">DSHE</option>
                                                <option value="BMEB">BMEB</option>
                                                                                                <option value="BNFE">BNFE</option>
                                                   <option value="BTEB">BTEB</option>
                                                  
                                                <option value="OTHERS">OTHERS</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>8. School/Institute’s students information<span style="color:red;">*</span></h3>
                        </div>
                       
                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered'>

                                <div class="control-group">
                                    <label class="control-label" style="width:300px;">
                                        <br />
                                        Total</label>
                                    <div class="controls opthion" style="margin-left:320px;">
                                    <label class="control-label" style="background: #FBE4D5;margin-bottom:5px;">Male/Boy</label>
                                    <label class="control-label" style="background: #C5E0B3;">Female/Girl</label>
                                    <label class="control-label" style="background: #FFE599;">Grand Total(All Students)</label>
                                        
                                        <div class="span334 moze-bor" style="margin-left: 0;">
                                            <input class="input-xlarge integer" value="@item.StudentMale" maxlength="4"  type="text" name="StudentMale">
                                            <input class="input-xlarge integer" maxlength="4" value="@item.StudentFemale" type="text" name="StudentFemale">
                                            <input class="input-xlarge integer" maxlength="4" value="0" readonly="true" type="text" name="StudentTotal">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" style="width:300px;">Accessible to children with physical 
disabilities
</label>
                                    <div class="controls" style="margin-left:320px;">
                                        <div class="span334 moze-bor" style="margin-left: 0;">
                                            <input class="input-xlarge integer" maxlength="4" value="@item.StudentDisableMale" type="text" name="StudentDisableMale">
                                            <input class="input-xlarge integer" maxlength="4" value="@item.StudentDisableFeMale" type="text" name="StudentDisableFemale">
                                            <input class="input-xlarge integer" maxlength="4" value="0" readonly="true" type="text" name="StudentDisableTotal">

                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" style="width:300px;">Ethnic group</label>
                                    <div class="controls" style="margin-left:320px;">
                                        <div class="span334 moze-bor" style="margin-left: 0;">
                                            <input class="input-xlarge integer" maxlength="4" value="@item.StudentEthnicMale" type="text" name="StudentEthnicMale">
                                            <input class="input-xlarge integer" maxlength="4" value="@item.StudentEthnicFeMale" type="text" name="StudentEthnicFemale">
                                            <input class="input-xlarge integer" maxlength="4" value="0" type="text" readonly="true" name="StudentEthnicTotal">

                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>

                    </div>
                </div>
            </div>



                <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>9. School/Institute’s teachers information<span style="color:red;">*</span>:</h3>
                        </div>
                       
                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered'>

                                <div class="control-group">
                                    <label class="control-label" style="width:300px;">
                                        <br />
                                        Total</label>
                                    <div class="controls opthion" style="margin-left:320px;">
                                    <label class="control-label" style="background: #FBE4D5;margin-bottom:5px;">Male </label>
                                    <label class="control-label" style="background: #C5E0B3;">Female</label>
                                    <label class="control-label" style="background: #FFE599;">Grand Total(All Teacher)</label>
                                        
                                        <div class="span334 moze-bor" style="margin-left: 0;">
                                            <input class="input-xlarge integer" maxlength="4" value="@item.TeacherMale"  type="text" name="teachersMale">
                                            <input class="input-xlarge integer" maxlength="4" value="@item.TeacherFemale" type="text" name="teachersFemale">
 
                                            <input class="input-xlarge integer" maxlength="4"  readonly="true" type="text" name="teachersTotal">
                                            
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                               <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>10. Institute/school area type <span style="color:red;">*</span></h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="SchoolArea" value="Rural">Rural</label>
                                <label class="radio">
                                    <input type="radio" name="SchoolArea" value="Urban">Urban</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
           <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3> 11. Geographical GPS/Geo code</h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <span class="help-inline">Latitude </span>
                                <input class="span98 Latitude" value="@item.GpsLatitude" name="GpsLatitude" type="text">
                                <span class="help-inline">Longitude </span>
                                <input class="span98 Longitude" value="@item.GpsLongtitude" name="GpsLongtitude" type="text">
                                <span class="help-inline">Altitude </span>
                                <input class="span98 Altitude" value="@item.Altitude" name="Altitude" type="text">
                                <span class="help-inline">Meter</span>
                            </div>
                        </div>

                        <div class="box-content nopadding">
                         <div class="map-im">
                              <div id="map-canvas" style="height:393px;width:100%; padding:2px; border:solid 1px #999;">
        
    </div>
                              


                            </div>

                        <div class="map-im1">
                            <div class="sctit">
                         
                                    <input  type="file" name="MyFile" id="fu-my-simple-upload-with-size" />

                                <span class="fileupload-buttonbar progress"></span>
                            </div>
                            @{
                                               string imgPath = item.InstituteId + ".jpg";
                             
                            <img style="width:100%;" src="~/Uploads/post/@imgPath" />
                            }
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>12. Geographical location of the school<span style="color:red;">*</span> </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="GraphicalLocation" value="Plain Land">Plain Land</label>
                                <label class="radio">
                                    <input type="radio" name="GraphicalLocation" value="Hill Tract">Hill Tract</label>
                                <label class="radio">
                                    <input type="radio" name="GraphicalLocation" value="Seashore">Seashore</label>
                                <label class="radio">
                                    <input type="radio" name="GraphicalLocation" value="Haor">Haor</label>

                                  <label class="radio">
                                    <input type="radio" name="GraphicalLocation" value="Marsh">Marsh</label>
                                <label class="radio">
                                    <input type="radio" name="GraphicalLocation" value="Char">Char </label>
                                <label class="radio">
                                    <input type="radio" name="GraphicalLocation" value="Offshore Island">Offshore Island</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                 <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>13 School/institute position regarding Embankment(if applicable) </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="embankment" value="On The Embankment">On The Embankment</label>
                                <label class="radio">
                                    <input type="radio" name="embankment" value="In The Embankment">In The Embankment</label>
                                <label class="radio" style="width:200px;">
                                    <input type="radio" name="embankment" value="Outside The Embankment">Outside The Embankment</label>
                                

                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3> 14. School/Institute’s damages information  </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered'>
                                <div class="control-group">
                                    <label class="control-label">14.1. Damages type<span style="color:red;">*</span>:</label>
                                    <div class="controls">
                                        <div class="span333">




											<div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" value="No Damage" name="DamageType">No Damage</label>
                                <label class="radio">
                                    <input type="radio" value="Slightly Damage" name="DamageType">Slightly Damage</label>
                                <label class="radio">
                                    <input type="radio" value="Partially Damage" name="DamageType">Partially Damage</label>
                                 <label class="radio">
                                    <input type="radio" value="Fully Damage" name="DamageType">Fully Damage</label>
                            </div>
												
											
										
                                        </div>


                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">14.2 Damage in BDT<span style="color:red;">*</span>:</label>
                                    <div class="controls">
                                        <div class="span334">
                                            <input class="span334 DamageAmount integer" value="@item.DamageAmount" maxlength="8" placeholder="Enter Damage Amount" name="DamageAmount" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">14.3. Damage Description:</label>
                                    <div class="controls">
                                        <div class="span333">
                                             <textarea class="span333 DamageDescription" placeholder="Enter Damage Description"  name="DamageDescription">
                                                 @item.DamageDescription
                                                 </textarea>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>15. School/Institute’s minimum requirement and local support/commitment:  </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered dmis14 '>

                                <div class="control-group">
                                    <label class="control-label">15.1.Minimum requirement (BDT)<span style="color:red;">*</span>:</label>
                                    <div class="controls">
                                        <div class="span334">
                                            <input class="span334 MinBdtReq integer " value="@item.MinBdtReq" name="MinBdtReq" maxlength="8" type="text">
                                        </div>
                                    </div>
                                </div>

                                 <div class="control-group">
                                    <label class="control-label">15.2.Minimum requirement Details:</label>
                                    <div class="controls">
                                         <div class="span333">
                                             <textarea class="span333 DamageDescription" maxlength="200" placeholder="Enter Minimum requirement" name="MinBdtReqDtl">
                                                 @item.MinimumReqDtl
                                                 </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">15.3. Local support/commitment <span style="color:red;">*</span>:</label>
                                    <div class="controls">
                                        <div class="span334">
                                            <input class="span334 integer" value="@item.LocalSupport" name="LocalSupport" maxlength="8"  type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">15.4.Local support/commitment Details:</label>
                                    <div class="controls">
                                         <div class="span333">
                                             <textarea class="span333 DamageDescription" maxlength="200"  placeholder="Enter Minimum requirement" name="LocalSupportDtl">
                                                 @item.LocalSuptDtl
                                                 </textarea>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>16 School/Institute’s data collection method<span style="color:red;">*</span>: </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio" style="width:220px;">
                                    <input type="radio" value="Physical" name="dataMethod">Physical (Hard Copy) Questionnaire </label>

                                  <label class="radio">
                                    <input type="radio" value="Mobile" name="dataMethod">Mobile</label>
                                <label class="radio">
                                    <input type="radio" value="Online" name="dataMethod">Online</label>
                                <label style="width:200px;" class="radio">
                                    <input type="radio" value="Email" name="dataMethod">Email</label>
                                

                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>17. Data Provider Information:  </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="form-horizontal form-bordered dmis14 ">

                                <div class="control-group">
                                    <label class="control-label">17.1.Name:</label>
                                    <div class="controls">
                                        <div class="span334">
                                            <input type="text"  name="DataProName" value="@item.ProviderName" class="span334 ">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">17.2. Designation :</label>
                                    <div class="controls">
                                        <div class="span334">
                                            <input type="text"  name="DataProDesignation" value="@item.ProviderDesignation" class="span334 ">
                                        </div>
                                    </div>
                                </div>
                               
                                 <div class="control-group">
                                    <label class="control-label">17.3. Signature :</label>
                                    <div class="controls">
                                        <div class="span334">
                                            <input type="text"  name="DataProSig" value="@item.ProviderSignature" class="span334 ">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


                  <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>18. Data Verifier Information:  </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="form-horizontal form-bordered dmis14 ">

                                <div class="control-group">
                                    <label class="control-label">18.1.Name:</label>
                                    <div class="controls">
                                        <div class="span334">
                                            <input type="text"  name="DataVrfyName" value="@item.VerifierName" class="span334 ">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.2. Designation :</label>
                                    <div class="controls">
                                        <div class="span334">
                                            <input type="text"  name="DataVrfyDesignation" class="span334 " value="@item.VerifierDesignation">
                                        </div>
                                    </div>
                                </div>
                               
                                 <div class="control-group">
                                    <label class="control-label">18.3. Signature :</label>
                                    <div class="controls">
                                        <div class="span334">
                                            <input type="text"  name="sinature" class="span334 nofemaleteacher" value="@item.VerifierSignature">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>19 Data Collection date <span style="color:red;">*</span></h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="text" id="datepicker1" name="DataCollectionDate" value="@item.DataCollectionDate"></label>
                                
                                

                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>



                <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>20 Data Entry date </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="text" id="datepicker"  name="DataEntryDate" value="@item.DataEntryDate"></label>
                                
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">

                    <input type="submit" class="btn btn-grey usub"   value="Save">
                   @*  <a class="btn btn-satblue" data-toggle="tab"  href="#first">Previous</a>*@
                    

                   @* <a class="btn btn-green" href="#">Color</a>
                    <a class="btn btn-brown" href="#">Color</a>
                    <a class="btn btn-blue" href="#">Color</a>*@
                </div>
            </div>

        </form>
         
    </div>
}
  

<script type="text/javascript">

    $(".integer").numeric(false, function () { alert("Integers only"); this.value = ""; this.focus(); });

</script>