﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
}

@model PagedList.IPagedList<DIMS.Models.PostDisasterInfo>
@using PagedList.Mvc;

<script>
    function deletePostDomain(postId) {


        if (confirm("Are sure you want to delete this data")) {
            $.post("/PostDisaster/delete", {
                postId: postId

            }, function (data) {

                if (data.Text =="success") {
                    $("#" + postId).fadeOut();
                    location.reload();
                }
                //$('#ajaxDiv').text(data.Text);
            }, "json");
        }
    }

</script>
<div class="error-container">

    <span class="errormsg">Error Message</span><span class="er-close" onclick="errclose()">x</span>
</div>



    <div class="span10" id="content" style="min-height: 698px; width:95%; margin:2.5%;">
			
			
			<div class="row-fluid" >


<p style="float:left;">
   
    <a class="btn btn-satblue " href="/PostDisaster/Postform">Create New Entry</a>
    
</p>
                @using (Html.BeginForm())
{
   <p style="float:right;">
        Find by name: @Html.TextBox("SearchString")  
        <input type="submit" class="src" value=""  /></p>
}


        


                	
				
				  <div class="row-fluid" style="clear:both; float:left; width:100%;">
					<div class="span12">
						<div class="box box-color box-bordered" style="clear:both; float:left; width:100%;">
							<div class="box-title">
								<h3 style="width:100%">
									<i class="icon-table"></i>
									School Information List
                                  <a style="float:right;color:#0094ff" href="PostDisasterReport"><i title="Export as Excel" style="cursor:pointer;color:#fff" class="icon-print"></i></a>  
								</h3>
							</div>
							<div class="box-content nopadding">
								<table class="table table-hover table-nomargin">
									<thead>
										<tr>
                                            <th>SL No#</th>
											
											<th>School Name</th>
                                            <th>Hazard Name</th>
											<th>Cluster Id</th>
                                            <th>EIIN Code</th>
                                       @if (User.IsInRole("Administrator")){      <th>User Id</th>}
											<th class="hidden-350">Action</th>
											
										</tr>
									</thead>
									<tbody>
										
										 @{ int counter = 0;
										
              foreach (var item in Model){
                  counter = counter + 1;
              
                					<tr id="@item.postId">
                                          <td>
                                                                                               @counter</td>
											<td> <a style="text-transform:uppercase" title="Edit" href="#"> @item.InstituteEng</a></td>
                                         <td> <a  href="#"> @item.HazardName</a></td>

                                        <td>
                                                                                               @item.InstituteId.Replace(",", "")</td>
											<td>
                                                                                               @item.GobEIIN.Replace(",", "")</td>

                                      @if (User.IsInRole("Administrator")){   <td>
                                                                                              @item.UserProfile.UserName</td>
                                      }
											<td class="hidden-350">   
                                        
                                                @if (!User.IsInRole("MIS User")){ 
                                                    
                                                     <a title="Edit" href="/PostDisaster/Edit?postId=@item.postId" >Edit</a> } |
           
                                              
         
@if (User.IsInRole("Administrator")){

                                                <a href="javascript:void(0)" onclick="deletePostDomain(@item.postId)" title="Delete">Delete</a>
}

											</td>
											
										</tr>
              } }
									</tbody>
								</table>
								@Html.PagedListPager(Model, page => Url.Action("PostDatacollection", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

   
							</div>
						</div>
					</div>
				</div>







                </div>
        </div>