﻿ @{
     Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}     

  <!-- start: Header -->
          

  



<div style="background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #E4E4E4; height: 615px; margin: 0 auto; padding: 7px 10px 10px; width: 767px;" class="wrapper-hom" >
<img src="~/Images/banner.jpg" align="top" width="767" style=" border: 1px solid #E4E4E4; margin-bottom: 5px; padding: 1px;" height="73" alt="0"  />
<img src="~/Images/body.jpg" align="top" width="767" style=" border: 1px solid #E4E4E4; margin-bottom: 10px; padding: 1px;" height="344" alt="0"  />



    
      <div class="span4 ml" ontablet="span4" ondesktop="span4" style="float: right; overflow:hidden; height: auto; margin-bottom: 0; margin-left: 0 !important;
    margin-right: 0; margin-top: 0; width: 97.3%;">
          <img src="~/Images/login.jpg" align="left" width="101" height="95" alt="0" style=" float: left; margin:15px 60px;" />
@Html.Partial("LoginHome")
          </div>
</div>
   

        



<!-- end: Content -->
             

             
                <div class="clearfix"></div>



           

       

    

                <footer style="">
                    <p>
                        <span style="text-align:left;float:left">Supported by: <a alt="Save the Children">Save the Children Bangladesh</a></span>
                        <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a alt="Education Cluster in Bangladesh">Education Cluster in Bangladesh</a></span>
                    </p>

                </footer>



@Scripts.Render("~/Scripts/DMIS/js/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/DMIS/js/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/DMIS/js/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/DMIS/js/jquery-migrate-1.2.1.min.js")
@Scripts.Render("~/Scripts/DMIS/js/jquery-ui-1.10.3.custom.min.js")
@Scripts.Render("~/Scripts/DMIS/js/jquery.ui.touch-punch.js")


@* <!-- end: JavaScript-->
        <script type="text/javascript">
            $(function () {
                $(".tab").hide();
                $(".tabs li a").click(function () {

                    var href = $(this).attr("href");
                    if ($(href).is(":visible")) {
                        //$(".tab").hide();
                    }
                    else {
                        $(".tab").hide();
                        $(href).fadeIn('swing');
                    }
                    $(".active").removeClass("active");
                    $(this).addClass("active");
                    //$(".active").animate({height:"50px"});
                });
                $("#tab1").show();

            });
        </script>*@