﻿
@{
    ViewBag.Title = "Home Page";
}
  <!-- start: nav -->
     
    <!-- start: Header -->
        <div id="tab1" class="tab">
            <div class="container-fluid-full">
                <div class="row-fluid">

                    <!-- end: Main Menu -->

                 <!-- start: Content -->
<div id="content1" class="span10">
<div class="row-fluid">
<div class="box">
<div class="box-header">
<h2><i class="icon-list-alt"></i><span class="break"></span>Chart with points</h2>
<div class="box-icon"> <a href="#" class="btn-setting"><i class="icon-wrench"></i></a> <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a> </div>
</div>
<div class="box-content">
<div class="span4 ml" ontablet="span6" ondesktop="span4">
<div class="box-header">
<h2><i class="icon-bar-chart"></i> Weekly Stat</h2>
</div>
<div class="box-content">
<div id="twitterChart" style="height:230px"></div>
<!-- End .sparkStats -->
</div>
</div>
<!--/span-->
<div class="span4 ml" ontablet="span6" ondesktop="span4">
<div class="box-header">
<h2><i class="icon-bar-chart"></i> Weekly Stat</h2>
</div>
<div class="box-content">
<div class="sparkLineStats">
<ul class="unstyled">
<li><span class="sparkLineStats3"></span> Pageviews: <span class="number">781</span> </li>
<li><span class="sparkLineStats4"></span> Pages / Visit: <span class="number">2,19</span> </li>
<li><span class="sparkLineStats5"></span> Avg. Visit Duration: <span class="number">00:02:58</span> </li>
<li><span class="sparkLineStats6"></span> Bounce Rate: <span class="number">59,83%</span> </li>
<li><span class="sparkLineStats7"></span> % New Visits: <span class="number">70,79%</span> </li>
<li><span class="sparkLineStats8"></span> % Returning Visitor: <span class="number">29,21%</span> </li>
</ul>
</div>
<!-- End .sparkStats -->
</div>
</div>
<!--/span-->
<div class="span4 ml" ontablet="span6" ondesktop="span4">
<div class="box-header">
<h2><i class="icon-bar-chart"></i> Weekly Stat</h2>
</div>
<div class="box-content">
<div id="realtimechart" style="height:220px;"></div>
<!-- End .sparkStats -->
</div>
</div>
<!--/span-->
</div>
</div>

<div class="box">
<div class="box-header"><h2><i class="icon-list-alt"></i><span class="break"></span>Chart with points</h2></div>
<div class="box-content">

<div class="span9">
<ul class="talk">
<li> <img alt="avatar" src="~/Content/DMIS/img/avatar3.jpg" class="avatar"> <span class="name">Ann Kovalsky</span> <span class="time">1:32PM</span>
<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
</li>
<li> <img alt="avatar" src="~/Content/DMIS/img/avatar4.jpg" class="avatar"> <span class="name">Megan Abbott</span> <span class="time">1:32PM</span>
<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
</li>
<li> <img alt="avatar" src="~/Content/DMIS/img/avatar3.jpg" class="avatar"> <span class="name">Ann Kovalsky</span> <span class="time">1:32PM</span>
<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
</li>
<li> <img alt="avatar" src="~/Content/DMIS/img/avatar.jpg" class="avatar"> <span class="name">Łukasz Holeczek</span> <span class="time">1:32PM</span>
<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
</li>
<li> <img alt="avatar" src="~/Content/DMIS/img/avatar4.jpg" class="avatar"> <span class="name">Megan Abbott</span> <span class="time">1:32PM</span>
<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
</li>
</ul>
</div>

<div class="span3">
<div class="box-style-1 ribbon borders">
<div class="feat">
  
<!--<i class="icon-group icon-3x"></i>-->
   
    @Html.Partial("LoginPartial")
<!--/NEWSLETTER FORM-->
</div>
</div>

</div>
</div>

</div>
<!--/row-->
</div>
<!-- end: Content -->
                </div><!--/fluid-row-->

             
                <div class="clearfix"></div>

                <footer>
                    <p>
                        <span style="text-align:left;float:left">Supported by: <a alt="Save the Children">Save the Children</a></span>
                        <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a alt="Education Cluster in Bangladesh">Education Cluster in Bangladesh</a></span>
                    </p>

                </footer>

            </div><!--/.fluid-container-->

        </div>
        <div id="tab2" class="tab">

            <div class="container-fluid-full">
                <div class="row-fluid">

                    <!-- end: Main Menu -->

                    <!-- start: Content -->
                    <div class="content1" >


                        <div class="row-fluid">

                            <div class="box">
                                <div class="box-header">
                                    <h2><i class="icon-list-alt"></i><span class="break"></span>Chart with points</h2>
                                    <div class="box-icon">
                                        <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
                                        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                        <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div class="span4 ml" ontablet="span6" ondesktop="span4">
                                        <div class="box-header">
                                            <h2><i class="icon-bar-chart"></i> Weekly Stat</h2>
                                        </div>
                                        <div class="box-content">
                                            <div id="twitterChart" style="height:230px"></div><!-- End .sparkStats -->
                                        </div>
                                    </div><!--/span-->

                                    <div class="span4 ml" ontablet="span6" ondesktop="span4">
                                        <div class="box-header">
                                            <h2><i class="icon-bar-chart"></i> Weekly Stat</h2>
                                        </div>
                                        <div class="box-content">
                                            <div class="sparkLineStats">

                                                <ul class="unstyled">

                                                    <li><span class="sparkLineStats3"></span> 
	                                Pageviews: 
                                                        <span class="number">781</span>
                                                    </li>
                                                    <li><span class="sparkLineStats4"></span>
	                                Pages / Visit: 
                                                        <span class="number">2,19</span>
                                                    </li>
                                                    <li><span class="sparkLineStats5"></span>
	                                Avg. Visit Duration: 
                                                        <span class="number">00:02:58</span>
                                                    </li>
                                                    <li><span class="sparkLineStats6"></span>
	                                Bounce Rate: <span class="number">59,83%</span>
                                                    </li>
                                                    <li><span class="sparkLineStats7"></span>
	                                % New Visits: 
                                                        <span class="number">70,79%</span>
                                                    </li>
                                                    <li><span class="sparkLineStats8"></span>
	                                % Returning Visitor: 
                                                        <span class="number">29,21%</span>
                                                    </li>

                                                </ul>

                                            </div><!-- End .sparkStats -->
                                        </div>
                                    </div><!--/span-->

                                    <div class="span4 ml" ontablet="span6" ondesktop="span4">
                                        <div class="box-header">
                                            <h2><i class="icon-bar-chart"></i> Weekly Stat</h2>
                                        </div>
                                        <div class="box-content">
                                            <div id="realtimechart" style="height:220px;"></div>
                                            <!-- End .sparkStats -->
                                        </div>
                                    </div><!--/span-->

                                </div>

                            </div>

                        </div><!--/row-->


                    </div>
                    <!-- end: Content -->

                </div><!--/fluid-row-->

                <div class="modal hide fade" id="myModal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Settings</h3>
                    </div>
                    <div class="modal-body">
                        <p>Here settings can be configured...</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Close</a>
                        <a href="#" class="btn btn-primary">Save changes</a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <footer>
                    <p>
                        <span style="text-align:left;float:left">&copy; 2013 <a href="http://bootstrapmaster.com" alt="Bootstrap Themes">creativeLabs</a></span>
                        <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="http://admintemplates.co" alt="Bootstrap Admin Templates">SimpliQ</a></span>
                    </p>

                </footer>

            </div><!--/.fluid-container-->
        </div>
        <div id="tab3" class="tab">
            <div class="container-fluid-full">
                <div class="row-fluid">
                    <div class="content1" class="span10">
                        <p>dsfajfkljasjfa</p>
                    </div>
                </div>
            </div>    
        </div>
        <div id="tab4" class="tab">
            <div class="container-fluid-full">
                <div class="row-fluid">
                    <div class="content1" class="span10">
                        <p>dsfajfkljasjfa</p>
                    </div>
                </div>
            </div>  
        </div>
        <!-- start: JavaScript-->
