﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    

}

@model DIMS.Models.ViewModels

<link href="~/Content/Form/css/dmis-style.css" rel="stylesheet" />
<div class="panel">
    <ul class="admin">
        @*@if (ViewBag.CRole == "")
        {
            User.IsInRole("Entry User");
        }*@

        @if (User.IsInRole("Entry Operator"))
        {
            
            if(Model.userInfo.First().UserType=="1"){
            <li><span>
                <img src="~/images/set1.png" width="40" height="40" alt="#" /></span><a href="/domain/datacollection">Pre-Disaster Information Management</a></li>
            <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Map">MIS/GIS Report</a></li>
      
        }
            else if (Model.userInfo.First().UserType == "2")
            {
            <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span>
                
                <a href="/PostDisaster/PostDatacollection">Post Disaster Information Management </a>

            </li>
            
        } else  if(Model.userInfo.First().UserType=="3"){
            <li><span>
                <img src="~/images/set1.png" width="40" height="40" alt="#" /></span><a href="/domain/datacollection">Pre-Disaster Information Management</a></li>
          
              <li>
                <img src="~/images/set2.png" width="40" height="40" alt="#" /><a href="/PostDisaster/PostDatacollection">Post Disaster Information Management </a></li>
            
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Map">MIS/GIS Report</a></li>
      
        }
            
        }
        else if (User.IsInRole("MIS User"))
        {
            @*<li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/domain/datacollection">Data Collection Tools</a></li>
           
            *@

            <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Mis">MIS/GIS Report</a></li>
            
            <li><span>



                <img src="~/Images/sign-up.png" width="40" height="40" alt="#" />
            </span><a href="/users/edit/@ViewBag.userId">Edit Account Information</a></li>
           
            
            
            <li><span>

                <img src="~/Images/managerAccountsIcon.png" width="40" height="40" alt="#" />

            </span><a href="/account/manage">Change Password</a></li>
      
        }
        else if (User.IsInRole("Administrator"))
        {
            
               if(Model.userInfo.First().UserType=="1"){
            <li><span>
                <img src="~/images/set2.png" width="40" height="40" alt="#" /></span><a href="/domain/datacollection">Pre-Disaster Information Management</a></li>
            
        }
        else  if(Model.userInfo.First().UserType=="2"){
            <li><span>
                <img src="~/images/set1.png" width="40" height="40" alt="#" /></span><a href="/domain/datacollection">Pre-Disaster Information Management</a></li>
            
        } else  if(Model.userInfo.First().UserType=="3"){
            <li><span>
                <img src="~/images/set2.png" width="40" height="40" alt="#" /></span><a href="/domain/datacollection">Pre-Disaster Information Management</a></li>
          
               <li>
                <img src="~/images/set1.png" width="40" height="40" alt="#" /><a href="/PostDisaster/PostDatacollection">Post Disaster Information Management </a></li>
            
            
        }
            <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Mis">MIS/GIS Report</a></li>
            <li>
                <img src="~/Content/Form/images/user-management.png" width="40" height="40" alt="#" /><a href="/users/index">User Management</a></li>
            <li>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /><a href="/setting/generalsetting">General Setting</a></li>
            <li>
                <img src="~/Content/Form/images/admin-panel.png" width="40" height="40" alt="#" /><a href="/setting/databackup">Admin Panel</a></li>
          
            <li><span>
                <img src="~/Images/sign-up.png" width="40" height="40" alt="#" />
            </span><a href="/users/edit/@ViewBag.userId">Edit Account Information</a></li>
            <li><span>
                <img src="~/Images/managerAccountsIcon.png" width="40" height="40" alt="#" />

            </span><a href="/account/manage">Change Password</a></li>
            
            
            
        }
        else
        {

            <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/domain/datacollection">Pre-Disaster Information Management</a></li>
      
                   <li>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /><a href="/PostDisaster/PostDatacollection">Post Disaster Information Management </a></li>
      
                  <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Map">MIS/GIS Report</a></li>
           
          
            <li><span>
                <img src="~/Images/sign-up.png" width="40" height="40" alt="#" />
            </span><a href="/users/edit/@ViewBag.userId">Edit Account Information</a></li>
            <li><span>
                <img src="~/Images/managerAccountsIcon.png" width="40" height="40" alt="#" />

            </span><a href="/account/manage">Change Password</a></li>

        }
    </ul>
</div>
