﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
}

@model PagedList.IPagedList<DIMS.Models.Domain>
@using PagedList.Mvc;

<script>
    function deleteDomain(DomainId) {


        if (confirm("Are sure you want to delete this data")) {
            $.post("/Domain/delete", {
                domainId: DomainId

            }, function (data) {
                location.reload();
                if (data.text == "success") {
                    $("#" + DomainId).fadeOut();
                }
                //$('#ajaxDiv').text(data.Text);
            }, "json");
        }
    }

</script>
<div class="error-container">

    <span class="errormsg">Error Message</span><span class="er-close" onclick="errclose()">x</span>
</div>



    <div class="span10" id="content" style="min-height: 698px; width:95%; margin:2.5%;">
			
			
			<div class="row-fluid" >


<p style="float:left;">
    @if (@ViewBag.UnsavedGenCount > 0)
    {
          <a class="btn btn-satblue " href="/domain/form">Progress with incomplete form</a>
    }else{
    <a class="btn btn-satblue " href="/domain/form">Create New Entry</a>
    }
</p>
                @using (Html.BeginForm())
{
   <p style="float:right;">
        Find by name: @Html.TextBox("SearchString")  
        <input type="submit" class="src" value=""  /></p>
}

@*                <br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

                </div>
       </div>*@


        


                	
				
				  <div class="row-fluid" style="clear:both; float:left; width:100%;">
					<div class="span12">
						<div class="box box-color box-bordered" style="clear:both; float:left; width:100%;">
							<div class="box-title">
								<h3 style="width:100%">
									<i class="icon-table"></i>
									School Information List

                                    <i>Total Record Found:@ViewBag.Total</i>
								</h3>
							</div>
							<div class="box-content nopadding">
								<table class="table table-hover table-nomargin">
									<thead>
										<tr>
                                            <th>SL No#</th>
											
											<th>School Name</th>
											<th>Cluster Id</th>
                                            <th>EIIN Code</th>
                                       @if (User.IsInRole("Administrator")){      <th>User Id</th>}
											<th class="hidden-350">Action</th>
											
										</tr>
									</thead>
									<tbody>
										
										 @{ int counter = 0;
										
              foreach (var item in Model){
                  counter = counter + 1;
              
                					<tr id="@item.DomainId">
                                          <td>
                                                                                               @counter</td>
											<td> <a style="text-transform:uppercase" title="Edit" href="/domain/Edit?DomainId=@item.DomainId"> @item.DomainGeneralInformation.InstituteEng</a></td>

                                        <td>
                                                                                               @item.DomainGeneralInformation.InstituteId.Replace(",", "")</td>
											<td>
                                                                                               @item.DomainGeneralInformation.GobEIIN.Replace(",", "")</td>

                                      @if (User.IsInRole("Administrator")){   <td>
                                                                                              @item.UserProfile.UserName</td>
                                      }
											<td class="hidden-350">   
                                        
                                                @if (!User.IsInRole("MIS User"))  {      <a title="Edit" href="/domain/Edit?DomainId=@item.DomainId" >Edit</a> } |
           

                                               <a title="View" href="/domain/View?DomainId=@item.DomainId" > View</a>|
         
@if (User.IsInRole("Administrator")){

                                                <a href="javascript:void(0)" onclick="deleteDomain(@item.DomainId)" title="Delete">Delete</a>
}
@*                                                <a href="/domain/Delete?DomainId=@item.DomainId" onclick="deleteDomain(@item.DomainId)" title="Delete"> <img src="~/Images/delete.png" /></a>*@

											</td>
											
										</tr>
            } }
									</tbody>
								</table>
								@Html.PagedListPager(Model, page => Url.Action("datacollection", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

   
							</div>
						</div>
					</div>
				</div>







                </div>
        </div>