﻿@{
    Layout = "~/Views/Shared/_Internal.cshtml";
}
<div class="span10" id="content" style="min-height: 698px;">
			
			
			<div class="row-fluid">
				
				<div class="box span12">
					<div class="box-header">
						<h2><i class="icon-edit"></i>Domain Setup  

@*@if (User.Identity.IsAuthenticated)
{
  <p>Test</p>   
}*@
                           
						</h2>
						<div class="box-icon">
							<a class="btn-setting" href="#"><i class="icon-wrench"></i></a>
							<a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
							<a class="btn-close" href="#"><i class="icon-remove"></i></a>
						</div>
					</div>

                   
					<div class="box-content">
						<div class="wizard" id="MyWizard">
							<ul class="steps">
								<li class="active" data-target="#step1"><span class="badge badge-info">1</span></li>
								<li data-target="#step2"><span class="badge">2</span></li>
								<li data-target="#step3"><span class="badge">3</span></li>
								<li data-target="#step4"><span class="badge">4</span></li>
								<li data-target="#step5"><span class="badge">5</span></li>
							</ul>
							<div class="actions">
								<button class="btn btn-prev" type="button"> <i class="icon-arrow-left"></i> Prev</button>
								<button data-last="Finish" class="btn btn-success btn-next" onclick="" type="button" disabled="disabled" >Next <i class="icon-arrow-right"></i></button>
							</div>
						</div>


                        
						<div class="step-content">
							<div id="step1" class="step-pane active">
							<link href="~/Content/DMIS/css/style.css" rel="stylesheet" />	
<form action="" novalidate="" method="post" enctype="multipart/form-data" autocomplete="off"  class="form-horizontal" name="form100" id="form100">
  <header class="info" id="header">
    <h2>School Safety Information System</h2>
    <h3>Education Cluster in Bangladesh</h3>
  </header>
  <div class="header-inner"> Domain 1: General Information </div>
  <ul id="container">
    <li>
      <label for="Field1" id="title1" class="span4"> Q1. Institute ID (Cluster ID): </label>
      <div class="controls">
        <table class="span8" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2">Division</td>
            <td colspan="2">District</td>
            <td colspan="2">Upazila</td>
            <td colspan="2">Union/ward</td>
            <td colspan="6">Education Cluster SL#</td>
          </tr>
          <tr  >
            <td><input name="InstituteIdDigit1" type="text" onkeyup ="step1Validation()"  class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit2" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit3" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit4" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit5" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit6" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit7" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit8" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit9" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit10" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit11" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
            <td><input name="InstituteIdDigit12" type="text" onkeyup="step1Validation()" class="single_input InstituteId" /></td>
          </tr>
        </table>
      </div>
    </li>
   
    <li>
      <label  id="title12" class="span4"> Q2. GoB EIIN (Education Institute ldentification Number): 
        <small>[Note: Date collect from DPE, DSHE, BMEB, BTEB]</small> </label>
      <div class="controls">
        <table class="span8">
          <tr >
            <td colspan="2"><input name="GobEIINDigit1" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
            <td colspan="2"><input name="GobEIINDigit2" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
            <td colspan="2"><input name="GobEIINDigit3" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
            <td colspan="2"><input name="GobEIINDigit4" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
            <td colspan="2"><input name="GobEIINDigit5" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
            <td colspan="2"><input name="GobEIINDigit6" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
            <td colspan="2"><input name="GobEIINDigit7" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
            <td colspan="2"><input name="GobEIINDigit8" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
            <td colspan="2"><input name="GobEIINDigit9" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
            <td colspan="2"><input name="GobEIINDigit10" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
            <td colspan="2"><input name="GobEIINDigit11" onkeyup="step1Validation()" type="text" class="single_input GobEIIN" /></td>
          </tr>
        </table>
      </div>
    </li>
    <li>
      <div class="notranslate">Q3. What's type of institute/school? <small>[Note: Date collect form DPE, DSHE, BMEB, BREB]</small></div>
      <div class="abody">
        <div class="radio-button">
          <input name="InstituteType" onclick="step1Validation()"   type="radio" value="Kindergarten" />
          Kindergarten</div>
        <div class="radio-button">
          <input name="InstituteType" onclick="step1Validation()" type="radio" value="Primary" />
          Primary</div>
        <div class="radio-button">
          <input name="InstituteType" onclick="step1Validation()" type="radio" value="NGO School" />
          NGO School</div>
        <div class="radio-button">
          <input name="InstituteType" onclick="step1Validation()" type="radio" value="Technical School" />
          Technical School</div>
        <div class="radio-button">
          <input name="InstituteType" onclick="step1Validation()" type="radio" value="High School" />
          High School</div>
        <div class="radio-button">
          <input name="InstituteType" onclick="step1Validation()" type="radio" value=" College" />
          College</div>
        <div class="radio-button">
          <input name="InstituteType" onclick="step1Validation()" type="radio" value=" Madrasah" />
          Madrasah</div>
        <div class="radio-button">
          <input name="InstituteType" onclick="step1Validation()" type="radio" value="Vocational" />
          Vocational</div>
      </div>
    </li>
    <li>
      <div class="notranslate">Q4. What's the management type of institute/ school? <small> [Note: Data collect from DPE, DSHE, BMEB, BTEB]</small></div>
      <div class="abody">
        <div class="radio-button">
          <input name="ManagementType" onclick="step1Validation()" type="radio" value="Government" />
          Government</div>
        <div class="radio-button">
          <input name="ManagementType" onclick="step1Validation()" type="radio" value="Non-Government" />
          Non-Government</div>
        <div class="radio-button">
          <input name="ManagementType" onclick="step1Validation()" type="radio" value="NGO" />
          NGO</div>
      </div>
    </li>
    <li>
      <div class="notranslate">Q5. what's the Establishment Date: <small> [Note: Data collect from DPE, DSHE, BMEB, BTEB]</small></div>
        <div class="abody">
         <table >
              <tr>
    <td> DD</td>
                  <td> MM</td>
                  <td> YYYY</td>
     
              </tr>
          <tr>
   <td>   <input name="EstabilishmentDateDD" onkeyup="step1Validation()" type="text" class="single_input EstabilishmentDate" placeholder="DD"/></td>
   <td>   <input name="EstabilishmentDateMM" onkeyup="step1Validation()" type="text" class="single_input EstabilishmentDate" placeholder="MM"/></td>
     <td> <input name="EstabilishmentDateYYYY" onkeyup="step1Validation()"  type="text" class="single_input EstabilishmentDate" placeholder="YYYY"/></td>
              </tr>
              </table>
            </div>
    </li>
    <li>
      <div class="notranslate">Q6. What's the School/Institute Name (English)? <small> [Note: Data collect from DPE, DSHE, BMEB, BTEB]</small></div>
      <div class="ins-name">
      	<span>6.1</span>
        <input  type="text" class="txt-f1" readonly="true" value="Institute Name (English):"/>
        <input  type="text" onkeyup="step1Validation()" name="InstituteEng" class="txt-f2" />
      </div>
      <div class="ins-name">
      	<span>6.2</span>
        <input name="" type="text" class="txt-f1" readonly="true" value="Institute Name (বাংলা):"/>
        <input name="InstituteBng" onkeyup="step1Validation()" type="text" class="txt-f2" />
      </div>
      <div class="ins-name">
      	<p>6.3 Address:</p>
        <input name="InstituteAddressHouse" onkeyup="step1Validation()" type="text" class="txt-f1 InstituteAddress" placeholder="House#"/>
        <input name="InstituteAddressRoad" onkeyup="step1Validation()" type="text" class="txt-f1 InstituteAddress" placeholder="Road#"/>
        <input name="InstituteAddressSection" onkeyup="step1Validation()" type="text" class="txt-f1 b-last InstituteAddress" placeholder="Section#"/>
      </div>
      <div class="ins-name">
      	<p></p>
        <input name="InstituteAddressVillage" onkeyup="step1Validation()" type="text" class="txt-f1 InstituteAddress" placeholder="Village/Moholla Name"/>
        <input name="InstituteAddressUnion" onkeyup="step1Validation()" type="text" class="txt-f1 InstituteAddress" placeholder="Union/Ward Name"/>
        <input name="InstituteAddressUpzila" onkeyup="step1Validation()" type="text" class="txt-f1 b-last InstituteAddress" placeholder="Upzila Name"/>
      </div>
      <div class="ins-name">
      	<p></p>
        <input name="InstituteAddressDistrict" onkeyup="step1Validation()" type="text" class="txt-f1 InstituteAddress" placeholder="Sirajganj"/>
        <input name="InstituteAddressDivision" onkeyup="step1Validation()" type="text" class="txt-f1 InstituteAddress" placeholder="Rajshahi"/>
        <input name="InstituteAddressCountry" onkeyup="step1Validation()" type="text" class="txt-f1 b-last InstituteAddress" placeholder="Bangladesh"/>
      </div>
      
      
    </li>
    <li>
      <div class="notranslate">Q7. What are the Students Information? <small>  [Note: Data collect from Physical visit]	</small></div>
      <div class="ins-name">
      	<span>7.1</span>
        <p>How many shift in school</p>
        <div class="redio-box">
        	<div class="radio-button1">
        		<input name="HowManyShift" onclick="step1Validation()" type="radio" value="1" />1(One)
 			</div>   
            <div class="radio-button1">
        		<input name="HowManyShift" onclick="step1Validation()" type="radio" value="2" />2(Two)
 			</div>    
        </div> 
      </div>
      <div class="ins-name">
      	<span>7.2</span>
        <p>How many Students in the school?</p>
      </div>
      <div class="ins-name">
      	<p>Total</p>
        <div class="student-box">
        <table width="100%">
          <tr>
            <td>Male</td>
            <td>Female</td>
            <td>Grand Total</td>
          </tr>
          <tr>
            <td><input name="StudentMale" onkeyup="step1Validation()" type="text" class="single_input StudentMale" /></td>
            <td><input name="StudentFemale" onkeyup="step1Validation()" type="text" class="single_input StudentFemale" /></td>
            <td><input name="StudentTotal"  type="text" class="single_input StudentTotal" /></td>
          </tr>
        </table>
        </div>
      </div>
      <div class="ins-name">
      	<p>Disable Student</p>
        <div class="student-box">
        <table width="100%">
          <tr>
             <td><input name="StudentDisableMale" onkeyup="step1Validation()" type="text" class="single_input " /></td>
            <td><input name="StudentDisableFemale" onkeyup="step1Validation()" type="text" class="single_input " /></td>
            <td><input name="StudentDisableTotal" onkeyup="step1Validation()" type="text" class="single_input " /></td>

          </tr>
        </table>
        </div>
      </div>
      <div class="ins-name">
      	<p>Ethnic Group</p>
       		<div class="student-box">
        <table width="100%">
          <tr>
             <td><input name="StudentEthnicMale" onkeyup="step1Validation()" type="text" class="single_input " /></td>
            <td><input name="StudentEthnicFemale" onkeyup="step1Validation()" type="text" class="single_input " /></td>
            <td><input name="StudentEthnicTotal" onkeyup="step1Validation()" type="text" class="single_input " /></td>

          </tr>
        </table>
        </div>
      </div>
      
      
    </li>
    <li>
      <div class="notranslate">Q8. What's the School/Institute communication detail?<small>  [Note: Data collect form physical visit]</small></div>      
      <div class="ins-name">
      	<p>8.1. Phone (with Code):</p>
        <div class="student-box1 fl">
        <table width="100%">
          <tr>
            <td> <input class="single_input InstitutePhone" onkeyup="step1Validation()"  type="text" /></td>
            <td><input class="single_input InstitutePhone" onkeyup="step1Validation()"  type="text" /></td>
            <td><input class="single_input InstitutePhone" onkeyup="step1Validation()"  type="text" /></td>
            <td><input class="single_input InstitutePhone" onkeyup="step1Validation()"  type="text" /></td>
          </tr>
        </table>
        </div>
        <div class="student-box1 fr">
        <table width="100%">
          <tr>
             <td> <input class="single_input InstitutePhone" onkeyup="step1Validation()"  type="text" /></td>
            <td><input class="single_input InstitutePhone" onkeyup="step1Validation()" type="text" /></td>
            <td><input class="single_input InstitutePhone" onkeyup="step1Validation()"  type="text" /></td>
            <td><input class="single_input InstitutePhone"  onkeyup="step1Validation()" type="text" /></td>
               <td><input class="single_input InstitutePhone" onkeyup="step1Validation()"  type="text" /></td>
          </tr>
        </table>
        </div>
      </div>
      <div class="ins-name">
      	<p>8.2. Mobile: +88</p>
        <div class="right-b">
        <table width="100%">
          <tr>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
            <td><input class="single_input InstituteMobile" onkeyup="step1Validation()" name="" type="text" /></td>
          </tr>
        </table>
        </div>
      </div>
      <div class="ins-name">
      	<p>8.3. Fax (with Code):</p>
        <div class="student-box1 fl">
        <table width="100%">
          <tr>
             <td> <input class="single_input InstituteFax" onkeyup="step1Validation()"  type="text" /></td>
            <td><input class="single_input InstituteFax" onkeyup="step1Validation()"  type="text" /></td>
            <td><input class="single_input InstituteFax" onkeyup="step1Validation()" type="text" /></td>
            <td><input class="single_input InstituteFax"  onkeyup="step1Validation()" type="text" /></td>
          </tr>
        </table>
        </div>
        <div class="student-box1 fr">
        <table width="100%">
          <tr>
           <td> <input class="single_input InstituteFax" onkeyup="step1Validation()"  type="text" /></td>
            <td><input class="single_input InstituteFax" onkeyup="step1Validation()" type="text" /></td>
            <td><input class="single_input InstituteFax" onkeyup="step1Validation()" type="text" /></td>
            <td><input class="single_input InstituteFax" onkeyup="step1Validation()"  type="text" /></td>
               <td><input class="single_input InstituteFax" onkeyup="step1Validation()"  type="text" /></td>
          </tr>
        </table>
        </div>
      </div>
      <div class="ins-name">
      	<p>8.4. Website (If any):</p>
       		<div class="right-b">
        <table width="100%">
          <tr>
            <td><input class="InstituteWebUrl" name="InstituteWebUrl" onkeyup="step1Validation()"  type="text" /></td>
          </tr>
        </table>
        </div>
      </div>
      
      
    </li>
    
  </ul>
</form>


							</div>
							<div id="step2" class="step-pane">
								<form class="form-horizontal">
									<fieldset>	
										<div class="control-group">
											<label for="input1" class="control-label">Company Name</label>
											<div class="controls">
									  			<input type="text" id="input1">
											</div>
								  		</div>
								  		<div class="control-group">
											<label for="input2" class="control-label">Company Address</label>
											<div class="controls">
									  			<input type="text" id="input2">
											</div>
								  		</div>
								  		<div class="control-group">
											<label for="input3" class="control-label">WWW</label>
											<div class="controls">
									  			<input type="text" id="input3">
											</div>
								  		</div>
									</fieldset>
								</form>
							</div>
							<div id="step3" class="step-pane">
								<form class="form-horizontal">
									<fieldset>	
										<div class="control-group">
											<label for="selectError30" class="control-label">Plain Select</label>
											<div class="controls">
											  	<select id="selectError30">
													<option>Option 1
													</option><option>Option 2
													</option><option>Option 3
													</option><option>Option 4
													</option><option>Option 5
											  	</option></select>
											</div>
										</div>
										<div class="control-group">
											<label for="selectError0" class="control-label">Modern Select</label>
											<div class="controls">
											  	<select data-rel="chosen" id="selectError0" style="display: none;" class="chzn-done">
													<option>Option 1
													</option><option>Option 2
													</option><option>Option 3
													</option><option>Option 4
													</option><option>Option 5
											  	</option></select><div id="selectError0_chzn" class="chzn-container chzn-container-single" style="width: 0px;" title=""><a tabindex="-1" class="chzn-single" href="javascript:void(0)"><span>Option 1</span><div><b></b></div></a><div class="chzn-drop"><div class="chzn-search"><input type="text" autocomplete="off"></div><ul class="chzn-results"></ul></div></div>
											</div>
										</div>
										<div class="control-group">
											<label for="selectError10" class="control-label">Multiple Select / Tags</label>
											<div class="controls">
											  	<select data-rel="chosen" multiple="" id="selectError10" style="display: none;" class="chzn-done">
													<option>Option 1
													</option><option selected="">Option 2
													</option><option>Option 3
													</option><option>Option 4
													</option><option>Option 5
											  	</option></select><div id="selectError10_chzn" class="chzn-container chzn-container-multi" style="width: 0px;" title=""><ul class="chzn-choices"><li class="search-choice"><span>Option 2
													</span><a href="#" class="search-choice-close" rel="1"></a></li><li class="search-field"><input type="text" style="width: 0px;" autocomplete="off" class="" value="Select Some Options"></li></ul><div class="chzn-drop"><ul class="chzn-results"></ul></div></div>
											</div>
										</div>
										<div class="control-group">
											<label for="selectError20" class="control-label">Group Select</label>
											<div class="controls">
												<select data-rel="chosen" id="selectError20" data-placeholder="Your Favorite Football Team" style="display: none;" class="chzn-done">
													<option value="">
													</option><optgroup label="NFC EAST">
													  	<option>Dallas Cowboys
													  	</option><option>New York Giants
													  	</option><option>Philadelphia Eagles
													  	</option><option>Washington Redskins
													</option></optgroup>
													<optgroup label="NFC NORTH">
													  	<option>Chicago Bears
													  	</option><option>Detroit Lions
													  	</option><option>Green Bay Packers
													  	</option><option>Minnesota Vikings
													</option></optgroup>
													<optgroup label="NFC SOUTH">
													  	<option>Atlanta Falcons
													 	</option><option>Carolina Panthers
													  	</option><option>New Orleans Saints
													  	</option><option>Tampa Bay Buccaneers
													</option></optgroup>
													<optgroup label="NFC WEST">
													  	<option>Arizona Cardinals
													  	</option><option>St. Louis Rams
													  	</option><option>San Francisco 49ers
													  	</option><option>Seattle Seahawks
													</option></optgroup>
													<optgroup label="AFC EAST">
													  	<option>Buffalo Bills
													  	</option><option>Miami Dolphins
													  	</option><option>New England Patriots
													  	</option><option>New York Jets
													</option></optgroup>
													<optgroup label="AFC NORTH">
													  	<option>Baltimore Ravens
													  	</option><option>Cincinnati Bengals
													  	</option><option>Cleveland Browns
													  	</option><option>Pittsburgh Steelers
													</option></optgroup>
													<optgroup label="AFC SOUTH">
													  	<option>Houston Texans
													  	</option><option>Indianapolis Colts
													  	</option><option>Jacksonville Jaguars
													  	</option><option>Tennessee Titans
													</option></optgroup>
													<optgroup label="AFC WEST">
													  	<option>Denver Broncos
													  	</option><option>Kansas City Chiefs
													  	</option><option>Oakland Raiders
													  	</option><option>San Diego Chargers
													</option></optgroup>
												</select><div id="selectError20_chzn" class="chzn-container chzn-container-single" style="width: 0px;" title=""><a tabindex="-1" class="chzn-single chzn-default" href="javascript:void(0)"><span>Your Favorite Football Team</span><div><b></b></div></a><div class="chzn-drop"><div class="chzn-search"><input type="text" autocomplete="off"></div><ul class="chzn-results"></ul></div></div>
											</div>
										</div>	
									</fieldset>
								</form>	
							</div>
							<div id="step4" class="step-pane">
								<div class="alert alert-info">
									<button data-dismiss="alert" class="close" type="button">×</button>
									<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
								</p>
								<div class="controls">
								  <label class="checkbox inline">
									<div class="checker" id="uniform-inlineCheckbox2"><span><input type="checkbox" value="option5" id="inlineCheckbox2"></span></div> I agree
								  </label>
								</div>	
							</div>
							<div id="step5" class="step-pane">
								<form class="form-horizontal">
									<fieldset>

										<div class="control-group">
								     		<label class="control-label">Fullname:</label>
											<div class="controls">
												<span class="input-xlarge uneditable-input">Łukasz Holeczek</span>
											</div>
										</div>
										<div class="control-group">
								      		<label class="control-label">Email:</label>
								     		<div class="controls">
								          		<span class="input-xlarge uneditable-input">lukaszclabs[dot].com</span>
								  			</div>
										</div>
								        <div class="control-group">
											<label class="control-label">Phone:</label>
								            <div class="controls">
												<span class="input-xlarge uneditable-input">+48 123 456 789</span>
								     		</div>
								   		</div>
								   		<div class="control-group">
								        	<label class="control-label"></label>
								           	<div class="controls">
								     			<label class="checkbox">
								           			<div class="checker"><span><input type="checkbox" value=""></span></div> I confirm this information
								             	</label>
								 			</div>
								       	</div>
									</fieldset>
								</form>	
							</div>

						</div>
					
					</div>
					
				</div><!--/span-->

			</div><!--/row-->	
			
			
					
			</div>