﻿@model DIMS.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change Password / Account Password Change";
    Layout = "~/Views/Shared/Formcollection.cshtml";
}


<div class="span10" id="content" style="min-height:98px; width:96%; margin:2%;">
		
			
			<div class="row-fluid">
				

<p class="message-success">@ViewBag.StatusMessage</p>

@*<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>*@

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}


                </div>
    </div>

