﻿@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Graphical Report
</title>

    <link href="~/Content/Form/css/school.css" rel="stylesheet" />
    <script src="~/Scripts/Form/jquery-1.9.1.min.js" type="text/javascript"></script>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript" charset="utf-8"></script>*@
<script type="text/javascript" src="~/Scripts/Form/js/jquery.selectbox-0.5.js"></script>
   

<script type="text/javascript">

 

    $(document).ready(function () {

        // $('#Items').selectbox();
        // $('#Items2').selectbox();
        //   $('#Items3').selectbox();
        //  $('#Items4').selectbox();
        //   $(".ser-box1").css({ "display": "none" });

        // img.postData();



        $(".sear-btn").click(function () {


            var divisionId = $("select#Items").val();
            var districtId = $("select#Items2").val();
            var upazilaId = $("select#Items3").val();
            var unionId = $("select#Items4").val();
            var area = $("[name='hazardName']").val();
            $('.ser-box1').html('<center>Report loading...<br/><img width="60" height="50" src="/Images/Loading.gif"/></center> ');

            $.post("/Report/FinancialRequremenstRpt", {
                divisionId: divisionId, districtId: districtId, upazilaId: upazilaId, unionId: unionId, hazardName: area
            }, function (data) {

                var v = "@User.Identity.Name";
                var imgTag = '<img class="src-img" src="/Uploads/' + v + '.jpg" width="921" height="530" alt="0"  />';
                $(".ser-box1").css({ "display": "block" });
                //   $(".ser-box1").addClass("ser-box");
                location.reload();
                $(".ser-box1").html(imgTag);

            });

        });


        $('#Items').change(function () {


            var idx = this.selectedIndex;
            //alert(idx);
            $("select#Items").prop('selectedIndex', idx);
            var divisionId = $("select#Items").val();

            if (idx > 0) {
                $.post("/Setting/DivisionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    $("#Items2").html(data.Viewdta);
                    $("#Items2").removeAttr("disabled");

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });

        $('#Items2').change(function () {
            var idx = this.selectedIndex;

            $("select#Items2").prop('selectedIndex', idx);
            var disId = $("select#Items2").val();

            if (idx > 0) {
                $.post("/Setting/DistrictCode", {
                    divisionId: disId
                }, function (data) {

                    var disVal = data.TxtCode;

                    $("#Items3").html(data.Viewdta);
                    $("#Items3").removeAttr("disabled");

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });


        $('#Items3').change(function () {
            var idx = this.selectedIndex;

            $("select#Items3").prop('selectedIndex', idx);
            var divisionId = $("select#Items3").val();
            if (idx > 0) {

                $.post("/Setting/UpazillaCode", {
                    divisionId: divisionId
                }, function (data) {

                    var upaVal = data.TxtCode;

                    $("#Items4").html(data.Viewdta);

                    $("#Items4").removeAttr("disabled");
                    $("[name=InstitudeUpazilla]").val(data.TxtName);



                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });


        $('#Items4').change(function () {
            var idx = this.selectedIndex;


            $("select#Items4").prop('selectedIndex', idx);
            var divisionId = $("select#Items4").val();
            if (idx > 0) {

                $.post("/Setting/UnionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    //$("#selectunion").html(data.Viewdta);
                    $("#Items4").removeAttr("disabled");
                    $("[name=InstitudeUnion]").val(data.TxtName);

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");

            }
            //alert(val);

        });

    });
</script>
</head>

<body>

<div class="wrapper">
<div class="head">Reports on Financial Requirements Analysis:</div>
    <form action="/Report/FinancialRequremenstRpt"  method="post">
  <div class="ser-box" style="height:50px;">
<span class="sr-title" style="width:100%;">Enter Disaster/Hazard Name:</span>
<span class="d-part" style="width:149px;"><input name="hazardName" type="text"  /> </span>

</div>
<div class="ser-box">
<span class="btn-box"><input type="button" class="sear-btn" value="OK" /> <input type="submit" class="sear-btn" value="PDF" /></span>
<span class="sr-title">Search by Jurisdiction (Name) :</span>
<span class="d-part">
<select name="divisionId" class="selectdivision" id="Items">
     <option value="" selected="selected">Division</option>
                            @foreach (var div in Model.DivisionInfo)
                            {         
                                <option value="@div.DivisionId">@div.DivisionName</option>            
                            }

</select>
</span>
<span class="d-part">
<select name="districtId" class="selectdistrict" id="Items2">
    
    <option value="" selected="selected">District</option>
                            @foreach (var div in Model.DistrictInfo)
                            {         
                                <option value="@div.DistrictId">@div.DistrictName</option>            
                            }
</select>
</span>
<span class="d-part">
<select name="upazilaId"  class="selectupazilla" id="Items3">
    
     <option value="" selected="selected">Upazila</option>
                            @foreach (var div in Model.UpazillaInfo)
                            {         
                                <option value="@div.UpazillaId">@div.UpazillaName</option>            
                            }
</select>
</span>
<span class="d-part" style="border-right:none;">
<select name="unionId" class="selectunion" id="Items4">
    <option value="" selected="selected">Union</option>
     
                            @foreach (var div in Model.UnionInfo)
                            {         
                                <option value="@div.UnionId">@div.UnionName</option>            
                            }
</select>
</span>

</div>


        
    <div class="ser-box1">

        @{
            string img = User.Identity.Name + ".jpg";
        }
       <img class="src-img" height="530" width="921" alt="0" src="/Uploads/@img"/>

        @*<div class="ser-box"><img src="~/Content/Form/img/proportion-img.png" width="450" height="392" alt="0"  /></div>
<div class="ser-box"><img src="~/Content/Form/img/frequency-img.png" width="450" height="392" alt="0"  /></div>
        </div>*@


       
        </div>



</form>
 
    @*<div class="ser-box"><img src="~/Uploads/title.jpg" width="450" height="292" alt="0"  /></div>*@
</div>
</body>
</html>


      
   


