﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : MIS/GIS :Graphical Report";
}


<script type="text/javascript">

    function SimpleInNewWin() {
        window.open("../Forms/DHazards.aspx");
    }


    </script>
<link href="~/Content/Form/css/dmis-style.css" rel="stylesheet" />
<div class="panel">

    <h2 style="margin:0 auto; text-align: center; color:#000;">Pre Disaster Related Report</h2>
    <ul class="admin">

       @if (User.IsInRole("Administrator") || User.IsInRole("MIS User"))
        {
            
             <li><span>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /></span><a href="/Report/Disasterhazard" >Report on Risk Assessment by Disaster Hazard</a></li>
            <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/DisasterhazardImpact">Report on Risk Assessment by Impact Disaster Hazard</a></li>
            <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Riskcategory">Report Risk Category</a></li>
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Geographicalpositionwise">Frequency report on School_Institute Geographical
Position.</a></li>
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/BuildingStructureType">Report on Building_Structure Type</a></li>
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/ClassRoomCondition">Report on Class Room Condition</a></li>
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/CommonFacility">Report on Common Facility</a></li>
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/StudentRatio">Report on Student Ratio</a></li>
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/VacantPositionRatio">Report on Teacher_Vacant_Position_Ratio</a></li>
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/StudentLearningSource">Report Student Learning Source about DRR</a></li>
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/DrinkingwaterFacility">Reports on Drinking water Facility</a></li>
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Resilienceeducation">Reports on Preparedness & Resilience education</a></li>
           
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Toiletfacility1">Reports on Toilet Facility (Accessibility & Maintenance)</a></li>
           
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Toiletfacility2">Reports on Toilet Facility (Common & Separate)</a></li>
           
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Toiletfacility3">Reports on Toilet Facility (Condition & Acceptance Level)</a></li>
           
        }
      
    </ul>
        <h2 style="margin:0 auto; text-align: center;color:#000;">Post Disaster Related Report</h2>

     <ul class="admin">

       @if (User.IsInRole("Administrator") || User.IsInRole("MIS User"))
       {
            
             <li><span>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /></span><a href="/Report/Ruralurban" >Rural & Urban wise Affected School</a></li>
            <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/ManagementType">Management Type wise Affected School</a></li>
            <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/GeographicalPosition">Geographical Position wise Affected School</a></li>
    
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/DamageType">Damage Type wise Affected School</a></li>           
    
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/FinancialRequremenst">Financial Requremenst Analysis</a></li>
             <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Areawise">Area wise Affected School</a></li>

       }
      
    </ul>
</div>
