﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : MIS/GIS ";
}  

<link href="~/Content/Form/css/SrcPrint.css" rel="stylesheet" />

<script>
    $(document).ready(function () {


        $('.print').click(function () {
            window.print();
            return false;
        });
        $('#selectdivision').change(function () {
            var idx = this.selectedIndex;

            $("select#selectdivision").prop('selectedIndex', idx);
            var divisionId = $("select#selectdivision").val();

            if (idx > 0) {
                $.post("/Setting/DivisionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    $("#selectdistrict").html(data.Viewdta);
                    $("#selectdistrict").removeAttr("disabled");

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });

        $('#selectdistrict').change(function () {
            var idx = this.selectedIndex;

            $("select#selectdistrict").prop('selectedIndex', idx);
            var disId = $("select#selectdistrict").val();

            if (idx > 0) {
                $.post("/Setting/DistrictCode", {
                    divisionId: disId
                }, function (data) {

                    var disVal = data.TxtCode;

                    $("#selectupazilla").html(data.Viewdta);
                    $("#selectupazilla").removeAttr("disabled");

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });


        $('#selectupazilla').change(function () {
            var idx = this.selectedIndex;

            $("select#selectupazilla").prop('selectedIndex', idx);
            var divisionId = $("select#selectupazilla").val();
            if (idx > 0) {

                $.post("/Setting/UpazillaCode", {
                    divisionId: divisionId
                }, function (data) {

                    var upaVal = data.TxtCode;

                    $("#selectunion").html(data.Viewdta);

                    $("#selectunion").removeAttr("disabled");
                    $("[name=InstitudeUpazilla]").val(data.TxtName);



                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });


        $('#selectunion').change(function () {
            var idx = this.selectedIndex;


            $("select#selectunion").prop('selectedIndex', idx);
            var divisionId = $("select#selectunion").val();
            if (idx > 0) {

                $.post("/Setting/UnionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    //$("#selectunion").html(data.Viewdta);
                    $("#selectunion").removeAttr("disabled");
                    $("[name=InstitudeUnion]").val(data.TxtName);

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");

            }
            //alert(val);

        });




        $(".src_strc_type").click(function () {
            $('.magic-row').html('<center>Report loading...<br/><img width="60" height="50" src="/Images/Loading.gif"/></center> ');
            var divisionId = $("select#selectdivision").val();
            var unionId = $("select#selectunion").val();
            var upazillaId = $("select#selectupazilla").val();
            var districtId = $("select#selectdistrict").val();
            var row = "";
            var pram = "";
            var Flood = $("[name='Flood']:checked").val();
            if (Flood != null) {
                pram += Flood+",";
            }
            var Cyclone = $("[name='Cyclone']:checked").val();
            if (Cyclone != null) {
                pram += Cyclone + ",";
            }

            var EarthQuack = $("[name='EarthQuack']:checked").val();
            if (EarthQuack != null) {
                pram += EarthQuack + ",";
            }

            var RiverBankErosion = $("[name='RiverBankErosion']:checked").val();
            if (RiverBankErosion != null) {
                pram += RiverBankErosion + ",";
            }

            var TidalSurge = $("[name='TidalSurge']:checked").val();
            if (TidalSurge != null) {
                pram += TidalSurge + ",";
            }

            var WaterLogging = $("[name='WaterLogging']:checked").val();
            if (WaterLogging != null) {
                pram += WaterLogging + ",";
            }

            var Strom = $("[name='Strom']:checked").val();
            if (Strom != null) {
                pram += Strom + ",";
            }
            var SeasonalStrom = $("[name='SeasonalStrom']:checked").val();
            if (SeasonalStrom != null) {
                pram += SeasonalStrom + ",";
            }
            var Tsunami = $("[name='Tsunami']:checked").val();
            if (Tsunami != null) {
                pram += Tsunami + ",";
            }
            var BuildingCollapse = $("[name='BuildingCollapse']:checked").val();
            if (BuildingCollapse != null) {
                pram += BuildingCollapse + ",";
            }
            var FlashFlood = $("[name='FlashFlood']:checked").val();
            if (FlashFlood != null) {
                pram += FlashFlood + ",";
            }
            var Salinity = $("[name='Salinity']:checked").val();
            if (Salinity != null) {
                pram += Salinity + ",";
            }
            var Fire = $("[name='Fire']:checked").val();
            if (Fire != null) {
                pram += Fire + ",";
            }
            var LandSlide = $("[name='LandSlide']:checked").val();
            if (LandSlide != null) {
                pram += LandSlide + ",";
            }
            var All = $("[name='All']:checked").val();
            if (All != null) {
                pram += All + ",";
            }
            if (pram.length > 2) {
                $.post("/Report/MapLoadByRiskType", {
                    All: All, divisionId: divisionId, unionId: unionId, upazillaId: upazillaId, districtId: districtId,
                    LandSlide: LandSlide, Fire: Fire, Salinity: Salinity, FlashFlood: FlashFlood, BuildingCollapse: BuildingCollapse,
                    Tsunami: Tsunami, SeasonalStrom: SeasonalStrom, Strom: Strom, WaterLogging: WaterLogging, TidalSurge: TidalSurge,
                    RiverBankErosion: RiverBankErosion, EarthQuack: EarthQuack, Cyclone: Cyclone, Flood: Flood

                }, function (data) {

                    if (data.length > 0) {

                        for (i = 0; i < data.length; i++) {
                            row += "<tr><td>" + parseInt(i + 1) + " </td><td>" + data[i].InstituteEng + "</td>"
                                                  + "<td>" + data[i].InstituteId + "</td>"
                                                  + "<td>" + data[i].GobEIIN + "</td>"
                                                  + "<td>" + data[i].InstituteType + "</td>"
                                                  + "<td>" + data[i].ManagementType + "</td>"
                                                  + "<td>" + data[i].AuthorityType + "</td>"
                                                  + "<td><a href='/domain/Details?DomainId=" + data[i].DomainId + "' >View</a> </td></tr>";
                        }

                        $(".magic-row").html(row);

                        var note = "Note: Search School By   : " + pram + " -Total Record Found:" + data.length;

                        $(".note").html(note);


                    } else {
                        alert("No Record Found");
                    }
                }, "json");
            } else {
                alert("Select Hazard First");
            }
        });



    });

    </script>
<div id="content" class="map-content span11" style="width:95%;">
<div class="row-fluid">
        <h4>Search by Risk in Disaster/Hazard:</h4>
     
        <div class="src2">
            <label>Search by Jurisdiction (Name) </label>

            <div class="span31" style="background: #FBE4D5; border:solid 1px #808080; border-right:none; height:50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>


                    @if (Model.DivisionInfo.Count > 0)
                    {

                        <select class="input-large" name="selectdivision" id="selectdivision" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Division</option>
                            @foreach (var div in Model.DivisionInfo)
                            {         
                                <option value="@div.DivisionId">@div.DivisionName</option>            
                            }


                        </select>
                    }
                    else
                    {

                        <select class="input-large" name="selectdivision" disabled="disabled">
                            <option value="" selected="selected">Division</option>

                        </select>
                    }



                </div>



            </div>

            <div class="span31" style="background: #D9E2F3; border:solid 1px #808080; border-right:none; height:50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>

                    @if (Model.DistrictInfo.Count > 0)
                    {
                        <select name="selectdistrict" id="selectdistrict" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">District</option>
                            @foreach (var div in Model.DistrictInfo)
                            {         
                                <option value="@div.DistrictId">@div.DistrictName</option>            
                            }

                        </select>
                    }
                    else
                    {

                        <select class="input-large" name="selectdistrict" disabled="disabled">
                            <option value="" selected="selected">Create District</option>

                        </select>
                    }


                </div>


            </div>

            <div class="span31" style="background: #C5E0B3; border:solid 1px #808080; border-right:none; height:50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>


                    @if (Model.UpazillaInfo.Count > 0)
                    {
                        <select name="selectupazilla" id="selectupazilla" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Upazila</option>
                            @foreach (var div in Model.UpazillaInfo)
                            {         
                                <option value="@div.UpazillaId">@div.UpazillaName</option>            
                            }

                        </select>
                    }
                    else
                    {
                                                  
                        <select class="input-large" name="selectupazilla" disabled="disabled">
                            <option value="" selected="selected">Create Upazilla</option>

                        </select>
                                                  
                    }



                </div>

            </div>

            <div class="span31" style="background: #FFE599; border:solid 1px #808080; height:50px; padding: 10px; margin-left: 0px; width:210px !important;">
                <div>

                    @if (Model.UnionInfo.Count > 0)
                    {
                        <select name="selectunion" id="selectunion" style="float: left;width: 70%;" class='chosen-select'>
                            <option value="" selected="selected">Union</option>
                            @foreach (var div in Model.UnionInfo)
                            {         
                                <option value="@div.UnionId">@div.UnionName</option>            
                            }

                        </select>
                    }
                    else
                    {
                                                  
                        <select class="input-large" name="selectunion" disabled="disabled">
                            <option value="" selected="selected">Create Union</option>

                        </select>
                                                  
                    }
                    <input type="button" name="src_strc_type" class="src_strc_type btn btn-satblue" style="height: 30px; margin-left: 5px;width:50px; padding: 0 10px;"  value="Ok" />

                </div>
                  
            </div>

            <div style="width:100%; height:15px; float:left;"></div>
<div style="background:#CCCCCC; float:left; border:solid 1px #808080; width:650px; border-right:none; padding:0 10px;">
            <label style="margin:3px 0 1px 0;">Search by Disaster/Hazard </label>
    <div class="checkboxs" style="background:#ffffff;margin:5px;padding:5px;">
            <input value="FLood" class="checkbox" type="checkbox" name="Flood" /><label>Flood</label>
    
    <input value="Cyclone" class="checkbox" type="checkbox" name="Cyclone"/><label>Cyclone</label>
    <input value="Earth Quack" class="checkbox" type="checkbox" name="EarthQuack" /><label>Earth Quack</label>
    <input value="River Bank Erosion" class="checkbox" type="checkbox" name="RiverBankErosion" /><label>River Bank Erosion</label>
    <input value="Tidal Surge" class="checkbox" type="checkbox" name="TidalSurge" /><label>Tidal Surge</label>
    <input value="Water Logging" class="checkbox" type="checkbox" name="WaterLogging" /><label>Water Logging</label>
    <input value="Strom" class="checkbox" type="checkbox" name="Strom" /><label>Strom</label>
    <input value="Seasonal Strom" class="checkbox" type="checkbox" name="SeasonalStrom" /><label>Seasonal Strom</label>
        <input value="Tsunami" class="checkbox" type="checkbox" name="Tsunami" /><label>Tsunami</label>
    <input value="Building Collapse" class="checkbox" type="checkbox" name="BuildingCollapse" /><label>Building Collapse</label>
    <input value="Flash Flood" class="checkbox" type="checkbox" name="FlashFlood" /><label>Flash Flood</label>
        <input value="Salinity" class="checkbox" type="checkbox" name="Salinity" /><label>Salinity</label>
    <input value="Fire" class="checkbox" type="checkbox" name="Fire" /><label>Fire</label>
    <input value="Land Slide" class="checkbox" type="checkbox" name="LandSlide" /><label>Land Slide</label>
        <input value="All" class="checkbox" type="checkbox" name="All" /><label>All</label>
        </div>

    </div>

        
              

          

    </div>


      <div style="width:100%; height:15px; float:left;"></div>

        
           
        

    </div>

  

        	  <div class="row-fluid" style="clear:both; float:left; width:100%;">

                  
					<div class="span12">
						<div class="box box-color box-bordered" style="clear:both; margin-bottom:20px; float:left; width:100%;">
                           
						

                            <div class="print-able">
                            <div class="box-title">
								<h3 style="width:100%;">
									<i class="icon-table"></i>
									School Information List
                                    <a href="#" style="float:right;color:#000;"><i class="icon-print print"></i></a>
								</h3>
							</div>
							<div class="box-content nopadding">
								<table class="table table-hover table-nomargin">
									<thead>
										<tr>
                                            <th>SL No#</th>
											
											<th>School Name</th>
											<th>Cluster Id</th>
                                            <th>EIIN Code</th>
                                             <th>Institute Type</th>
                                             <th>Management Type</th>
                                             <th>Authority Type</th>
											<th class="hidden-350">Details Info</th>
											
										</tr>
									</thead>
									<tbody class="magic-row">
                                        
                                        </tbody>
                                    </table>

                                


        </div>

                            <div class="note"></div>
                                </div>
   </div>
                        </div>
                  </div>
    </div>