﻿@{
    Layout = null;
}
@model DIMS.Models.ViewModels

 
<script>
    $(document).ready(function () {

        
        $('#selectdivisionModal1 option[value="@Model.DistrictInfo.First().DivisionId"]').prop('selected', true);

    });
</script>
<div class="box">
            <div class="box-title" style="margin-top:0;">
                <h3>
                    <i class="icon-magic"></i>
                    District Setup
								</h3>
            </div>

   
            <div class="box-content">
                <form class="form-horizontal form-wizard ui-formwizard" method="POST" action="districtupdate" novalidate="novalidate">
                    <div class="step ui-formwizard-content" style="display: block;">

                        <div class="control-group">
                            <label class="control-label" for="select">Select Division</label>
                            <div class="controls">

                                @if (Model.DivisionInfo.Count > 0)
                                {
                                    
                                    <select class="input-large" name="divisionselect" id="selectdivisionModal1">
                                        <option value="">Select Division</option> 
                                        @foreach (var div in Model.DivisionInfo)
                                        {         
                                            <option value="@div.DivisionId">@div.DivisionName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" name="divisionselect">
                                        <option value="" selected="selected">Create Division</option>

                                    </select>
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="firstname">District name</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge ui-wizard-content" value="@Model.DistrictInfo.First().DistrictName" name="districtname">
                                 <input type="hidden" class="input-xlarge ui-wizard-content" name="id" value="@Model.DistrictInfo.First().DistrictId">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">District Code</label>
                            <div class="controls">
                                <input type="text" maxlength="2" class="input-xlarge ui-wizard-content num" value="@Model.DistrictInfo.First().DistrictCode" name="districtcode">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">District Logitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content num" value="@Model.DistrictInfo.First().Longitiude" name="districtLongitude">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">District Latitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content num" value="@Model.DistrictInfo.First().Latitude" name="districtLatitude">
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <input type="reset" value="Reset" class="btn ui-wizard-content ui-formwizard-button" disabled="disabled">
                        <input type="submit" value="Save" class="btn btn-primary ui-wizard-content ui-formwizard-button">
                    </div>
                </form>
            </div>
        </div>
 <a class="close-reveal-modal">&#215;</a>