﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
}

    <div class="span10" id="content" style="min-height: 698px; width:95%; margin:2.5%;">
			
			
			<div class="row-fluid" >



<h1>Unauthorize User</h1>
<h3> you can't access this page</h3> 

<br />
</div>
        </div>