﻿@{
    Layout = null;
}

@model DIMS.Models.ViewModels

<script>
    $(document).ready(function () {

        
        $('#selectdivisionModal3 option[value="@Model.UnionInfo.First().Upazilla.District.DivisionId"]').prop('selected', true);
        $('#selectdistrictmodel1 option[value="@Model.UnionInfo.First().Upazilla.UpazillaId"]').prop('selected', true);
        $('#selectupazillamodel1 option[value="@Model.UnionInfo.First().UpazillaId"]').prop('selected', true);

    });
</script>
        <div class="box">
            <div class="box-title" style="margin-top:0;">
                <h3>
                    <i class="icon-magic"></i>
                    Union Setup
								</h3>
            </div>
            <div class="box-content">
                <form class="form-horizontal form-wizard ui-formwizard" method="POST" action="unionupdate" novalidate="novalidate">
                    <div class="step ui-formwizard-content" style="display: block;">
                             <div class="control-group">
                            <label class="control-label" for="select">Select Division</label>
                            <div class="controls">

                                @if (Model.DivisionInfo.Count > 0)
                                {

                                    <select class="input-large" id="selectdivisionModal3" name="division3select">
                                         <option value="">Select Division</option> 
                                        @foreach (var div in Model.DivisionInfo)
                                        {         
                                            <option value="@div.DivisionId">@div.DivisionName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" name="division3select">
                                        <option value="" selected="selected">Create Division</option>

                                    </select>
                                }
                            </div>
                        </div>
                      
                        <div class="control-group">
                            <label class="control-label" for="selectdistrict">Select District</label>
                            <div class="controls">
                                
                                @if (Model.DistrictInfo.Count > 0)
                                {

                                    <select class="input-large"  id="selectdistrictmodel2" name="district2select">
                                        @foreach (var div in Model.DistrictInfo)
                                        {         
                                            <option value="@div.DistrictId">@div.DistrictName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" disabled="disabled" name="district2select">
                                        <option value="" selected="selected">Create District</option>

                                    </select>
                                }
                            </div>
                        </div>
                      
                        <div class="control-group">
                            <label class="control-label" for="select">Select Upazilla</label>
                            <div class="controls">
                                

                                @if (Model.UpazillaInfo.Count > 0)
                                {

                                    <select class="input-large"  id="selectupazillamodel1" name="upazillaselect">
                                        @foreach (var div in Model.UpazillaInfo)
                                        {         
                                            <option value="@div.UpazillaId">@div.UpazillaName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" disabled="disabled" name="upazillaselect">
                                        <option value="" selected="selected">Create Upazilla</option>

                                    </select>
                                }


                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="firstname">Union name</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge ui-wizard-content" value="@Model.UnionInfo.First().UnionName" name="unionname">
                                 <input type="hidden" class="input-xlarge ui-wizard-content" value="@Model.UnionInfo.First().UnionId" name="id">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Union Code</label>
                            <div class="controls">
                                <input type="text"  maxlength="2" class="input-xlarge ui-wizard-content num" value="@Model.UnionInfo.First().UnionCode" name="unioncode">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="firstname">Union Longitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content num" value="@Model.UnionInfo.First().Longitiude" name="unionLongitude">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Union Latitude</label>
                            <div class="controls">
                                <input type="text"   class="input-xlarge ui-wizard-content num" value="@Model.UnionInfo.First().Latitude" name="unionLatitude">
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <input type="reset" value="Reset" class="btn ui-wizard-content ui-formwizard-button">
                        <input type="submit" value="Save" class="btn btn-primary ui-wizard-content ui-formwizard-button">
                    </div>
                </form>
            </div>
        </div>
     <a class="close-reveal-modal">&#215;</a>