﻿<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- start: Meta -->
        <meta charset="utf-8" />
        <title>Education Cluster Bangladesh</title>
        <meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template." />
        <meta name="author" content="Łukasz Holeczek" />
        <meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
        <!-- end: Meta -->

        <!-- start: Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- end: Mobile Specific -->

        <!-- start: CSS -->
        @Styles.Render("~/Content/DMIS/css/bootstrap-responsive.min.css")
        @Styles.Render("~/Content/DMIS/css/bootstrap.min.css")
        @Styles.Render("~/Content/DMIS/css/style.min.css")
        @Styles.Render("~/Content/DMIS/css/style-responsive.min.css")
        @Styles.Render("~/Content/DMIS/css/retina.css")

          @Scripts.Render("~/bundles/modernizr")


        @*<link href="css/bootstrap-responsive.min.css" rel="stylesheet" />
          <link href="css/bootstrap.min.css" rel="stylesheet" />
          <link href="css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="css/style.min.css" rel="stylesheet" />
        <link href="css/style-responsive.min.css" rel="stylesheet" />
        <link href="css/retina.css" rel="stylesheet" />*@

       
      

        <!-- end: CSS -->


        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->

        <!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->

        <!-- end: Favicon and Touch Icons -->	

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    </head>
       
    
    <body>      

         @RenderBody()

       @* @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
    </body>
</html>
