﻿ 

@model DIMS.Models.ViewModels

  @if (Model.DistrictInfo.Count > 0)
                                {
         <option value="" selected="selected">District</option>
                                        foreach (var div in Model.DistrictInfo)
                                        {         
                                            <option value="@div.DistrictId">@div.DistrictName</option>            
                                        }


                                }
                                else
                                {
   <option value=""  selected="selected">Create Districts</option>

                                }