﻿    

    <script src="~/Scripts/Form/jquery-1.9.1.min.js"></script>
@*<script src="~/Scripts/Form/JqueryUI.js"></script>
<link href="~/Content/Form/css/JqueryUI.css" rel="stylesheet" />*@

 <script>
         var genId = "000";
         $(document).ready(function () {
             
             $(".fireextinguisher").click(function () {
                 // alert($(".Others:checked").val());
                 if ($(".fireextinguisher:checked").val() == "yes") {
                     $(".fireextinguisher-optional").css("display", "block");
                 } else {

                     $(".fireextinguisher-optional").css("display", "none");

                 }
             });

            
                 $(".fireextinguisher-optional").css("display", "none");
            
             //$("#datepicker").datepicker();
             //$("#datepicker1").datepicker();

             var districtOption = "";
          

             $("[name=StudentMale]").keyup(
                 function () {

                     if ($("[name=StudentMale]").val() != "" && $("[name=StudentFemale]").val() != "") {
                         var stumale = parseInt($("[name=StudentMale]").val());
                         var stuFemale = parseInt($("[name=StudentFemale]").val());
                         var sto = stumale + stuFemale;
                         $("[name=StudentTotal]").val(sto);
                     } else {
                         var stumale = parseInt($("[name=StudentMale]").val());
                         $("[name=StudentTotal]").val(stumale);
                     }
                 }
                 );


             $("[name=StudentFemale]").keyup(
                function () {


                    if ($("[name=StudentMale]").val() != "" && $("[name=StudentFemale]").val() != "") {
                        //  var sto = parseInt($("[name=StudentMale]").val()) + parseInt($("[name=StudentFemale]").val());

                        var stumale =parseInt($("[name=StudentMale]").val());
                        var stuFemale = parseInt($("[name=StudentFemale]").val());
                        var sto = stumale + stuFemale;
                        $("[name=StudentTotal]").val(sto);
                    } else {
                        var stumale = parseInt($("[name=StudentFemale]").val());
                        $("[name=StudentTotal]").val(stumale);
                    }
                }
                );











             $("[name=StudentDisableMale]").keyup(
                 function () {

                     if ($("[name=StudentDisableMale]").val() != "" && $("[name=StudentDisableFemale]").val() != "") {
                         var stumale = parseInt($("[name=StudentDisableMale]").val());
                         var stuFemale = parseInt($("[name=StudentDisableFemale]").val());
                         var sto = stumale + stuFemale;
                         $("[name=StudentDisableTotal]").val(sto);
                     } else {
                         var stumale = parseInt($("[name=StudentDisableMale]").val());
                         $("[name=StudentDisableTotal]").val(stumale);
                     }
                 }
                 );


             $("[name=StudentDisableFemale]").keyup(
                function () {


                    if ($("[name=StudentDisableMale]").val() != "" && $("[name=StudentDisableFemale]").val() != "") {
                        //  var sto = parseInt($("[name=StudentMale]").val()) + parseInt($("[name=StudentFemale]").val());

                        var stumale = parseInt($("[name=StudentDisableMale]").val());
                        var stuFemale = parseInt($("[name=StudentDisableFemale]").val());
                        var sto = stumale + stuFemale;
                        $("[name=StudentDisableTotal]").val(sto);
                    } else {
                        var stumale = parseInt($("[name=StudentDisableFemale]").val());
                        $("[name=StudentDisableTotal]").val(stumale);
                    }
                }
                );



             $("[name=StudentEthnicMale]").keyup(
                function () {

                    if ($("[name=StudentEthnicMale]").val() != "" && $("[name=StudentEthnicFemale]").val() != "") {
                        var stumale = parseInt($("[name=StudentEthnicMale]").val());
                        var stuFemale = parseInt($("[name=StudentEthnicFemale]").val());
                        var sto = stumale + stuFemale;
                        $("[name=StudentEthnicTotal]").val(sto);
                    } else {
                        var stumale = parseInt($("[name=StudentEthnicMale]").val());
                        $("[name=StudentEthnicTotal]").val(stumale);
                    }
                }
                );


             $("[name=StudentEthnicFemale]").keyup(
                function () {


                    if ($("[name=StudentEthnicMale]").val() != "" && $("[name=StudentEthnicFemale]").val() != "") {
                        //  var sto = parseInt($("[name=StudentMale]").val()) + parseInt($("[name=StudentFemale]").val());

                        var stumale = parseInt($("[name=StudentEthnicMale]").val());
                        var stuFemale = parseInt($("[name=StudentEthnicFemale]").val());
                        var sto = stumale + stuFemale;
                        $("[name=StudentEthnicTotal]").val(sto);
                    } else {
                        var stumale = parseInt($("[name=StudentEthnicFemale]").val());
                        $("[name=StudentEthnicTotal]").val(stumale);
                    }
                }
                );


             $('#selectdivision').change(function () {
                 var idx = this.selectedIndex;

                 $("select#selectdivision").prop('selectedIndex', idx);
                 var divisionId = $("select#selectdivision").val();

                 if (idx > 0) {
                     $.post("/Setting/DivisionCode", {
                         divisionId: divisionId
                     }, function (data) {

                         var divVal = data.TxtCode;

                         $("#selectdistrict").html(data.Viewdta);
                         $("#selectdistrict").removeAttr("disabled");
                         $("[name=InstitudeDivision]").val(data.TxtName);
                         $("[name=Division1]").val(divVal.charAt(0));
                         $("[name=Division2]").val(divVal.charAt(1));
                         //$(".errormsg").text();
                         //$('#ajaxDiv').text(data.Text);
                     }, "json");
                 }

                 //alert(val);

             });

             $('#selectdistrict').change(function () {
                 var idx = this.selectedIndex;

                 $("select#selectdistrict").prop('selectedIndex', idx);
                 var disId = $("select#selectdistrict").val();

                 if (idx > 0) {
                     $.post("/Setting/DistrictCode", {
                         divisionId: disId
                     }, function (data) {

                         var disVal = data.TxtCode;

                         $("#selectupazilla").html(data.Viewdta);
                         $("#selectupazilla").removeAttr("disabled");
                         $("[name=InstitudeDistric]").val(data.TxtName);
                         $("[name=District1]").val(disVal.charAt(0));
                         $("[name=District2]").val(disVal.charAt(1));
                         $(".District1").val(disVal.charAt(0));
                         $(".District2").val(disVal.charAt(1));
                         //$(".errormsg").text();
                         //$('#ajaxDiv').text(data.Text);
                     }, "json");
                 }

                 //alert(val);

             });


             $('#selectupazilla').change(function () {
                 var idx = this.selectedIndex;
                
                     $("select#selectupazilla").prop('selectedIndex', idx);
                     var divisionId = $("select#selectupazilla").val();
                     if (idx > 0) {

                     $.post("/Setting/UpazillaCode", {
                         divisionId: divisionId
                     }, function (data) {

                         var upaVal = data.TxtCode;

                         $("#selectunion").html(data.Viewdta);

                         $("#selectunion").removeAttr("disabled");
                         $("[name=InstitudeUpazilla]").val(data.TxtName);

                         $("[name=Upazila1]").val(upaVal.charAt(0));
                         $("[name=Upazila2]").val(upaVal.charAt(1));
                         $(".Upazila1").val(upaVal.charAt(0));
                         $(".Upazila2").val(upaVal.charAt(1));
                         //$(".errormsg").text();
                         //$('#ajaxDiv').text(data.Text);
                     }, "json");
                 }

                 //alert(val);

             });


             $('#selectunion').change(function () {
                 var idx = this.selectedIndex;

                 
                 $("select#selectunion").prop('selectedIndex', idx);
                 var divisionId = $("select#selectunion").val();
                 if (idx > 0) {

                     $.post("/Setting/UnionCode", {
                         divisionId: divisionId
                     }, function (data) {

                         var divVal = data.TxtCode;

                         //$("#selectunion").html(data.Viewdta);
                         $("#selectunion").removeAttr("disabled");
                         $("[name=InstitudeUnion]").val(data.TxtName);
                         $("[name=Union1]").val(divVal.charAt(0));
                         $("[name=Union2]").val(divVal.charAt(1));
                         //$(".errormsg").text();
                         //$('#ajaxDiv').text(data.Text);
                     }, "json");

                 }
                 //alert(val);

             });


             

         });

            </script>


@model DIMS.Models.ViewModels
    <div class="tab-pane active" id="first">

        <span class="title-tab">General Information</span>
         <form  method="POST" class='form-horizontal form-bordered form-validate' id="multiform" enctype="multipart/form-data" action="/Domain/UploadFile">
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title" style="margin-top: 0;">
                            <h3>Identification Code</h3>
                        </div>
                        <div class="box-content nopadding">

                            <div class="control-group">
                                <label class="control-label">Q 1. Institute ID (Cluster ID):<span style="color:red">*</span></label>
                                <div class="controls">


                                    <div class="span31" style="background:#FBE4D5;padding:10px;margin-left:0px;width: 122px !important;">
                                        <div>


                                              @if (Model.DivisionInfo.Count > 0)
                                {

                                    <select class="input-large" name="selectdivision" id="selectdivision" style="width: 100%;" class='chosen-select'>
                                        <option value="" selected="selected">Division</option>
                                        @foreach (var div in Model.DivisionInfo)
                                        {         
                                            <option value="@div.DivisionId">@div.DivisionName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" name="selectdivision"  disabled="disabled">
                                        <option value="" selected="selected">Create Division</option>

                                    </select>
                                }



                                        </div>

                                        <input class="spanmn InstituteId Division" maxlength="1" readonly="true" type="text"  placeholder="0" name="Division1">
                                        <input class="spanmn InstituteId Division" maxlength="1" readonly="true" type="text"  placeholder="0" name="Division2">
                                    </div>

                                    <div class="span31" style="background:#D9E2F3;padding:10px;margin-left:0px;width: 122px !important;">
                                        <div >
                                            <select name="selectdistrict" id="selectdistrict" style="width: 100%;" disabled="disabled" class='chosen-select'>
                                                
                                            </select>

                                                                                       

                                        </div>
                                        <input class="spanmn InstituteId District District1" maxlength="1" readonly="true" type="text"  placeholder="0"  name="District1">
                                        <input class="spanmn InstituteId District District2" maxlength="1" readonly="true" type="text"  placeholder="0" name="District2">
                                    </div>

                                    <div class="span31" style="background:#C5E0B3;padding:10px;margin-left:0px;width: 122px !important;">
                                        <div>
                                            <select name="selectupazilla" id="selectupazilla" disabled="disabled" style="width: 100%;" class='chosen-select'>
                                                
                                            </select>


                                        </div>
                                        <input class="spanmn InstituteId Upazilla" maxlength="1" readonly="true" type="text"  placeholder="0" name="Upazila1">
                                        <input class="spanmn InstituteId Upazilla" maxlength="1" readonly="true" type="text"  placeholder="0" name="Upazila2">
                                    </div>

                                    <div class="span31" style="background:#FFE599;padding:10px;margin-left:0px;width: 122px !important;">
                                        <div>
                                            <select name="selectunion" id="selectunion" style="width: 100%;" disabled="disabled" class='chosen-select'>
                                        
                                            </select>
                                        </div>
                                        <input class="spanmn InstituteId Union" maxlength="1" readonly="true" type="text"  placeholder="0" name="Union1">
                                        <input class="spanmn InstituteId Union" maxlength="1" readonly="true" type="text"  placeholder="0" name="Union2">
                                    </div>

                                    <div class="span33" style="background:#D0CECE; padding:10px;margin-left:0px;width:276px !important;">
                                        <p>Education Cluster Sl#</p>
                                        <input class="spanmn InstituteId num Cluster" maxlength="1" type="text"  placeholder="0" name="educlsl1">
                                        <input class="spanmn InstituteId num Cluster" maxlength="1" type="text"  placeholder="0" name="educlsl2">
                                        <input class="spanmn InstituteId num Cluster" maxlength="1" type="text"  placeholder="0" name="educlsl3">
                                        <input class="spanmn InstituteId num Cluster" maxlength="1" type="text"  placeholder="0" name="educlsl4">
                                        <input class="spanmn InstituteId num Cluster" maxlength="1" type="text"  placeholder="0" name="educlsl5">
                                        <input class="spanmn InstituteId num Cluster" maxlength="1" type="text"  placeholder="0" name="educlsl6">
                                    </div>


                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Q 2. GoB EIIN (Education Institute Identification Number):</label>
                                <div class="controls">

                                    <div class="span333">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN1">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN2">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN3">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN4">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN5">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN6">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN7">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN8">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN9">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN10">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  placeholder="0" name="GobEIIN11">
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 3. What is the type of institute/school? <span style="color:red">*</span></h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="Kindergarten">Kindergarten</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="Primary">Primary</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="NGO School">NGO School</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="Technical School">Technical School</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="High School">High School</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="College">College</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="Madrasa">Madrasa</label>
                                <label class="radio">
                                    <input type="radio" name="InstituteType" value="Vocational">Vocational</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 4. What is the management type of institute/ school?<span style="color:red">*</span> </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="ManagementType" value="Government">Government</label>
                                <label class="radio">
                                    <input type="radio" name="ManagementType" value="Non-Government">Non-Government</label>
                                <label class="radio">
                                    <input type="radio" name="ManagementType" value="NGO">NGO</label>
                                 <label class="radio">
                                    <input type="radio" name="ManagementType" value="Private">Private</label>
                            </div>
                        </div>

                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered'>
                                <div class="control-group">
                                    <label class="control-label">Q 4.1 Authority Type :<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span4">
                                            <select class="chosen-select" id="authorityType" style="width: 100%;" name="authorityType">
                                                <option value="DPE">DPE</option>
                                                <option value="DSHE">DSHE</option>
                                                <option value="BMEB">BMEB</option>
                                                                                                <option value="BNFE">BNFE</option>
                                                   <option value="BTEB">BTEB</option>
                                                  
                                                <option value="OTHERS">OTHERS</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 5. How many shifts in the school?<span style="color:red">*</span></h3>
                        </div>
                        <div class="box-content nopadding">


                            <div class="control-group">
                                <label class="control-label">Number of shifts :</label>
                                <div class="controls">
                                    <div class="span333">
                                        <label class="radio">
                                            <input type="radio" name="HowManyShift" value="1">1 (One)</label>
                                        <label class="radio">
                                            <input type="radio" name="HowManyShift" value="2">2 (Two)</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 6. What is the establishment date :<span style="color:red">*</span></h3>
                        </div>

                        <div class="box-content nopadding">
                            <div class="control-group qthree span333">
                                @*<input class="spanmn EstabilishmentDate" type="text" name="EstabilishmentDateDD" placeholder="DD">
                                <input class="spanmn EstabilishmentDate" type="text" name="EstabilishmentDateMM" placeholder="MM">
                                <input class="spanmn EstabilishmentDate" type="text" name="EstabilishmentDateYYYY" placeholder="YYYY">*@

                                <div class="control-group">
											<label class="control-label" for="textfield">Establishment date</label>
											<div class="controls">
												<input type="text" maxlength="4" class="input-medium  num EstabilishmentDate span2"  name="textfield">
												
											</div>
										</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 7. What is the school/institute name (English)?</h3>
                        </div>

                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered'>
                                <div class="control-group">
                                    <label class="control-label">7.1 Institute name (English):<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span333 moze-bor">
                                            <input class="input-xlarge span11 classUpCase" type="text" name="InstituteEng">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">7.2 Institute name (বাংলা):</label>
                                    <div class="controls">
                                        <div class="span333 moze-bor">
                                            <input class="input-xlarge span11 classUpCase" type="text" name="InstituteBng">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">7.3 Address :<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="control-group qthree">

                                             <span class="help-inline pop">House </span>
                                           <input class="span2 InstituteAddress" type="text" placeholder="(House)" name="InstitudeHouse">
                                            <span class="help-inline pop">Road </span>
                                             <input class="span2 InstituteAddress" type="text" placeholder="(Road)" name="InstitudeRoad">
                                            <span class="help-inline pop">Section</span>
                                            <input class="span2 InstituteAddress" type="text" placeholder="(Section)" name="InstitudeSection">
                                            <div style="clear:both;"><br /></div>
                                            <span class="help-inline pop">Village/Moholla </span>
                                             <input class="span2 InstituteAddress" type="text" placeholder="(Village/Moholla)" name="InstitudeVillage">
                                            <span class="help-inline pop">Union/Ward </span>
                                            <input class="span2 InstituteAddress" readonly="true" type="text" placeholder="(Union/Ward)" name="InstitudeUnion">
                                            <span class="help-inline pop">Upazila </span>
                                            <input class="span2 InstituteAddress" readonly="true" type="text" placeholder="(Upazila)" name="InstitudeUpazilla">
                                            <div style="clear:both;"><br /></div>
                                            <span class="help-inline pop">District </span>
                                            <input class="span2 InstituteAddress" readonly="true" type="text" placeholder="(District)" name="InstitudeDistric">
                                            <span class="help-inline pop">Division </span>
                                             <input class="span2 InstituteAddress" readonly="true" type="text" placeholder="(Division)" name="InstitudeDivision">
                                            <span class="help-inline pop">Country </span>
                                            <input class="span2 InstituteAddress" readonly="true" type="text" Value="Bangladesh" name="InstituteAddressBangladesh">


                                           @* <span class="help-inline">Latitude </span>
                                            <input class="span98 Latitude" type="text" name="Latitude">
                                            <span class="help-inline">Latitude </span>
                                            <input class="span98 Latitude" type="text" name="Latitude">
                                            <span class="help-inline">Latitude </span>
                                            <input class="span98 Latitude" type="text" name="Latitude">
                                            <div style="clear:both;"><br /></div>
                                            <span class="help-inline">Latitude </span>
                                            <input class="span98 Latitude" type="text" name="Latitude">
                                            <span class="help-inline">Latitude </span>
                                            <input class="span98 Latitude" type="text" name="Latitude">
                                            <span class="help-inline">Latitude </span>
                                            <input class="span98 Latitude" type="text" name="Latitude">

                                            <span class="help-inline">Latitude </span>
                                            <input class="span98 Latitude" type="text" name="Latitude">
                                            <span class="help-inline">Latitude </span>
                                            <input class="span98 Latitude" type="text" name="Latitude">
                                            <span class="help-inline">Latitude </span>
                                            <input class="span98 Latitude" type="text" name="Latitude">*@
                                            <!-- <input class="spanmn InstituteAddress" type="text" placeholder="(House)" name="InstitudeHouse">
                                            <input class="spanmn InstituteAddress" type="text" placeholder="(Road)" name="InstitudeRoad">
                                            <input class="spanmn InstituteAddress" type="text" placeholder="(Section)" name="InstitudeSection">
                                            <input class="spanmn InstituteAddress" type="text" placeholder="(Village/Moholla)" name="InstitudeVillage">
                                            <input class="spanmn InstituteAddress" readonly="true" type="text" placeholder="(Union/Ward)" name="InstitudeUnion">
                                            <input class="spanmn InstituteAddress" readonly="true" type="text" placeholder=(Upzila)" name="InstitudeUpazilla">
                                            <input class="spanmn InstituteAddress" readonly="true" type="text" placeholder="(District)" name="InstitudeDistric">
                                            <input class="spanmn InstituteAddress" readonly="true" type="text" placeholder="(Division)" name="InstitudeDivision">
                                            <input class="spanmn InstituteAddress" readonly="true" type="text" Value="Bangladesh" name="InstituteAddressBangladesh"> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 8. What is the students information? </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                8.1  How many students in the school? <span style="color:red">*</span>
                            </div>
                        </div>
                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered'>

                                <div class="control-group">
                                    <label class="control-label" style="width:300px;">
                                        <br />
                                        Total</label>
                                    <div class="controls opthion" style="margin-left:320px;">
                                    <label class="control-label" style="background: #FBE4D5;margin-bottom:5px;">Male/Boy</label>
                                    <label class="control-label" style="background: #C5E0B3;">Female/Girl</label>
                                    <label class="control-label" style="background: #FFE599;">Grand Total(All Students)</label>
                                        
                                        <div class="span334 moze-bor" style="margin-left: 0;">
                                            <input class="input-xlarge num" maxlength="4" value="0" type="text" name="StudentMale">
                                            <input class="input-xlarge num" maxlength="4" value="0" type="text" name="StudentFemale">
                                            <input class="input-xlarge num" maxlength="4" value="0" readonly="true" type="text" name="StudentTotal">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label"style="width:300px;">Accessible to children with physical 
disabilities
</label>
                                    <div class="controls" style="margin-left:320px;">
                                        <div class="span334 moze-bor" style="margin-left: 0;">
                                            <input class="input-xlarge num" maxlength="4" value="0" type="text" name="StudentDisableMale">
                                            <input class="input-xlarge num" maxlength="4" value="0" type="text" name="StudentDisableFemale">
                                            <input class="input-xlarge num" maxlength="4" value="0" readonly="true" type="text" name="StudentDisableTotal">

                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label"style="width:300px;">Ethnic group</label>
                                    <div class="controls"style="margin-left:320px;">
                                        <div class="span334 moze-bor" style="margin-left: 0;">
                                            <input class="input-xlarge num" maxlength="4" value="0" type="text" name="StudentEthnicMale">
                                            <input class="input-xlarge num" maxlength="4" value="0" type="text" name="StudentEthnicFemale">
                                            <input class="input-xlarge num" maxlength="4" value="0" type="text" readonly="true" name="StudentEthnicTotal">

                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 9. What are the school/institute communication details? </h3>
                        </div>

                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered'>
                                <div class="control-group">
                                    <label class="control-label">9.1. Phone (with district code):</label>
                                    <div class="controls">
                                        <div class="span339">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text"  placeholder="0">
                                            <div style="width: 17.6%; display: inline-block;"></div>
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text"  placeholder="0">
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">9.2. Mobile ( +88): </label>
                                    <div class="controls">
                                        <div class="span339">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text"  placeholder="0">
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">9.3. Fax (with code): </label>
                                    <div class="controls">
                                        <div class="span339">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text"  placeholder="0">
                                            <div style="width: 17.6%; display: inline-block;"></div>
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text"  placeholder="0">
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">9.5. Website (if any):</label>
                                    <div class="controls">
                                        <div class="span339">
                                            <input class="span12 InstituteWebUrl" placeholder="Enter Website" type="text" name="InstituteWebUrl">
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">9.6. Institute bank A/C no:</label>
                                    <div class="controls">
                                        <div class="span339">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text"  placeholder="0">
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">9.7. Bank name:</label>
                                    <div class="controls">
                                        <div class="span339">
                                            <input class="span12 Institutebankname"  placeholder="Enter Bank Name" name="Institutebankname" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">9.8. Bank branch:</label>
                                    <div class="controls">
                                        <div class="span339">
                                            <input class="span12 Institutebankbranch"  placeholder="Enter Bank Branch" name="Institutebankbranch" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">9.9. Contact no(+88): </label>
                                    <div class="controls">
                                        <div class="span339">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text"  placeholder="0">
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">9.10. Bank address: </label>
                                    <div class="controls">
                                        <div class="span339">
                                            <input id="Bankaddress"  class="span12" name="Bankaddress"  placeholder="Enter Bank Address" type="text"> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 10. What is the GPS/Geo code?</h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <span class="help-inline">Latitude </span>
                                <input class="span98 Latitude" name="Latitude" type="text">
                                <span class="help-inline">Longitude </span>
                                <input class="span98 Longitude" name="Longitude" type="text">
                                <span class="help-inline">Altitude </span>
                                <input class="span98 Altitude" name="Altitude" type="text">
                                <span class="help-inline">Meter</span>
                            </div>
                        </div>

                        <div class="box-content nopadding">
                            @*<div class="map-im">
                               
                                <img src="/Content/Form/img/demo/map.jpg" />

                            </div>*@

                            <div class="map-im2">
                              
                                  <div class="sctit">
                                  
                                       
                                        <input type="file" name="MyFile" id="fu-my-simple-upload-with-size" />

                                   

                                    @*<span>&nbsp;<a href="#" id="hl-start-upload-with-size" >Start upload</a></span>*@

                                    <span class="fileupload-buttonbar progress"></span>
                                </div>
                               
                                <img src="/Uploads/school.jpg" alt="school" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                         <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 11. What is the institute/school area type?<span style="color:red">*</span> </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="areatype" value="Rural">Rural</label>
                                <label class="radio">
                                    <input type="radio" name="areatype" value="Urban">Urban</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 12. What is the geographical location of the school?<span style="color:red">*</span> </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="geographicallocation" value="Plain Land">Plain Land</label>
                                <label class="radio">
                                    <input type="radio" name="geographicallocation" value="Hill Tract">Hill Tract</label>
                                <label class="radio">
                                    <input type="radio" name="geographicallocation" value="Seashore">Seashore</label>
                                <label class="radio">
                                    <input type="radio" name="geographicallocation" value="Haor">Haor</label>

                                  <label class="radio">
                                    <input type="radio" name="geographicallocation" value="Marsh">Marsh</label>
                                <label class="radio">
                                    <input type="radio" name="geographicallocation" value="Char">Char </label>
                                <label class="radio">
                                    <input type="radio" name="geographicallocation" value="Offshore Island">Offshore Island</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                 <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 12.1. School/institute position regarding Embankment(if applicable)? <span style="color:red">*</span></h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="embankment" value="On The Embankment">On The Embankment</label>
                                <label class="radio">
                                    <input type="radio" name="embankment" value="In The Embankment">In The Embankment</label>
                                <label class="radio" style="width:200px;">
                                    <input type="radio" name="embankment" value="Outside The Embankment">Outside The Embankment</label>
                                

                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 13. What is the main routes of transportation for students/teachers? </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="transportation" value="Road way">Road way</label>
                                <label class="radio">
                                    <input type="radio" name="transportation" value="Water way">Water Way</label>
                                <label class="radio">
                                    <input type="radio" name="transportation" value="Both">Both</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 14. What are the SMC/governing body information details? </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered'>
                                <div class="control-group">
                                    <label class="control-label">14.1. Current SMC/Governing body expiry date:</label>
                                    <div class="controls">
                                        <div class="span333">




												<input type="text" maxlength="4" class="span2 input-medium num expirydate"  name="smscexpirydate">
												
											
										
                                        </div>


                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">14.2 SMC/Governing body Chairperson name:</label>
                                    <div class="controls">
                                        <div class="span339">
                                            <input class="span12 SMCpresidentname" placeholder="Enter President name" name="SMCpresidentname" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">14.3. SMC/Governing body Chairperson mobile no:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text"  placeholder="0">
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 15. What are the teachers and educational staffs information details? </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered dmis14 '>

                                <div class="control-group">
                                    <label class="control-label">15.1.No. of male teachers:<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn nomaleteacher num" name="nomaleteacher" maxlength="2" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">15.2. No. of female teachers:<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn nofemaleteacher num" name="nofemaleteacher" maxlength="2" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">15.3. No. of vacant teacher’s position:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn novacantteacher num" name="novacantteacher" maxlength="2" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">15.4. No. of  non-educational staff:<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn noneducationalstaff num" name="noneducationalstaff" maxlength="2" type="text">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 16. What are the common facilities in the school/institute? </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class='form-horizontal form-bordered dmis'>
                                <div class="control-group ">
                                    <label class="control-label">16.1. Is there any tiffin facility in the school?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" value="yes" name="tiffin">Yes</label>
                                            <label class="radio">
                                                <input type="radio" value="no" name="tiffin">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">16.2. Is there any playing ground?<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" value="yes" name="playing">Yes</label>
                                            <label class="radio">
                                                <input type="radio" value="no" name="playing">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">16.3. Is there any electricity facility?<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" value="yes" name="electricity">Yes</label>
                                            <label class="radio">
                                                <input type="radio" value="no" name="electricity">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">16.4. Is there any internet facility?<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" value="yes" name="internet">Yes</label>
                                            <label class="radio">
                                                <input type="radio" value="no" name="internet">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">16.5. Is there any computer lab?<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" value="yes" name="computerlab">Yes</label>
                                            <label class="radio">
                                                <input type="radio" value="no" name="computerlab" />No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">16.6. Is there any functional first aid box?<span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" value="yes" name="functionalfirstaid">Yes</label>
                                            <label class="radio">
                                                <input type="radio" value="no" name="functionalfirstaid">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">16.7. Is there any fire extinguisher? <span style="color:red">*</span></label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" value="yes" class="fireextinguisher" name="fireextinguisher">Yes</label>
                                            <label class="radio">
                                                <input type="radio" value="no" class="fireextinguisher" name="fireextinguisher">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group fireextinguisher-optional">
                                    <label class="control-label">If Yes, how many valid functional fire extinguisher exist?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn validfunctionalfireextinguisher num" name="validfunctionalfireextinguisher" maxlength="3" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group qthree">16.8. What are the institutional volunteering services (check multiple  – if applicable)?<span style="color:red">*</span> </div>
                                <div class="control-group qthree">
                                                                        <label class="checkbox">
                                        <input type="checkbox" class="institutionalvolunteeringservices" value="Scout" name="Scout">Scout</label>
                                    <label class="checkbox">
                                        <input type="checkbox" class="institutionalvolunteeringservices" value="Rover" name="Rover">Rover</label>
                                    <label class="checkbox">
                                        <input type="checkbox" class="institutionalvolunteeringservices" value="BNCC" name="BNCC">BNCC</label>
                                     <label class="checkbox">
                                    <input type="checkbox" class="institutionalvolunteeringservices" value="Cub" name="Cub">Cub</label>
                                    <label class="checkbox">
                                        <input type="checkbox" class="institutionalvolunteeringservices" value="Girls Guide" name="GirlsGuide">Girls Guide</label>
                                    <label class="checkbox">
                                        <input type="checkbox" class="institutionalvolunteeringservices" value="Red Crescent" name="RedCrescent">Red Crescent</label>
                                    <label class="checkbox">
                                        <input type="checkbox" class="institutionalvolunteeringservices" value="None" name="None">None</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">

                    <input type="button" class="btn btn-grey usub"   onclick="step1Validation(genId) " value="Save">
                   @*  <a class="btn btn-satblue" data-toggle="tab"  href="#first">Previous</a>*@
                    <a class="btn btn-satblue secondtab" data-toggle="tab"   href="#second">Next</a>

                   @* <a class="btn btn-green" href="#">Color</a>
                    <a class="btn btn-brown" href="#">Color</a>
                    <a class="btn btn-blue" href="#">Color</a>*@
                </div>
            </div>

        </form>
         
    </div>
