﻿   @model DIMS.Models.ViewModels

<script>
    var riskId = "@Model.RiskReductionResilienceEducationInfo.First().RiskResilienceId";
    $(document).ready(function () {

@*        // alert(@Model.RiskReductionResilienceEducationInfo.First().InstituteType);*@

        $('[name=DisasterRelatedTraining][value="@Model.RiskReductionResilienceEducationInfo.First().DisasterRelatedTraining"]').prop('checked', true);
        $('[name=HowStudentAwareAboutDisaster][value="@Model.RiskReductionResilienceEducationInfo.First().HowStudentAwareAboutDisaster"]').prop('checked', true);
        $('[name=DrilFacility][value="@Model.RiskReductionResilienceEducationInfo.First().DrilFacility"]').prop('checked', true);
        $('[name=Fromafter-schoolclubs][value="@Model.RiskReductionResilienceEducationInfo.First().AfterSchoolClubs"]').prop('checked', true);
        $('[name=Fromextracurricularactivity][value="@Model.RiskReductionResilienceEducationInfo.First().FromExtraCurriculum"]').prop('checked', true);
        $('[name=Fromregularcurriculum][value="@Model.RiskReductionResilienceEducationInfo.First().RegularCurriculum"]').prop('checked', true);
        
        $('[name=Fromschoolassemblies][value="@Model.RiskReductionResilienceEducationInfo.First().SchoolAssemblies"]').prop('checked', true);
        

                    @if (Model.CheckBoxInfo23_3!=null){
                        foreach (var item in Model.CheckBoxInfo23_3)
            {
                                         
                                           @:$('[name=@item.ChkName][value="@item.ChkValue"]').prop('checked', true);
                                                  }

                    }


        
                    @if (Model.CheckBoxInfo24_7!=null){
                        foreach (var item in Model.CheckBoxInfo24_7)
            {
                                         
                                           @:$('[name=@item.ChkName][value="@item.ChkValue"]').prop('checked', true);
                                                  }

                    }


    });

            </script>
    <div class="tab-pane" id="fourth">
          <span class="title-tab">Risk Reduction Education</span>
        <div class="box box-bordered">
            <div class="box-title" style="margin-top: 0;">
                <h3>Q 23. Risk reduction, preparedness & resilience education :</h3>
            </div>
            <div class="box-content nopadding">
                <div class='form-horizontal form-bordered'>
                    <div class="span6565">
                        <div class="control-group">
                            <label class="control-label">23.1 Have the institute got any disaster related training(If yes fillup 23.2-23.6)?</label>
                            <div class="controls">
                                <div class="span333">
                                    <label class="radio">
                                        <input type="radio" value="yes" name="DisasterRelatedTraining">Yes</label>
                                    <label class="radio">
                                        <input type="radio" value="no" name="DisasterRelatedTraining">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">23.2 Training on (Name):</label>
                            <div class="controls">
                                <div class="span333">
                                    <input class="span8" type="text" value="@Model.RiskReductionResilienceEducationInfo.First().TrainingOnName" name="TrainingOnName">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">23.3 Training For (Whom):</label>
                            <div class="controls">
                                <div class="span397">
                                   <label class="checkbox" style="width:40%;">
                                        <input type="checkbox" class="training-for" name="SMCGoverningbodymember" value="SMC Governing body member">SMC/Governing Body Member</label>
                                    <label class="checkbox" style="width:14%;">
                                        <input type="checkbox" class="training-for" name="Teacher" value="Teacher">Teacher</label>
                                    <label class="checkbox" style="width:14%;">
                                        <input type="checkbox" class="training-for" name="Students" value="Students">Students</label>
                                    <label class="checkbox"style="width:40%;">
                                        <input type="checkbox" class="training-for" name="LocalCommunity" value="Local Community">Local Community</label>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">23.4 How many teachers were attended?</label>
                            <div class="controls">
                                <div class="span333">
                                    <input class="span8" value="@Model.RiskReductionResilienceEducationInfo.First().HowManyTeacherAttended" type="text" name="HowManyTeacherAttended">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">23.5 How many SMC/governing body members were attended?</label>
                            <div class="controls">
                                <div class="span333">
                                    <input class="span8" type="text" value="@Model.RiskReductionResilienceEducationInfo.First().SmcMemberAttented" name="SmcMemberAttented">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">23.6 How many students were attended?</label>
                            <div class="controls">
                                <div class="span333">
                                    <input class="span8" type="text" name="StudentAttented" value="@Model.RiskReductionResilienceEducationInfo.First().StudentAttented">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-bordered">
            <div class="box-title">
                <h3>Q 24. In which of these settings do the students learn about disaster risk reduction? (Check multiple – if applicable)</h3>
            </div>
            <div class="box-content nopadding">
                <div class='form-horizontal form-bordered'>
                    <div class="span6565">
                        <div class="control-group">
                            <label class="control-label">24.1 From regular curriculum?</label>
                            <div class="controls">
                                <div class="span397">
                                    <label class="checkbox">
                                        <input type="checkbox" class="studentlearn" value="From regular curriculum" name="Fromregularcurriculum"></label>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">24.2 From extra curricular activity?</label>
                            <div class="controls">
                                <div class="span397">
                                    <label class="checkbox">
                                        <input type="checkbox" class="studentlearn" value="From extra curricular activity" name="Fromextracurricularactivity"></label>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">24.3 From school assemblies?</label>
                            <div class="controls">
                                <div class="span397">
                                    <label class="checkbox">
                                        <input type="checkbox" class="studentlearn" value="From school assemblies" name="Fromschoolassemblies"></label>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">24.4 From after-school clubs?</label>
                            <div class="controls">
                                <div class="span397">
                                    <label class="checkbox">
                                        <input type="checkbox" class="studentlearn" value="From after-school clubs"  name="Fromafter-schoolclubs"></label>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">24.5 How do you rate student understanding of disaster risk reduction?</label>
                            <div class="controls">
                                <div class="span396">
                                    <label class="radio">
                                        <input type="radio" name="HowStudentAwareAboutDisaster" value="minimal">Minimal</label>
                                    <label class="radio">
                                        <input type="radio" name="HowStudentAwareAboutDisaster" value="some">Some</label>
                                    <label class="radio">
                                        <input type="radio" name="HowStudentAwareAboutDisaster" value="good">Good</label>
                                    <label class="radio">
                                        <input type="radio" name="HowStudentAwareAboutDisaster" value="very good">Very good</label>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">24.6 How often do you conduct school drills for the hazards that you face?</label>
                            <div class="controls">
                                <div class="span398">
                                    <label class="radio">
                                        <input type="radio" name="DrilFacility" value="once">Once a year</label>
                                    <label class="radio">
                                        <input type="radio" name="DrilFacility" value="twice">Twice a year</label>
                                    <label class="radio">
                                        <input type="radio" name="DrilFacility" value="more">More than twice a year</label>
                                    <label class="radio">
                                        <input type="radio" name="DrilFacility" value="not">Not at all</label>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">24.7 Where from they can understand about the disaster?</label>
                            <div class="controls">
                                 <div class="span397">
                                   <label class="checkbox">
                                        <input type="checkbox" class="hear-for" name="Radio" value="Radio">Radio</label>
                                    <label class="checkbox">
                                        <input type="checkbox" class="hear-for" name="Television" value="Television">Television</label>
                                    <label class="checkbox">
                                        <input type="checkbox" class="hear-for" name="Newspaper" value="Newspaper">Newspaper</label>
                                      <label class="checkbox">
                                        <input type="checkbox" class="hear-for" name="Mobile" value="Mobile">Mobile(sms)</label>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
                <div class="span12">

                     <input type="button" class="btn btn-grey" onclick="step4Validation(riskId) " value="Update">
                     @*@if (Model.GeneralInformationInfoUnsv.Count > 0 || Model.RiskReductionResilienceEducationInfoUnsv.Count > 0 || Model.SafeLearningInfoUnsv.Count > 0 || Model.DisasterManagementInfoUnsv.Count > 0)
                     {
                         if(Model.GeneralInformationInfoUnsv.First().DomainStatus==0||Model.RiskReductionResilienceEducationInfoUnsv.First().DomainStatus==0||Model.SafeLearningInfoUnsv.First().DomainStatus==0||Model.DisasterManagementInfoUnsv.First().DomainStatus==0){
                            <input type="button" class="btn btn-satblue"  onclick="finalSave()" value=" Submit">
                     }
                     }*@

                    @if(Model.RiskReductionResilienceEducationInfo.First().DomainStatus==0||Model.DisasterManagementInfo.First().DomainStatus==0||Model.SafeLearningInfo.First().DomainStatus==0||Model.GeneralInformationInfo.First().DomainStatus==0){
                     <input type="button" class="btn btn-satblue"  onclick="finalSave()" value=" Submit">
                    }

                </div>
            </div>

    </div>
