﻿@model DIMS.Models.LoginModel



@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

    <div class="box" style="border-radius: 2px !important;border:1px solid #fbd4b3;">
        <div class="box-header">
            <h2 style=" font-family:Calibri;color:#000; font-size:23px;background:#fbd4b3; text-align:center; font-weight:900; margin:0; width:100%; float:left;">System Login In</h2>
        </div>

        <div class="disaster-login" style="border:dashed 1px #808080; margin:0px 12px; padding:5px;" >
            <input name="logintype" value="pre" type="radio" style="margin:0;" /><span style="vertical-align:text-bottom;">Pre Disaster  Login</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input name="logintype" value="post" type="radio" style="margin:0;" /><span style="vertical-align:text-bottom;">Post Disaster Login</span>

        </div>
        <div class="box-content" style="text-align: center; padding: 15px 0 64px;">
            <div style="background-color:red; color:white;">
                @TempData["LoginErrorMessage"]
            </div>
            <label class="plo">User Name :   @Html.TextBoxFor(m => m.UserName) </label>
            <label class="plo">Password :   @Html.PasswordFor(m => m.Password)</label>
            <label><input onclick="return Check()" class="btn btn-satblue" style="background: none repeat scroll 0 0 #c9dcac;height:35px; color: #000 !important;" type="submit" value="Login" /></label>
        </div>
    </div>


}

<script>
    function Check() {
      
        var val = $('input[name=logintype]:radio:checked').val();

        if (val == null) {
            alert("Please Login type first");
            return false;
        } else {
            
            return true;
        }

    }

    </script>

@* 

 
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
              
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
               
                @Html.ValidationMessageFor(m =>m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    
}*@

