﻿   @model DIMS.Models.ViewModels  

<script>
    var slId = "@Model.SafeLearningInfo.First().SafeLearningId";
    $(document).ready(function () {


        $(".Others").click(function () {
            // alert($(".Others:checked").val());
            if ($(".Others:checked").val() != null) {
                $(".SourceOfDrinkingWaterOther").css("display", "block");
            } else {

                $(".SourceOfDrinkingWaterOther").css("display", "none");

            }
        });

        var extno2 = "@Model.SafeLearningInfo.First().SourceOfDrinkingWater";

        if (extno2 == "") {
            $(".SourceOfDrinkingWaterOther").css("display", "none");
        } else {
            $(".SourceOfDrinkingWaterOther").css("display", "block");
        }
      

@*        // alert(@Model.SafeLearningInfo.First().InstituteType);*@

        $('[name=OwnDrinkingSource][value="@Model.SafeLearningInfo.First().OwnDrinkingSource"]').prop('checked', true);
        $('[name=SafeDrinkingSource][value="@Model.SafeLearningInfo.First().SafeDrinkingSource"]').prop('checked', true);
        $('[name=SourceOfWaterIfTubewellArsenicFree][value="@Model.SafeLearningInfo.First().SourceOfWaterIfTubewellArsenicFree"]').prop('checked', true);
        $('[name=SourceOfWaterIfTubewellFunctional][value="@Model.SafeLearningInfo.First().SourceOfWaterIfTubewellFunctional"]').prop('checked', true);
        $('[name=SourceOfWaterChildFriendly][value="@Model.SafeLearningInfo.First().SourceOfWaterChildFriendly"]').prop('checked', true);
        $('[name=SourceOfWaterDisableFriendly][value="@Model.SafeLearningInfo.First().SourceOfWaterDisableFriendly"]').prop('checked', true);
        $('[name=SourceOfWaterFunctionDuringDisaster][value="@Model.SafeLearningInfo.First().SourceOfWaterFunctionDuringDisaster"]').prop('checked', true);
        $('[name=LatrineMaleCondtion][value="@Model.SafeLearningInfo.First().LatrineMaleCondition"]').prop('checked', true);
        
        $('[name=LatrineFemaleCondtion][value="@Model.SafeLearningInfo.First().LatrineFemaleCondtion"]').prop('checked', true);
        
        $('[name=LatrineRegularMaintain][value="@Model.SafeLearningInfo.First().LatrineRegularMaintain"]').prop('checked', true);
        $('[name=LatrinePhysicalDisabilties][value="@Model.SafeLearningInfo.First().LatrinePhysicalDisabilties"]').prop('checked', true);

        $('[name=LatrineChildAccessiblePhysicalDisabilties][value="@Model.SafeLearningInfo.First().LatrineChildAccessiblePhysicalDisabilties"]').prop('checked', true);

                    @if (Model.CheckBoxInfo17_1.Count>0){
                        foreach (var item in Model.CheckBoxInfo17_1)
            {
                                         
                                           @:$('[name=@item.ChkName][value="@item.ChkValue"]').prop('checked', true);
                                                          }

                    }

        @if (Model.CheckBoxInfo19_0.Count>0){
                        foreach (var item in Model.CheckBoxInfo19_0)
            {
                                         
                                           @:$('[name=@item.ChkName][value="@item.ChkValue"]').prop('checked', true);
                                                          }

                    }


    });

            </script>  
<div class="tab-pane" id="second">
      <span class="title-tab">Safe Learning Facility</span>
        <div class="box box-bordered">
            <div class="box-title" style="margin-top: 0;">
                <h3>Q 17. Institute’s structural information: </h3>
            </div>
            <div class="box-content nopadding">

                <div class='form-horizontal form-bordered'>
                    <div class="span66">
                        <div class="control-group">
                            <label class="control-label">17.1. How many buildings/structures exist in the school ?</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" value="@Model.SafeLearningInfo.First().TotalBuildingStructer" name="TotalBuildingStructer"></div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of pacca building/structure:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" value="@Model.SafeLearningInfo.First().TotalPaccaBuildingStructer" name="TotalPaccaBuildingStructer">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of semi pacca building/structure:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" value="@Model.SafeLearningInfo.First().TotalSemiPaccaBuildingStructer" name="TotalSemiPaccaBuildingStructer">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of  kacha building/structure:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" value="@Model.SafeLearningInfo.First().TotalKaccaBuildingStructer" name="TotalKaccaBuildingStructer">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of unused/abounded building/structure:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" value="@Model.SafeLearningInfo.First().TotalUnsedBuildingStructer" name="TotalUnsedBuildingStructer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span666">
                        <div class="control-group">
                            <label class="control-label">17.2. How many class rooms exist in the school?</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" value="@Model.SafeLearningInfo.First().TotalClassRoom" name="TotalClassRoom"></div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of  kacha class room :</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" value="@Model.SafeLearningInfo.First().TotalKaccaClassRoom" name="TotalKaccaClassRoom">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of semi pacca class room:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" value="@Model.SafeLearningInfo.First().TotalSemiPaccaClassRoom" name="TotalSemiPaccaClassRoom">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of pacca Class Room:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" value="@Model.SafeLearningInfo.First().TotalPaccaClassRoom" name="TotalPaccaClassRoom">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of unused/abandon class room:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" value="@Model.SafeLearningInfo.First().TotalUnsedClassRoom" name="TotalUnsedClassRoom">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 18. Institute’s drinking water facilities :</h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group qthree">18.1. What are the sources of drinking water? (check multiple- if applicable) :</div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class="control-group qthree">
                                <label class="checkbox ftob">
                                <input type="checkbox" name="RainWaterHarvest" class="SourceOfDrinkingWater" value="Rain Water Harvest">Rain Water Harvest</label>
                            <label class="checkbox ftob">
                                <input type="checkbox" name="Pond" class="SourceOfDrinkingWater" value="Pond">Pond</label>
                            <label class="checkbox ftob">
                                <input type="checkbox" name="River" class="SourceOfDrinkingWater" value="River">River</label>
                            <label class="checkbox ftob">
                                <input type="checkbox" name="Well" class="SourceOfDrinkingWater" value="Well">Well</label>
                            <label class="checkbox ftob">
                                <input type="checkbox" name="TubeWell" class="SourceOfDrinkingWater" value="Tube Well">Tube Well</label>
                            <label class="checkbox ftob">
                                <input type="checkbox"   name="SupplyWater" class="SourceOfDrinkingWater" value="Supply Water">Supply Water</label>
                            <label class="checkbox ftob">
                                <input type="checkbox" class="SourceOfDrinkingWater" name="Fall" value="Fall">Fall</label>
                            <label class="checkbox ftob">
                                <input type="checkbox" name="Stream" class="SourceOfDrinkingWater" value="Stream">Stream</label>
                            <label class="checkbox ftob">
                                <input type="checkbox" name="Others" class="SourceOfDrinkingWater Others" value="Others">Others (specify)
                                
                                
                            </label>

                           <label class="checkbox ftob" style="float: right;margin-right: 180px;padding-left: 0;">
                               @{
                                   if (Model.SafeLearningInfo.First().SourceOfDrinkingWater!=""){
                                     string value=Model.SafeLearningInfo.First().SourceOfDrinkingWater;
                               <input  value="@value" class="span8 SourceOfDrinkingWaterOther" type="text"  name="SourceOfDrinkingWaterOther" >
                               }
                               }
                               </label>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">18.2. Is there any own drinking water source in the school?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="OwnDrinkingSource" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="OwnDrinkingSource" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.3. Is the water source safe?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="SafeDrinkingSource" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="SafeDrinkingSource" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.4. Is the water source functional (if Tube well)?</label>
                                    <div class="controls">
                                        <div class="span333">

                                            <label class="radio">
                                                <input type="radio" name="SourceOfWaterIfTubewellFunctional" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="SourceOfWaterIfTubewellFunctional" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.5. Is the water source arsenic free (if Tube well)?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="SourceOfWaterIfTubewellArsenicFree" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="SourceOfWaterIfTubewellArsenicFree" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.6. Is the water source child friendly?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="SourceOfWaterChildFriendly" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="SourceOfWaterChildFriendly" value="yes">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.7. Is the water source accessible to children with physical disabilities?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="SourceOfWaterDisableFriendly" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="SourceOfWaterDisableFriendly" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.8. Does the water source remain functional during disaster?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="SourceOfWaterFunctionDuringDisaster" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="SourceOfWaterFunctionDuringDisaster" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.9. How far away the water source from school (if there is no own drinking water source)?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" value="@Model.SafeLearningInfo.First().TotalUnsedBuildingStructer" type="text" name="TotalUnsedBuildingStructer">
                                            K.m
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 19. Institute’s sanitation facility: </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">19.1  Total no. of functioning toilet in the institute:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" value="@Model.SafeLearningInfo.First().TotalUnsedBuildingStructer" type="text" name="TotalUnsedBuildingStructer">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">19.2. Total no. of students toilet:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" value="@Model.SafeLearningInfo.First().TotalUnsedBuildingStructer" type="text" name="TotalUnsedBuildingStructer">
                                        </div>
                                    </div>
                                </div>

                                 <div class="control-group" style="background:#fff;">
                           <span class="help-inline pop" style="width:313px!important;">Boy toilet : </span><input class="spanmn plp" value="@Model.SafeLearningInfo.First().LatrineForMaleStudent" type="text" name="LatrineForMaleStudent">
                          <span class="help-inline pop">Girl toilet : </span><input class="spanmn plp" type="text"  value="@Model.SafeLearningInfo.First().LatrineForFemaleStudent" name="LatrineForFemaleStudent">
                          <span class="help-inline pop">Both : </span><input class="spanmn plp" type="checkbox" name="StuBoth" >
                                    <!--<label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineForMaleStudent">
                                        </div>
                                    </div>-->
                                </div>
                               @* <div class="control-group">
                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Boy toilet :</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineForMaleStudent" >
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Girl toilet :</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineForFemaleStudent">
                                        </div>
                                    </div>
                                </div>*@


                                <div class="control-group">
                                    <label class="control-label">19.3. Total no. of teacher’s toilet:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineFacilityForTeacher" value="@Model.SafeLearningInfo.First().LatrineFacilityForTeacher">
                                        </div>
                                    </div>
                                </div>

                                        <div class="control-group" style="background:#fff;">
                           <span class="help-inline pop" style="width:313px!important;">Male toilet : </span><input class="spanmn plp" type="text" value="@Model.SafeLearningInfo.First().LatrineFacilityForMaleTeacher" name="LatrineFacilityForMaleTeacher">
                          <span class="help-inline pop">Female toilet : </span><input class="spanmn plp" type="text" value="@Model.SafeLearningInfo.First().LatrineFacilityForFeMaleTeacher" name="LatrineFacilityForFemaleTeacher">
                          <span class="help-inline pop">Both : </span><input class="spanmn plp" type="checkbox" name="TcBoth" >
                            </div>
                                @*<div class="control-group">
                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Male toilet :</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineFacilityForMaleTeacher" >
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Female toilet :</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineFacilityForFemaleTeacher" >
                                        </div>
                                    </div>
                                </div>*@



                                <div class="control-group">
                                    <label class="control-label">19.4. Do the latrines/urinals maintain regularly? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="LatrineRegularMaintain" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="LatrineRegularMaintain" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">19.5. What about the latrine/urinal condition?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label style="width:50px; text-align: center; font-weight:bold;">Poor</label>
                                            <label style="width: 90px; text-align: center;font-weight:bold;">Acceptable</label>
                                            <label style="width:50px; text-align: center;font-weight:bold;">Good</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                     <label class="control-label" style="text-align:right; font-weight:bold;">Boys :</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label style="width:50px; text-align: center;">
                                                <input type="radio" name="LatrineMaleCondtion" value="poor"></label>
                                            <label style="width: 90px; text-align: center;">
                                                <input type="radio" name="LatrineMaleCondtion" value="acceptable"></label>
                                            <label style="width: 50px; text-align: center;">
                                                <input type="radio" name="LatrineMaleCondtion" value="good"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"  style="text-align:right; font-weight:bold;">Girls:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label style="width: 50px; text-align: center;">
                                                <input type="radio" name="LatrineFemaleCondtion" value="poor"></label>
                                            <label style="width: 90px; text-align: center;">
                                                <input type="radio" name="LatrineFemaleCondtion" value="acceptable"></label>
                                            <label style="width: 50px; text-align: center;">
                                                <input type="radio" name="LatrineFemaleCondtion" value="good"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">19.6. Is the latrine/urinal child friendly? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="LatrinePhysicalDisabilties" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="LatrinePhysicalDisabilties" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">19.7. Is the latrine/urinal accessible to children with physical disabilities? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="LatrineChildAccessiblePhysicalDisabilties" value="yes">
                                                Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="LatrineChildAccessiblePhysicalDisabilties" value="no">
                                                No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 20. Natural and Human Hazards Affecting School Campus or Local Community. What are the following areas can be effected by hazard in your school and how? (check multiple – if applicable)</h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>

                            <div class="control-group">
                                <label class="control-label">Hazard With Impact</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="88">Serious injuries or deaths</td>
<td width="80">Damage to buildings</td>
<td width="89">Used as Shelter</td>
<td width="72">Commun ication interruption</td>
<td width="81">Damage Roads and transport</td>
<td width="80">Electricity</td>
<td width="92">Water</td>
<td width="92">Toilet</td>
<td width="88">School closure</td>
<td width="74">Reduced School attendance</td>
<td width="85">Dropout</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="control-label">Flood</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" style="background: #F6F6F6;" cellpadding="0">
                                            <tr>
                                                
                                                <td><input type="checkbox" class="hazards" name="FloodSeriousinjuriesordeaths" value="Flood Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FloodDamagetobuildings" value="Flood Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FloodUsedasShelter" value="Flood Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FloodCommunicationinterruption" value="Flood Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="FloodDamageRoadsandtransport" value="Flood Damage Roads and transport"></td>
                                               
                                                 <td>    <input type="checkbox" class="hazards" name="FloodElectricity" value="Flood Electricity"></td>
                                                 <td>
                                                    <input type="checkbox" class="hazards" name="FloodWater" value="Flood Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FloodToilet" value="Flood Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FloodSchoolclosure" value="Flood School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FloodReducedSchoolattendance" value="Flood Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FloodDropout" value="Flood Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Cyclone</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                               
                                               											<td>  <input type="checkbox" class="hazards" name="CycloneSeriousinjuriesordeaths" value="Cyclone Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="CycloneDamagetobuildings" value="Cyclone Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="CycloneUsedasShelter" value="Cyclone Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="CycloneCommunicationinterruption" value="Cyclone Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="CycloneDamageRoadsandtransport" value="Cyclone Damage Roads and transport"></td>
                                                 <td>    <input type="checkbox" class="hazards" name="CycloneElectricity" value="Cyclone Electricity"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="CycloneWater" value="Cyclone Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="CycloneToilet" value="Cyclone Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="CycloneSchoolclosure" value="Cyclone School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="CycloneReducedSchoolattendance" value="Cyclone Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="CycloneDropout" value="Cyclone Dropout"></td>
                                                


                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Earth Quack</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                											<td>  <input type="checkbox" class="hazards" name="EarthQuackSeriousinjuriesordeaths" value="Earth Quack Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="EarthQuackDamagetobuildings" value="Earth Quack Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="EarthQuackUsedasShelter" value="Earth Quack Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="EarthQuackCommunicationinterruption" value="Earth Quack Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="EarthQuackDamageRoadsandtransport" value="Earth Quack Damage Roads and transport"></td>
                                               
                                                 <td>    <input type="checkbox" class="hazards" name="EarthQuackElectricity" value="Earth Quack Electricity"></td>
                                                 <td>
                                                    <input type="checkbox" class="hazards" name="EarthQuackWater" value="Earth Quack Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="EarthQuackToilet" value="Earth Quack Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="EarthQuackSchoolclosure" value="Earth Quack School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="EarthQuackReducedSchoolattendance" value="Earth Quack Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="EarthQuackDropout" value="Earth Quack Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">River Bank Erosion</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                											<td>  <input type="checkbox" class="hazards" name="RiverBankErosionSeriousinjuriesordeaths" value="River Bank Erosion Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="RiverBankErosionDamagetobuildings" value="River Bank Erosion Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="RiverBankErosionUsedasShelter" value="River Bank Erosion Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="RiverBankErosionCommunicationinterruption" value="River Bank Erosion Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="RiverBankErosionDamageRoadsandtransport" value="River Bank Erosion Damage Roads and transport"></td>
                                                <td>    <input type="checkbox" class="hazards" name="RiverBankErosionElectricity" value="River Bank Electricity"></td>
                                                  <td>
                                                    <input type="checkbox" class="hazards" name="RiverBankErosionWater" value="River Bank Erosion Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="RiverBankErosionToilet" value="River Bank Erosion Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="RiverBankErosionSchoolclosure" value="River Bank Erosion School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="RiverBankErosionReducedSchoolattendance" value="River Bank Erosion Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="RiverBankErosionDropout" value="River Bank Erosion Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Tidal Surge</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                											<td>  <input type="checkbox" class="hazards" name="TidalSurgeSeriousinjuriesordeaths" value="Tidal Surge Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TidalSurgeDamagetobuildings" value="Tidal Surge Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TidalSurgeUsedasShelter" value="Tidal Surge Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TidalSurgeCommunicationinterruption" value="Tidal Surge Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="TidalSurgeDamageRoadsandtransport" value="Tidal Surge Damage Roads and transport"></td>
                                                <td>    <input type="checkbox" class="hazards" name="TidalSurgeElectricity" value="Tidal Surge Electricity"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TidalSurgeWater" value="Tidal Surge Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TidalSurgeToilet" value="Tidal Surge Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TidalSurgeSchoolclosure" value="Tidal Surge School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TidalSurgeReducedSchoolattendance" value="Tidal Surge Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TidalSurgeDropout" value="Tidal Surge Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Water Logging</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                											<td>  <input type="checkbox" class="hazards" name="WaterLoggingSeriousinjuriesordeaths" value="Water Logging Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="WaterLoggingDamagetobuildings" value="Water Logging Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="WaterLoggingUsedasShelter" value="Water Logging Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="WaterLoggingCommunicationinterruption" value="Water Logging Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="WaterLoggingDamageRoadsandtransport" value="Water Logging Damage Roads and transport"></td>
                                               <td>    <input type="checkbox" class="hazards" name="WaterLoggingElectricity" value="Water Logging Electricity"></td>
                                                 <td>
                                                    <input type="checkbox" class="hazards" name="WaterLoggingWater" value="Water Logging Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="WaterLoggingToilet" value="Water Logging Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="WaterLoggingSchoolclosure" value="Water Logging School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="WaterLoggingReducedSchoolattendance" value="Water Logging Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="WaterLoggingDropout" value="Water Logging Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Strom</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                											<td>  <input type="checkbox" class="hazards" name="StromSeriousinjuriesordeaths" value="Strom Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="StromDamagetobuildings" value="Strom Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="StromUsedasShelter" value="Strom Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="StromCommunicationinterruption" value="Strom Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="StromDamageRoadsandtransport" value="Strom Damage Roads and transport"></td>
                                                 <td>    <input type="checkbox" class="hazards" name="StromDamageElectricity" value="Strom Damage Electricity"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="StromWater" value="Strom Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="StromToilet" value="Strom Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="StromSchoolclosure" value="Strom School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="StromReducedSchoolattendance" value="Strom Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="StromDropout" value="Strom Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Land Slide</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                											<td>  <input type="checkbox" class="hazards" name="LandSlideSeriousinjuriesordeaths" value="Land Slide Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="LandSlideDamagetobuildings" value="Land Slide Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="LandSlideUsedasShelter" value="Land Slide Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="LandSlideCommunicationinterruption" value="Land Slide Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="LandSlideDamageRoadsandtransport" value="Land Slide Damage Roads and transport"></td>
                                                <td>    <input type="checkbox" class="hazards" name="LandSlideDamageElectricity" value="Land Slide Electricity"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="LandSlideWater" value="Land Slide Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="LandSlideToilet" value="Land Slide Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="LandSlideSchoolclosure" value="Land Slide School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="LandSlideReducedSchoolattendance" value="Land Slide Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="LandSlideDropout" value="Land Slide Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Fire</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                											<td>  <input type="checkbox" class="hazards" name="FireSeriousinjuriesordeaths" value="Fire Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FireDamagetobuildings" value="Fire Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FireUsedasShelter" value="Fire Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FireCommunicationinterruption" value="Fire Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="FireDamageRoadsandtransport" value="Fire Damage Roads and transport"></td>
                                                 <td>    <input type="checkbox" class="hazards" name="FireDamageElectricity" value="Fire Damage Electricity"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FireWater" value="Fire Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FireToilet" value="Fire Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FireSchoolclosure" value="Fire School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FireReducedSchoolattendance" value="Fire Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FireDropout" value="Fire Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Salinity</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
 											<td>  <input type="checkbox" class="hazards" name="SalinitySeriousinjuriesordeaths" value="Salinity Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SalinityDamagetobuildings" value="Salinity Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SalinityUsedasShelter" value="Salinity Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SalinityCommunicationinterruption" value="Salinity Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="SalinityDamageRoadsandtransport" value="Salinity Damage Roads and transport"></td>
                                               <td>    <input type="checkbox" class="hazards" name="SalinityDamageElectricity" value="Salinity Damage Electricity"></td>
                                                  <td>
                                                    <input type="checkbox" class="hazards" name="SalinityWater" value="Salinity Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SalinityToilet" value="Salinity Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SalinitySchoolclosure" value="Salinity School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SalinityReducedSchoolattendance" value="Salinity Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SalinityDropout" value="Salinity Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Flash Flood</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                											<td>  <input type="checkbox" class="hazards" name="FlashFloodSeriousinjuriesordeaths" value="Flash Flood Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FlashFloodDamagetobuildings" value="Flash Flood Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FlashFloodUsedasShelter" value="Flash Flood Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FlashFloodCommunicationinterruption" value="Flash Flood Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="FlashFloodDamageRoadsandtransport" value="Flash Flood Damage Roads and transport"></td>
                                                 <td>    <input type="checkbox" class="hazards" name="FlashFloodElectricity" value="Flash Flood Electricity"></td>
                                                 <td>
                                                    <input type="checkbox" class="hazards" name="FlashFloodWater" value="Flash Flood Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FlashFloodToilet" value="Flash Flood Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FlashFloodSchoolclosure" value="Flash Flood School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FlashFloodReducedSchoolattendance" value="Flash Flood Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="FlashFloodDropout" value="Flash Flood Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Seasonal Strom</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
  											<td>  <input type="checkbox" class="hazards" name="SeasonalStromSeriousinjuriesordeaths" value="Seasonal Strom Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SeasonalStromDamagetobuildings" value="Seasonal Strom Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SeasonalStromUsedasShelter" value="Seasonal Strom Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SeasonalStromCommunicationinterruption" value="Seasonal Strom Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="SeasonalStromDamageRoadsandtransport" value="Seasonal Strom Damage Roads and transport"></td>
                                               <td>    <input type="checkbox" class="hazards" name="SeasonalStromElectricity" value="Seasonal Strom Electricity"></td>
                                                 <td>
                                                    <input type="checkbox" class="hazards" name="SeasonalStromWater" value="Seasonal Strom Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SeasonalStromToilet" value="Seasonal Strom Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SeasonalStromSchoolclosure" value="Seasonal Strom School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SeasonalStromReducedSchoolattendance" value="Seasonal Strom Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="SeasonalStromDropout" value="Seasonal Strom Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                           
  <div class="control-group">
                                <label class="control-label">Tsunami</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
  											<td>  <input type="checkbox" class="hazards" name="TsunamiSeriousinjuriesordeaths" value="Tsunami Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TsunamiDamagetobuildings" value="Tsunami Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TsunamiUsedasShelter" value="Tsunami Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TsunamiCommunicationinterruption" value="Tsunami Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="TsunamiDamageRoadsandtransport" value="Tsunami Damage Roads and transport"></td>
											<td>    <input type="checkbox" class="hazards" name="TsunamiElectricity" value="Tsunami Electricity"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TsunamiWater" value="Tsunami Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TsunamiToilet" value="Tsunami Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TsunamiSchoolclosure" value="Tsunami School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TsunamiReducedSchoolattendance" value="Tsunami Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="TsunamiDropout" value="Tsunami Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            
  <div class="control-group">
                                <label class="control-label">Buliding Collapse</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
  											<td>  <input type="checkbox" class="hazards" name="BulidingCollapseSeriousinjuriesordeaths" value="Buliding Collapse Serious injuries or deaths"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="BulidingCollapseDamagetobuildings" value="Buliding Collapse Damage to buildings"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="BulidingCollapseUsedasShelter" value="Buliding Collapse Used as Shelter" ></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="BulidingCollapseCommunicationinterruption" value="Buliding Collapse Communication interruption"></td>
											<td>    <input type="checkbox" class="hazards" name="BulidingCollapseDamageRoadsandtransport" value="Buliding Collapse Damage Roads and transport"></td>
											<td>    <input type="checkbox" class="hazards" name="BulidingCollapseElectricity" value="Buliding Collapse Electricity"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="BulidingCollapseWater" value="Buliding Collapse Water"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="BulidingCollapseToilet" value="Buliding Collapse Toilet"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="BulidingCollapseSchoolclosure" value="Buliding Collapse School closure"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="BulidingCollapseReducedSchoolattendance" value="Buliding Collapse Reduced School attendance"></td>
                                                <td>
                                                    <input type="checkbox" class="hazards" name="BulidingCollapseDropout" value="Buliding Collapse Dropout"></td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                          
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

     
         <div class="row-fluid">
                <div class="span12">

                    <input type="button" class="btn btn-grey" onclick="step2Validation(slId) " value="Update">
                    @*<a class="btn btn-satblue" data-toggle="tab"  href="#second">Previous</a>*@
                    <a class="btn btn-satblue thirdtab" data-toggle="tab"  href="#thirds">Next</a>
                    @*<a class="btn btn-green" href="#">Color</a>
                    <a class="btn btn-brown" href="#">Color</a>
                    <a class="btn btn-blue" href="#">Color</a>*@
                </div>
            </div>
    </div>
