﻿<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- start: Meta -->
        <meta charset="utf-8" />
        <title>Education Cluster Bangladesh</title>
        <meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template." />
        <meta name="author" content="Łukasz Holeczek" />
        <meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
        <!-- end: Meta -->

        <!-- start: Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- end: Mobile Specific -->

        <!-- start: CSS -->
        <link href="~/Content/DMIS/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/Content/DMIS/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/DMIS/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/Content/DMIS/css/style.min.css" rel="stylesheet" />
        <link href="~/Content/DMIS/css/style-responsive.min.css" rel="stylesheet" />
        <link href="~/Content/DMIS/css/retina.css" rel="stylesheet" />
        <!-- end: CSS -->


        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="~/Content/DMIS/css/ie.css" rel="stylesheet">
	<![endif]-->

        <!--[if IE 9]>
		<link id="ie9style" href="~/Content/DMIS/css/ie9.css" rel="stylesheet">
	<![endif]-->

        <!-- start: Favicon and Touch Icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
        <link rel="shortcut icon" href="ico/favicon.png" />
        <!-- end: Favicon and Touch Icons -->	

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    </head>

    <body>
        <!-- start: Header -->
          

        <div class="header">
<div class="header_top_inner"> <img src="~/Content/DMIS/img/logo.png"" width="687" height="78" alt="#" /> <img src="/Content/DMIS/img/BD_Cluster_Logo.jpg" class="seco-logo" width="230" height="70" alt="#" />
<div class="clear"></div>
</div>
</div>
          <!-- start: nav -->
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="tabs">
                    <li><a class="active" href='#tab1'>Home</a></li>
                    <li><a href='#tab2'>Tab 2</a></li>
                    <li><a href='#tab3'>Tab 3</a></li>
                    <li><a href='#tab4'>Tab 4</a></li>
                </ul>
            </div>
        </div>
    

        <div class="DMIS">
      
                @RenderBody()

           
        </div>
        <script src="~/Scripts/DMIS/js/jquery-1.10.2.min.js"></script>
         <script src="~/Scripts/DMIS/js/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/DMIS/js/jquery-migrate-1.2.1.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery-ui-1.10.3.custom.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.ui.touch-punch.js"></script>	
        <script src="~/Scripts/DMIS/js/modernizr.js"></script>	
        <script src="~/Scripts/DMIS/js/bootstrap.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.cookie.js"></script>	
        <script src="~/Scripts/DMIS/js/fullcalendar.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/DMIS/js/excanvas.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.flot.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.flot.pie.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.flot.stack.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.flot.resize.min.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.flot.time.js"></script>

        <script src="~/Scripts/DMIS/js/jquery.chosen.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.uniform.min.js"></script>		
        <script src="~/Scripts/DMIS/js/jquery.cleditor.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.noty.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.elfinder.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.raty.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.iphone.toggle.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.uploadify-3.1.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.gritter.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.imagesloaded.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.masonry.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.knob.modified.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.sparkline.min.js"></script>	
        <script src="~/Scripts/DMIS/js/counter.min.js"></script>	
        <script src="~/Scripts/DMIS/js/raphael.2.1.0.min.js"></script>
        <script src="~/Scripts/DMIS/js/justgage.1.0.1.min.js"></script>	
        <script src="~/Scripts/DMIS/js/jquery.autosize.min.js"></script>	
        <script src="~/Scripts/DMIS/js/retina.js"></script>
        <script src="~/Scripts/DMIS/js/jquery.placeholder.min.js"></script>
        <script src="~/Scripts/DMIS/js/wizard.min.js"></script>
        <script src="~/Scripts/DMIS/js/core.min.js"></script>	
        <script src="~/Scripts/DMIS/js/charts.min.js"></script>	
        <script src="~/Scripts/DMIS/js/custom.min.js"></script>
       
        <!-- end: JavaScript-->
        <script type="text/javascript">
            $(function () {
                $(".tab").hide();
                $(".tabs li a").click(function () {

                    var href = $(this).attr("href");
                    if ($(href).is(":visible")) {
                        //$(".tab").hide();
                    }
                    else {
                        $(".tab").hide();
                        $(href).fadeIn('swing');
                    }
                    $(".active").removeClass("active");
                    $(this).addClass("active");
                    //$(".active").animate({height:"50px"});
                });
                $("#tab1").show();

            });
        </script>

    </body>
</html>
