﻿	<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						
						@if (Request.IsAuthenticated) {
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
								@*<div class="avatar"><img src="img/avatar.jpg" alt="Avatar" /></div>*@
								<div class="user">
									<span class="hello">Welcome!</span>
									<span class="name">@User.Identity.Name</span>
								</div>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
									
								</li>
								
								<li>   @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-off"></i>Log off</a>
        }  </li>
							</ul>
						</li>
      }
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				