﻿<div class="user">
    @if (Request.IsAuthenticated) {
<div class="dropdown logoff"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                                                           
                                                                                           <span class="hello">Welcome!</span>
									<span class="name">@User.Identity.Name</span>
                                                                                          
                                                                                       
                                                                                       
                                                                                       </a>
<ul class="dropdown-menu pull-right">

<li>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>}</li>

</ul>
</div>
    }
</div>
				<!-- end: Header Menu -->
				