﻿@model DIMS.Models.ViewModels



 <script>



     var lat="@Model.GeneralInformationInfo.First().GpsLatitude";
     var lng = "@Model.GeneralInformationInfo.First().GpsLongtitude";


     if (lat == "") {
         lat = "@Model.GeneralInformationInfo.First().District.Latitude";
     }
     if (lng == "") {
         lng = "@Model.GeneralInformationInfo.First().District.Longitiude";
     }
     var base = "@Request.Url.GetLeftPart(UriPartial.Authority)";
     var path = "@Request.ApplicationPath";
     var baseURL = base + path + "Images/";

     function initialize() {
         var myLatlng = new google.maps.LatLng(lat, lng);
         var mapOptions = {
             zoom: 10,
             center: myLatlng
         }
         var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
         var image = baseURL + 'google-map-pointer-pink-th.png';
         var marker = new google.maps.Marker({
             position: myLatlng,
             map: map,
             title: '@Model.GeneralInformationInfo.First().InstituteEng',
             icon:image
         });

         marker.setMap(map);
     }

     google.maps.event.addDomListener(window, 'load', initialize);

    </script>
<script>
    var genId = "@Model.GeneralInformationInfo.First().GeneralInformationId";
    $(document).ready(function () {



        $(".fireextinguisher").click(function () {
            // alert($(".Others:checked").val());
            if ($(".fireextinguisher:checked").val() == "yes") {
                $(".fireextinguisher-optional").css("display", "block");
            } else {

                $(".fireextinguisher-optional").css("display", "none");

            }
        });

        var extno = "@Model.GeneralInformationInfo.First().FunctionalFireExtinguise";

        if (extno == "") {
            $(".fireextinguisher-optional").css("display", "none");
        } else {

            $(".fireextinguisher-optional").css("display", "block");
        }

        $('#selectdivision').change(function () {
            var idx = this.selectedIndex;

            $("select#selectdivision").prop('selectedIndex', idx);
            var divisionId = $("select#selectdivision").val();

            if (idx > 0) {
                $.post("/Setting/DivisionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    $("#selectdistrict").html(data.Viewdta);
                    $("#selectdistrict").removeAttr("disabled");
                    $("[name=InstitudeDivision]").val(data.TxtName);
                    $("[name=Division1]").val(divVal.charAt(0));
                    $("[name=Division2]").val(divVal.charAt(1));
                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });

        $('#selectdistrict').change(function () {
            var idx = this.selectedIndex;

            $("select#selectdistrict").prop('selectedIndex', idx);
            var disId = $("select#selectdistrict").val();

            if (idx > 0) {
                $.post("/Setting/DistrictCode", {
                    divisionId: disId
                }, function (data) {

                    var disVal = data.TxtCode;

                    $("#selectupazilla").html(data.Viewdta);
                    $("#selectupazilla").removeAttr("disabled");
                    $("[name=InstitudeDistric]").val(data.TxtName);
                    $("[name=District1]").val(disVal.charAt(0));
                    $("[name=District2]").val(disVal.charAt(1));
                    $(".District1").val(disVal.charAt(0));
                    $(".District2").val(disVal.charAt(1));
                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });


        $('#selectupazilla').change(function () {
            var idx = this.selectedIndex;

            $("select#selectupazilla").prop('selectedIndex', idx);
            var divisionId = $("select#selectupazilla").val();
            if (idx > 0) {

                $.post("/Setting/UpazillaCode", {
                    divisionId: divisionId
                }, function (data) {

                    var upaVal = data.TxtCode;

                    $("#selectunion").html(data.Viewdta);

                    $("#selectunion").removeAttr("disabled");
                    $("[name=InstitudeUpazilla]").val(data.TxtName);

                    $("[name=Upazila1]").val(upaVal.charAt(0));
                    $("[name=Upazila2]").val(upaVal.charAt(1));
                    $(".Upazila1").val(upaVal.charAt(0));
                    $(".Upazila2").val(upaVal.charAt(1));
                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });


        $('#selectunion').change(function () {
            var idx = this.selectedIndex;


            $("select#selectunion").prop('selectedIndex', idx);
            var divisionId = $("select#selectunion").val();
            if (idx > 0) {

                $.post("/Setting/UnionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    //$("#selectunion").html(data.Viewdta);
                    $("#selectunion").removeAttr("disabled");
                    $("[name=InstitudeUnion]").val(data.TxtName);
                    $("[name=Union1]").val(divVal.charAt(0));
                    $("[name=Union2]").val(divVal.charAt(1));
                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");

            }
            //alert(val);

        });

        $("[name=StudentMale]").keyup(
             function () {

                 if ($("[name=StudentMale]").val() != "" && $("[name=StudentFemale]").val() != "") {
                     var stumale = parseInt($("[name=StudentMale]").val());
                     var stuFemale = parseInt($("[name=StudentFemale]").val());
                     var sto = stumale + stuFemale;
                     $("[name=StudentTotal]").val(sto);
                 } else {
                     var stumale = parseInt($("[name=StudentMale]").val());
                     $("[name=StudentTotal]").val(stumale);
                 }
             }
             );


        $("[name=StudentFemale]").keyup(
           function () {


               if ($("[name=StudentMale]").val() != "" && $("[name=StudentFemale]").val() != "") {
                   //  var sto = parseInt($("[name=StudentMale]").val()) + parseInt($("[name=StudentFemale]").val());

                   var stumale = parseInt($("[name=StudentMale]").val());
                   var stuFemale = parseInt($("[name=StudentFemale]").val());
                   var sto = stumale + stuFemale;
                   $("[name=StudentTotal]").val(sto);
               } else {
                   var stumale = parseInt($("[name=StudentFemale]").val());
                   $("[name=StudentTotal]").val(stumale);
               }
           }
           );











        $("[name=StudentDisableMale]").keyup(
            function () {

                if ($("[name=StudentDisableMale]").val() != "" && $("[name=StudentDisableFemale]").val() != "") {
                    var stumale = parseInt($("[name=StudentDisableMale]").val());
                    var stuFemale = parseInt($("[name=StudentDisableFemale]").val());
                    var sto = stumale + stuFemale;
                    $("[name=StudentDisableTotal]").val(sto);
                } else {
                    var stumale = parseInt($("[name=StudentDisableMale]").val());
                    $("[name=StudentDisableTotal]").val(stumale);
                }
            }
            );


        $("[name=StudentDisableFemale]").keyup(
           function () {


               if ($("[name=StudentDisableMale]").val() != "" && $("[name=StudentDisableFemale]").val() != "") {
                   //  var sto = parseInt($("[name=StudentMale]").val()) + parseInt($("[name=StudentFemale]").val());

                   var stumale = parseInt($("[name=StudentDisableMale]").val());
                   var stuFemale = parseInt($("[name=StudentDisableFemale]").val());
                   var sto = stumale + stuFemale;
                   $("[name=StudentDisableTotal]").val(sto);
               } else {
                   var stumale = parseInt($("[name=StudentDisableFemale]").val());
                   $("[name=StudentDisableTotal]").val(stumale);
               }
           }
           );



        $("[name=StudentEthnicMale]").keyup(
           function () {

               if ($("[name=StudentEthnicMale]").val() != "" && $("[name=StudentEthnicFemale]").val() != "") {
                   var stumale = parseInt($("[name=StudentEthnicMale]").val());
                   var stuFemale = parseInt($("[name=StudentEthnicFemale]").val());
                   var sto = stumale + stuFemale;
                   $("[name=StudentEthnicTotal]").val(sto);
               } else {
                   var stumale = parseInt($("[name=StudentEthnicMale]").val());
                   $("[name=StudentEthnicTotal]").val(stumale);
               }
           }
           );


        $("[name=StudentEthnicFemale]").keyup(
           function () {


               if ($("[name=StudentEthnicMale]").val() != "" && $("[name=StudentEthnicFemale]").val() != "") {
                   //  var sto = parseInt($("[name=StudentMale]").val()) + parseInt($("[name=StudentFemale]").val());

                   var stumale = parseInt($("[name=StudentEthnicMale]").val());
                   var stuFemale = parseInt($("[name=StudentEthnicFemale]").val());
                   var sto = stumale + stuFemale;
                   $("[name=StudentEthnicTotal]").val(sto);
               } else {
                   var stumale = parseInt($("[name=StudentEthnicFemale]").val());
                   $("[name=StudentEthnicTotal]").val(stumale);
               }
           }
           );

        //$("#datepicker").datepicker();
        //$("#datepicker1").datepicker();
@*        // alert(@Model.GeneralInformationInfo.First().InstituteType);*@

        $('[name=InstituteType][value="@Model.GeneralInformationInfo.First().InstituteType"]').prop('checked', true);
        $('[name=ManagementType][value="@Model.GeneralInformationInfo.First().ManagementType"]').prop('checked', true);
        $('[name=HowManyShift][value="@Model.GeneralInformationInfo.First().HowManyShift"]').prop('checked', true);
        $('[name=areatype][value="@Model.GeneralInformationInfo.First().SchoolArea"]').prop('checked', true);
        $('[name=geographicallocation][value="@Model.GeneralInformationInfo.First().GraphicalLocation"]').prop('checked', true);
        $('[name=transportation][value="@Model.GeneralInformationInfo.First().TransportionMode"]').prop('checked', true);

        $('[name=tiffin][value="@Model.GeneralInformationInfo.First().TiffinFacility"]').prop('checked', true);
        $('[name=playing][value="@Model.GeneralInformationInfo.First().PlayingGround"]').prop('checked', true);

        $('[name=electricity][value="@Model.GeneralInformationInfo.First().ElectricityFacillity"]').prop('checked', true);
        $('[name=embankment][value="@Model.GeneralInformationInfo.First().Embankment"]').prop('checked', true);
        $('[name=internet][value="@Model.GeneralInformationInfo.First().InternetFacility"]').prop('checked', true);
        $('[name=computerlab][value="@Model.GeneralInformationInfo.First().ComputerLab"]').prop('checked', true);
        $('[name=functionalfirstaid][value="@Model.GeneralInformationInfo.First().FirstAid"]').prop('checked', true);
        $('[name=fireextinguisher][value="@Model.GeneralInformationInfo.First().HasFireExtinguiser"]').prop('checked', true);
        $('[name=computerlab][value="@Model.GeneralInformationInfo.First().FunctionalFireExtinguise"]').prop('checked', true);
        $('#authorityType option[value="@Model.GeneralInformationInfo.First().AuthorityType"]').prop('selected', true);

        $('#selectdivision option[value="@Model.GeneralInformationInfo.First().DivisionId"]').prop('selected', true);
        $('#selectdistrict option[value="@Model.GeneralInformationInfo.First().DistrictId"]').prop('selected', true);
        $('#selectupazilla option[value="@Model.GeneralInformationInfo.First().UpazillaId"]').prop('selected', true);
        $('#selectunion option[value="@Model.GeneralInformationInfo.First().UnionId"]').prop('selected', true);

        var gobval = "@Model.GeneralInformationInfo.First().GobEIIN";
        $("[name=GobEIIN1]").val(gobval.charAt(0));
        $("[name=GobEIIN2]").val(gobval.charAt(1));
        $("[name=GobEIIN3]").val(gobval.charAt(2));
        $("[name=GobEIIN4]").val(gobval.charAt(3));
        $("[name=GobEIIN5]").val(gobval.charAt(4));
        $("[name=GobEIIN6]").val(gobval.charAt(5));
        $("[name=GobEIIN7]").val(gobval.charAt(6));
        $("[name=GobEIIN8]").val(gobval.charAt(7));
        $("[name=GobEIIN9]").val(gobval.charAt(8));
        $("[name=GobEIIN10]").val(gobval.charAt(9));
        $("[name=GobEIIN11]").val(gobval.charAt(10));


        var insPhone = "@Model.GeneralInformationInfo.First().InstitutePhone";
        $("[name=InstitutePhone1]").val(insPhone.charAt(0));
        $("[name=InstitutePhone2]").val(insPhone.charAt(1));
        $("[name=InstitutePhone3]").val(insPhone.charAt(2));
        $("[name=InstitutePhone4]").val(insPhone.charAt(3));
        $("[name=InstitutePhone5]").val(insPhone.charAt(4));
        $("[name=InstitutePhone6]").val(insPhone.charAt(5));
        $("[name=InstitutePhone7]").val(insPhone.charAt(6));
        $("[name=InstitutePhone8]").val(insPhone.charAt(7));
        $("[name=InstitutePhone9]").val(insPhone.charAt(8));
        $("[name=InstitutePhone10]").val(insPhone.charAt(9));
        $("[name=InstitutePhone11]").val(insPhone.charAt(10));

        var insMobile = "@Model.GeneralInformationInfo.First().InstituteMobile";


        $("[name=InstituteMobile1]").val(insMobile.charAt(0));
        $("[name=InstituteMobile2]").val(insMobile.charAt(1));
        $("[name=InstituteMobile3]").val(insMobile.charAt(2));
        $("[name=InstituteMobile4]").val(insMobile.charAt(3));
        $("[name=InstituteMobile5]").val(insMobile.charAt(4));
        $("[name=InstituteMobile6]").val(insMobile.charAt(5));
        $("[name=InstituteMobile7]").val(insMobile.charAt(6));
        $("[name=InstituteMobile8]").val(insMobile.charAt(7));
        $("[name=InstituteMobile9]").val(insMobile.charAt(8));
        $("[name=InstituteMobile10]").val(insMobile.charAt(9));
        $("[name=InstituteMobile11]").val(insMobile.charAt(10));

        var insFax = "@Model.GeneralInformationInfo.First().InstituteFax";


        $("[name=InstituteFax1]").val(insFax.charAt(0));
        $("[name=InstituteFax2]").val(insFax.charAt(1));
        $("[name=InstituteFax3]").val(insFax.charAt(2));
        $("[name=InstituteFax4]").val(insFax.charAt(3));
        $("[name=InstituteFax5]").val(insFax.charAt(4));
        $("[name=InstituteFax6]").val(insFax.charAt(5));
        $("[name=InstituteFax7]").val(insFax.charAt(6));
        $("[name=InstituteFax8]").val(insFax.charAt(7));
        $("[name=InstituteFax9]").val(insFax.charAt(8));
        $("[name=InstituteFax10]").val(insFax.charAt(9));
        $("[name=InstituteFax11]").val(insFax.charAt(10));

        var insBank = "@Model.GeneralInformationInfo.First().BankACNo";

        $("[name=Institutebank1]").val(insBank.charAt(0));
        $("[name=Institutebank2]").val(insBank.charAt(1));
        $("[name=Institutebank3]").val(insBank.charAt(2));
        $("[name=Institutebank4]").val(insBank.charAt(3));
        $("[name=Institutebank5]").val(insBank.charAt(4));
        $("[name=Institutebank6]").val(insBank.charAt(5));
        $("[name=Institutebank7]").val(insBank.charAt(6));
        $("[name=Institutebank8]").val(insBank.charAt(7));
        $("[name=Institutebank9]").val(insBank.charAt(8));
        $("[name=Institutebank10]").val(insBank.charAt(9));
        $("[name=Institutebank11]").val(insBank.charAt(10));


        var insCont = "@Model.GeneralInformationInfo.First().BankContact";

        $("[name=InstituteContactNo1]").val(insCont.charAt(0));
        $("[name=InstituteContactNo2]").val(insCont.charAt(1));
        $("[name=InstituteContactNo3]").val(insCont.charAt(2));
        $("[name=InstituteContactNo4]").val(insCont.charAt(3));
        $("[name=InstituteContactNo5]").val(insCont.charAt(4));
        $("[name=InstituteContactNo6]").val(insCont.charAt(5));
        $("[name=InstituteContactNo7]").val(insCont.charAt(6));
        $("[name=InstituteContactNo8]").val(insCont.charAt(7));
        $("[name=InstituteContactNo9]").val(insCont.charAt(8));
        $("[name=InstituteContactNo10]").val(insCont.charAt(9));
        $("[name=InstituteContactNo11]").val(insCont.charAt(10));


        var insMob = "@Model.GeneralInformationInfo.First().SmcPrisedentMobile";

        $("[name=SMCpresidentmobile1]").val(insMob.charAt(0));
        $("[name=SMCpresidentmobile2]").val(insMob.charAt(1));
        $("[name=SMCpresidentmobile3]").val(insMob.charAt(2));
        $("[name=SMCpresidentmobile4]").val(insMob.charAt(3));
        $("[name=SMCpresidentmobile5]").val(insMob.charAt(4));
        $("[name=SMCpresidentmobile6]").val(insMob.charAt(5));
        $("[name=SMCpresidentmobile7]").val(insMob.charAt(6));
        $("[name=SMCpresidentmobile8]").val(insMob.charAt(7));
        $("[name=SMCpresidentmobile9]").val(insMob.charAt(8));
        $("[name=SMCpresidentmobile10]").val(insMob.charAt(9));
        $("[name=SMCpresidentmobile11]").val(insMob.charAt(10));


        var insId = "@Model.GeneralInformationInfo.First().InstituteId";

        $("[name=Division1]").val(insId.charAt(0));
        $("[name=Division2]").val(insId.charAt(1));

        $("[name=District1]").val(insId.charAt(3));
        $("[name=District2]").val(insId.charAt(4));


        $("[name=Upazila1]").val(insId.charAt(6));
        $("[name=Upazila2]").val(insId.charAt(7));

        $("[name=Union1]").val(insId.charAt(9));
        $("[name=Union2]").val(insId.charAt(10));

        $("[name=edu1]").val(insId.charAt(12));
        $("[name=edu2]").val(insId.charAt(13));
        $("[name=edu3]").val(insId.charAt(14));
        $("[name=edu4]").val(insId.charAt(15));
        $("[name=edu5]").val(insId.charAt(16));
        $("[name=edu6]").val(insId.charAt(17));

                    @if (Model.CheckBoxInfo15_8 != null)
                    {
                        foreach (var item in Model.CheckBoxInfo15_8)
                        {
                                         
                                           @:$('[name=@item.ChkName][value="@item.ChkValue"]').prop('checked', true);
                                                  }

                    }


    });

</script>

<div class="tab-pane active" id="first">
    <span class="title-tab">General Information</span>
    <form method="POST" class='form-horizontal form-bordered form-validate' id="multiform" enctype="multipart/form-data" action="/Domain/UploadFile">
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title" style="margin-top: 0;">
                        <h3>Identification Code</h3>
                    </div>
                    <div class="box-content nopadding">
                        @{ String sampleString = Model.GeneralInformationInfo.First().InstituteId;
                          // string[] arrayInstituteID = sampleString.Split(',');
                                      
                            <div class="control-group">
                                <label class="control-label">Q 1. Institute ID (Cluster ID):</label>
                                <div class="controls">







                                    <div class="span31" style="background: #FBE4D5; padding: 10px; margin-left: 0px; width: 122px !important;">
                                        <div>


                                            @if (Model.DivisionInfo.Count > 0)
                                            {

                                                <select class="input-large" name="selectdivision" id="selectdivision" style="width: 100%;" class='chosen-select'>
                                                    <option value="" selected="selected">Division</option>
                                                    @foreach (var div in Model.DivisionInfo)
                                                    {         
                                                        <option value="@div.DivisionId">@div.DivisionName</option>            
                                                    }


                                                </select>
                                            }
                                            else
                                            {

                                                <select class="input-large" name="selectdivision" disabled="disabled">
                                                    <option value="" selected="selected">Division</option>

                                                </select>
                                            }



                                        </div>

                                        <input class="spanmn InstituteId Division" maxlength="1" readonly="true" type="text"  name="Division1">
                                        <input class="spanmn InstituteId Division" maxlength="1" readonly="true" type="text"  name="Division2">
                                        
                                    </div>

                                    <div class="span31" style="background: #D9E2F3; padding: 10px; margin-left: 0px; width: 122px !important;">
                                        <div>
                                            
                                            @if (Model.DistrictInfo.Count > 0)
                                            {
                                            <select name="selectdistrict" id="selectdistrict" style="width: 100%;"  class='chosen-select'>
                                                 <option value="" selected="selected">District</option>
                                                    @foreach (var div in Model.DistrictInfo)
                                                    {         
                                                        <option value="@div.DistrictId">@div.DistrictName</option>            
                                                    }

                                            </select>
                                            }
                                            else
                                            {

                                                <select class="input-large" name="selectdistrict" disabled="disabled">
                                                    <option value="" selected="selected">Create District</option>

                                                </select>
                                            }


                                        </div>

                                        <input class="spanmn InstituteId District" maxlength="1" readonly="true" type="text"  name="District1">
                                        
                                        <input class="spanmn InstituteId District" maxlength="1" readonly="true" type="text"  name="District2">
                                    </div>

                                    <div class="span31" style="background: #C5E0B3; padding: 10px; margin-left: 0px; width: 122px !important;">
                                        <div>
                                            

                                              @if (Model.UpazillaInfo.Count > 0)
                                              {
                                            <select name="selectupazilla" id="selectupazilla" style="width: 100%;"  class='chosen-select'>
                                                 <option value="" selected="selected">Upazilla</option>
                                                    @foreach (var div in Model.UpazillaInfo)
                                                    {         
                                                        <option value="@div.UpazillaId">@div.UpazillaName</option>            
                                                    }

                                            </select>
                                              }
                                              else
                                              {
                                                  
                                                  <select class="input-large" name="selectupazilla" disabled="disabled">
                                                    <option value="" selected="selected">Create Upazilla</option>

                                                </select>
                                                  
                                              }
                                             
                                        </div>
                                        <input class="spanmn InstituteId Upazilla" maxlength="1" readonly="true" type="text"  name="Upazila1">
                                        <input class="spanmn InstituteId Upazilla" maxlength="1" readonly="true" type="text"  name="Upazila2">
                                    </div>

                                    <div class="span31" style="background: #FFE599; padding: 10px; margin-left: 0px; width: 122px !important;">
                                        <div>

                                               @if (Model.UnionInfo.Count > 0)
                                               {
                                            <select name="selectunion" id="selectunion" style="width: 100%;"  class='chosen-select'>
                                                 <option value="" selected="selected">Union</option>
                                                    @foreach (var div in Model.UnionInfo)
                                                    {         
                                                        <option value="@div.UnionId">@div.UnionName</option>            
                                                    }

                                            </select>
                                               }
                                               else
                                               {
                                                  
                                                  <select class="input-large" name="selectunion" disabled="disabled">
                                                    <option value="" selected="selected">Create Union</option>

                                                </select>
                                                  
                                               }
                                           
                                        </div>
                                        <input class="spanmn InstituteId Union" maxlength="1" readonly="true" type="text"  name="Union1">
                                        <input class="spanmn InstituteId Union" maxlength="1" readonly="true" type="text"  name="Union2">
                                    </div>
                                    <div class="span33" style="background: #D0CECE; padding: 10px; margin-left: 0px; width: 276px !important;">
                                        <p>Education Cluster Sl#</p>
                                        <input class="spanmn InstituteId Cluster num" maxlength="1" type="text"  name="edu1">
                                        <input class="spanmn InstituteId Cluster num" maxlength="1" type="text"  name="edu2">
                                        <input class="spanmn InstituteId Cluster num" maxlength="1" type="text"  name="edu3">
                                        <input class="spanmn InstituteId Cluster num" maxlength="1" type="text"  name="edu4">
                                        <input class="spanmn InstituteId Cluster num" maxlength="1" type="text"  name="edu5">
                                        <input class="spanmn InstituteId Cluster num" maxlength="1" type="text"  name="edu6">
                                    </div>


                                </div>
                            </div>
                        }

                        @{ String GobEIINString = Model.GeneralInformationInfo.First().GobEIIN;
                                    //string[] arrayGobEIIN = GobEIINString.Split(',');
                            <div class="control-group">
                                <label class="control-label">Q 2. GoB EIIN (Education Institute Identification Number):</label>
                                <div class="controls">

                                    <div class="span333">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN1">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN2">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN3">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN4">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN5">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN6">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN7">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN8">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN9">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN10">
                                        <input class="spanmn GobEIIN num" maxlength="1" type="text"  name="GobEIIN11">
                                    </div>


                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 3. What is the type of institute/school? </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class="control-group qthree">
                            <label class="radio">
                                <input type="radio" name="InstituteType" value="Kindergarten">Kindergarten</label>
                            <label class="radio">
                                <input type="radio" name="InstituteType" value="Primary">Primary</label>
                            <label class="radio">
                                <input type="radio" name="InstituteType" value="NGO School">NGO School</label>
                            <label class="radio">
                                <input type="radio" name="InstituteType" value="Technical School">Technical School</label>
                            <label class="radio">
                                <input type="radio" name="InstituteType" value="High School">High School</label>
                            <label class="radio">
                                <input type="radio" name="InstituteType" value="College">College</label>
                            <label class="radio">
                                <input type="radio" name="InstituteType" value="Madrasa">Madrasa</label>
                            <label class="radio">
                                <input type="radio" name="InstituteType" value="Vocational">Vocational</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 4. What is the management type of institute/ school? </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class="control-group qthree">
                            <label class="radio">
                                <input type="radio" name="ManagementType" value="@Model.GeneralInformationInfo.First().ManagementType">Government</label>
                            <label class="radio">
                                <input type="radio" name="ManagementType" value="Non-Government">Non-Government</label>
                            <label class="radio">
                                <input type="radio" name="ManagementType" value="NGO">NGO</label>
                            <label class="radio">
                                    <input type="radio" name="ManagementType" value="Private">Private</label>
                        </div>
                    </div>

                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group">
                                <label class="control-label">Q 4.1 Authority Type :</label>
                                <div class="controls">
                                    <div class="span4">
                                        <select class="chosen-select" id="authorityType" style="width: 100%;" name="authorityType">
                                                 <option value="DPE">DPE</option>
                                                <option value="DSHE">DSHE</option>
                                                <option value="BMEB">BMEB</option>
                                                                                                <option value="BNFE">BNFE</option>
                                                   <option value="BTEB">BTEB</option>
                                            <option value="OTHERS">OTHERS</option>
                                                  
                                               
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 5. How many shifts in the school?</h3>
                    </div>
                    <div class="box-content nopadding">


                        <div class="control-group">
                            <label class="control-label">Number of shifts :</label>
                            <div class="controls">
                                <div class="span333">
                                    <label class="radio">
                                        <input type="radio" name="HowManyShift" value="1">1 (One)</label>
                                    <label class="radio">
                                        <input type="radio" name="HowManyShift" value="2">2 (Two)</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 6. What is the establishment date :</h3>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="textfield">Establishment date</label>
                        <div class="controls">
                            @*foreach(var esdate in Model.GeneralInformationInfo){
                                //string deliveryDate = esdate.EstabilishmentDate.Value.ToShortDateString();*@
                            <input type="text" maxlength="4"   value="@Model.GeneralInformationInfo.First().EstabilishmentDate" class="input-medium span2 EstabilishmentDate num"  name="textfield">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 7. What is the school/institute name (English)?</h3>
                    </div>

                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group">
                                <label class="control-label">7.1 Institute name (English):</label>
                                <div class="controls">
                                    <div class="span333 moze-bor">
                                        <input class="input-xlarge span11 classUpCase" type="text" name="InstituteEng" value="@Model.GeneralInformationInfo.First().InstituteEng">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">7.2 Institute name (বাংলা):</label>
                                <div class="controls">
                                    <div class="span333 moze-bor">
                                        <input class="input-xlarge span11 classUpCase" type="text" name="InstituteBng" value="@Model.GeneralInformationInfo.First().InstituteBng">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">7.3 Address :</label>
                                <div class="controls">
                                     <div class="control-group" style="background:#fff;">
                                         <span class="help-inline pop">House </span>
                                           <input class="span2 InstituteAddress" type="text" value="@Model.GeneralInformationInfo.First().InstitudeHouse" name="InstitudeHouse">
                                            <span class="help-inline pop">Road </span>
                                             <input class="span2 InstituteAddress" type="text" value="@Model.GeneralInformationInfo.First().InstitudeRoad" name="InstitudeRoad">
                                            <span class="help-inline pop">Section</span>
                                            <input class="span2 InstituteAddress" type="text" value="@Model.GeneralInformationInfo.First().InstitudeSection" name="InstitudeSection">
                                            <div style="clear:both;"><br /></div>
                                            <span class="help-inline pop">Village/Moholla </span>
                                             <input class="span2 InstituteAddress" type="text" value="@Model.GeneralInformationInfo.First().InstitudeVillage" name="InstitudeVillage">
                                            <span class="help-inline pop">Union/Ward</span>
                                            <input class="span2 InstituteAddress" readonly="true" type="text" value="@Model.GeneralInformationInfo.First().InstitudeUnion" name="InstitudeUnion">
                                            <span class="help-inline pop">Upazila </span>
                                            <input class="span2 InstituteAddress" readonly="true" type="text" value="@Model.GeneralInformationInfo.First().InstitudeUpazilla" name="InstitudeUpazilla">
                                            <div style="clear:both;"><br /></div>
                                            <span class="help-inline pop">District </span>
                                            <input class="span2 InstituteAddress" readonly="true" type="text" value="@Model.GeneralInformationInfo.First().InstitudeDistric" name="InstitudeDistric">
                                            <span class="help-inline pop">Division </span>
                                             <input class="span2 InstituteAddress" readonly="true" type="text"value="@Model.GeneralInformationInfo.First().InstitudeDivision" name="InstitudeDivision">
                                            <span class="help-inline pop">Country </span>
                                            <input class="span2 InstituteAddress" readonly="true" type="text" Value="Bangladesh" name="InstituteAddressBangladesh">

                                       @* <input class="spanmn InstituteAddress" type="text"   name="InstitudeHouse">
                                        <input class="spanmn InstituteAddress" type="text"   name="InstitudeRoad">
                                        <input class="spanmn InstituteAddress" type="text"  name="InstitudeSection">
                                        <input class="spanmn InstituteAddress" type="text"  name="InstitudeVillage">
                                        <input class="spanmn InstituteAddress" type="text"  readonly="true"   name="InstitudeUnion">
                                        <input class="spanmn InstituteAddress" type="text" readonly="true"    name="InstitudeUpazilla">
                                        <input class="spanmn InstituteAddress" type="text" readonly="true"   name="InstitudeDistric">
                                        <input class="spanmn InstituteAddress" type="text" readonly="true"  name="InstitudeDivision">
                                        <input class="spanmn InstituteAddress" type="text" readonly="true" value="Bangladesh" name="InstituteAddressBangladesh">*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 8. What is the students information? </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class="control-group qthree">
                            8.1  How many students in the school?
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group">
                                <label class="control-label" style="width:300px;">
                                    <br />
                                    Total</label>
                                <div class="controls opthion" style="margin-left:320px;">
                                    <label class="control-label" style="background: #FBE4D5;padding-top:5px;-webkit-border-radius:3px!important;-moz-border-radius:3px!important;border-radius:3px!important;font-weight:bold;margin-bottom:5px;">Male/Boy</label>
                                    <label class="control-label" style="background: #C5E0B3;padding-top:5px;-webkit-border-radius:3px!important;-moz-border-radius:3px!important;border-radius:3px!important;font-weight:bold;">Female/Girl</label>
                                    <label class="control-label" style="background: #FFE599;padding-top:5px;-webkit-border-radius:3px!important;-moz-border-radius:3px!important;border-radius:3px!important;font-weight:bold;">Grand Total(All Students)</label>

                                    <div class="span334 moze-bor" style="margin-left: 0;">
                                        <input class="input-xlarge num" maxlength="4" value="@Model.GeneralInformationInfo.First().StudentMale" type="text" name="StudentMale">
                                        <input class="input-xlarge num" maxlength="4" value="@Model.GeneralInformationInfo.First().StudentFemale" type="text" name="StudentFemale">
                                        @{

                                            int? total = 0;
                                            int? StudentDisableTotal = 0;
                                            int? StudentEthnicTotal = 0;
                                            

                                                total = Model.GeneralInformationInfo.First().StudentTotal;
                                            
                                                StudentDisableTotal = Model.GeneralInformationInfo.First().StudentDisable;
                                            

                                                StudentEthnicTotal = Model.GeneralInformationInfo.First().StudentEthnic;
                                            
                                            //  int gtotal = total + StudentDisableTotal + StudentEthnicTotal;



                                        }
                                        <input class="input-xlarge num" maxlength="4" value="@total" readonly="true" type="text" name="StudentTotal">
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" style="width:300px;">
                                    Accessible to children with physical 
disabilities
                                </label>
                                <div class="controls" style="margin-left:320px;">
                                    <div class="span334 moze-bor" style="margin-left: 0;">
                                        <input class="input-xlarge num" maxlength="4" value="@Model.GeneralInformationInfo.First().StudentDisableMale" type="text" name="StudentDisableMale">
                                        <input class="input-xlarge num" maxlength="4" value="@Model.GeneralInformationInfo.First().StudentDisableFeMale" type="text" name="StudentDisableFemale">

                                        <input class="input-xlarge num" maxlength="4" readonly="true" value="@StudentDisableTotal" type="text" name="StudentDisableTotal">
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" style="width:300px;">Ethnic group</label>
                                <div class="controls" style="margin-left:320px;">
                                    <div class="span334 moze-bor" style="margin-left: 0;">
                                        <input class="input-xlarge num" maxlength="4" type="text" value="@Model.GeneralInformationInfo.First().StudentEthnicMale" name="StudentEthnicMale">
                                        <input class="input-xlarge num" maxlength="4" type="text" value="@Model.GeneralInformationInfo.First().StudentEthnicFeMale" name="StudentEthnicFemale">

                                        <input class="input-xlarge num" maxlength="4" readonly="true" type="text" value="@StudentEthnicTotal" name="StudentEthnicTotal">
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 9. What are the school/institute communication details? </h3>
                    </div>

                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group">
                                <label class="control-label">8.1. Phone (with district code):</label>
                                <div class="controls">
                                    <div class="span339">

                                        @{ 
                                            String InstitutePhoneString = Model.GeneralInformationInfo.First().InstitutePhone;
                                            
                                             
                                    
                                           
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text" name="InstitutePhone1">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text" name="InstitutePhone2">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text" name="InstitutePhone3">
                                            <div style="width: 17.6%; display: inline-block;"></div>
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text" name="InstitutePhone4">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text" name="InstitutePhone5">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text" name="InstitutePhone6">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text" name="InstitutePhone7">
                                            <input class="spanmn InstitutePhone num" maxlength="1" type="text" name="InstitutePhone8">
											 <input class="spanmn InstitutePhone num" maxlength="1" type="text" name="InstitutePhone9">
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">9.2. Mobile ( +88): </label>
                                <div class="controls">
                                    <div class="span339">

                                        @{ 
                                            String InstituteMobileString = Model.GeneralInformationInfo.First().InstituteMobile;
                                            // string[] arrayInstituteMobile = InstituteMobileString.Split(',');
                          
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile1">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile2">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile3">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile4">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile5">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile6">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile7">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile8">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile9">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile10">
                                            <input class="spanmn InstituteMobile num" maxlength="1" type="text" name="InstituteMobile11">
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">9.3. Fax (with code): </label>
                                <div class="controls">
                                    <div class="span339">
                                        @{ 
                                            String InstituteFaxString = Model.GeneralInformationInfo.First().InstituteFax;
                                            // string[] arrayInstituteFax = InstituteFaxString.Split(',');
                          
                                             <input class="spanmn InstituteFax num" maxlength="1" type="text" name="InstituteFax1">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text" name="InstituteFax2">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text" name="InstituteFax3">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text" name="InstituteFax4">
                                            <div style="width: 17.6%; display: inline-block;"></div>
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text" name="InstituteFax5">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text" name="InstituteFax6">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text" name="InstituteFax7">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text" name="InstituteFax8">
                                            <input class="spanmn InstituteFax num" maxlength="1" type="text" name="InstituteFax9">
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">9.5. Website (if any):</label>
                                <div class="controls">
                                    <div class="span339">
                                        <input class="span12 InstituteWebUrl" type="text" value="@Model.GeneralInformationInfo.First().InstituteWebUrl" name="InstituteWebUrl">
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">9.6. Institute bank A/C no:</label>
                                <div class="controls">
                                    <div class="span339">
                                        @{ 
                                            String InstitutebankString = Model.GeneralInformationInfo.First().BankACNo;
                                            //  string[] arrayInstitutebank = InstitutebankString.Split(',');
                          
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank1">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank2">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank3">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank4">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank5">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank6">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank7">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank8">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank9">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank10">
                                            <input class="spanmn Institutebank num" maxlength="1" type="text" name="Institutebank11">
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">9.7. Bank name:</label>
                                <div class="controls">
                                    <div class="span339">
                                        <input class="span12 Institutebankname" value="@Model.GeneralInformationInfo.First().BankName" name="Institutebankname" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">9.8. Bank branch:</label>
                                <div class="controls">
                                    <div class="span339">
                                        <input class="span12 Institutebankbranch" value="@Model.GeneralInformationInfo.First().BankBranch" name="Institutebankbranch" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">9.9. Contact no(+88): </label>
                                <div class="controls">
                                    <div class="span339">
                                        @{ 
                                            String InstituteContactNoString = Model.GeneralInformationInfo.First().BankContact;
                                            //  string[] arrayInstituteContactNo = InstituteContactNoString.Split(',');
                                           <input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo1">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo2">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo3">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo4">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo5">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo6">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo7">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo8">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo9">
                                            <input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo10">
											<input class="spanmn InstituteContactNo num" maxlength="1" type="text" name="InstituteContactNo11">
                                           
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">9.10. Bank address: </label>
                                <div class="controls">
                                    <div class="span339">

                                        <input id="Bankaddress"  class="span12" name="Bankaddress" value="@Model.GeneralInformationInfo.First().BankAddress"   type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 10. What is the GPS/Geo code?</h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class="control-group qthree">
                            <span class="help-inline">Latitude </span>
                            <input class="span98 Latitude" name="Latitude" value="@Model.GeneralInformationInfo.First().GpsLatitude" type="text">
                            <span class="help-inline">Longitude </span>
                            <input class="span98 Longitude" name="Longitude" value="@Model.GeneralInformationInfo.First().GpsLongtitude" type="text">
                            <span class="help-inline">Altitude </span>
                            <input class="span98 Altitude" name="altitude" value="@Model.GeneralInformationInfo.First().Altitude" type="text">
                            <span class="help-inline">Meter</span>
                        </div>
                    </div>

                    <div class="box-content nopadding">
                         <div class="map-im">
                              <div id="map-canvas" style="height:393px;width:100%; padding:2px; border:solid 1px #999;">
        
    </div>
                              


                            </div>

                        <div class="map-im1">
                            <div class="sctit">
                                @*<span class="btn btn-file">*@
                                  @*  <span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>*@
                                    <input  type="file" name="MyFile" id="fu-my-simple-upload-with-size" />

                            @*    </span>*@

                               @* <span>&nbsp;<a href="#" >Start upload</a></span>*@

                                <span class="fileupload-buttonbar progress"></span>
                            </div>
                            @{
                                string imgPath = Model.GeneralInformationInfo.First().InstituteId + ".jpg";
                             
                            <img style="width:100%;" src="~/Uploads/@imgPath" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 11. What is the institute/school area type? </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class="control-group qthree">
                            <label class="radio">
                                <input type="radio" name="areatype" value="Rural">Rural</label>
                            <label class="radio">
                                <input type="radio" name="areatype" value="Urban">Urban</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 12 What is the geographical location of the school? </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class="control-group qthree">
                            <label class="radio">
                                <input type="radio" name="geographicallocation" value="Plain Land">Plain Land</label>
                            <label class="radio">
                                <input type="radio" name="geographicallocation" value="Hill Tract">Hill Tract</label>
                            <label class="radio">
                                <input type="radio" name="geographicallocation" value="Seashore">Seashore</label>
                             <label class="radio">
                                    <input type="radio" name="geographicallocation" value="Marsh">Marsh</label>
                            <label class="radio">
                                <input type="radio" name="geographicallocation" value="Haor">Haor</label>
                            <label class="radio">
                                <input type="radio" name="geographicallocation" value="Char">Char
                            </label>
                            <label class="radio">
                                <input type="radio" name="geographicallocation" value="Offshore Island">Offshore Island</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <div class="row-fluid">
                <div class="span12">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>Q 12.1. School/institute position regarding Embankment(if applicable)? </h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="control-group qthree">
                                <label class="radio">
                                    <input type="radio" name="embankment" value="On The Embankment">On The Embankment</label>
                                <label class="radio">
                                    <input type="radio" name="embankment" value="In The Embankment">In The Embankment</label>
                                <label class="radio" style="width:200px;">
                                    <input type="radio" name="embankment" value="Outside The Embankment">Outside The Embankment</label>
                                

                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 13. What is the main routes of transportation for students/teachers? </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class="control-group qthree">
                            <label class="radio">
                                <input type="radio" name="transportation" value="Road way">Road way</label>
                            <label class="radio">
                                <input type="radio" name="transportation" value="Water way">Water Way</label>
                            <label class="radio">
                                <input type="radio" name="transportation" value="Both">Both</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 14. What are the SMC/governing body information details? </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group">
                                <label class="control-label">14.1. Current SMC/Governing body expiry date:</label>
                                <div class="controls">
                                    <div class="span333">
                                        <input type="text" maxlength="4" class="input-medium num expirydate span2"  value="@Model.GeneralInformationInfo.First().SmcExpiredate" name="smscexpirydate">
                                    </div>


                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">14.2 SMC/Governing body Chairperson name:</label>
                                <div class="controls">
                                    <div class="span339">
                                        <input class="span12 SMCpresidentname" name="SMCpresidentname" value="@Model.GeneralInformationInfo.First().SmcPrisedentName"  type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">14.3. SMC/Governing body Chairperson mobile no:</label>
                                <div class="controls">
                                    <div class="span333">
                                        @{ 
                                            String SmcPrisedentMobileNoString = Model.GeneralInformationInfo.First().SmcPrisedentMobile;
                                             <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile1">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile2">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile3">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile4">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile5">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile6">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile7">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile8">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile9">
                                            <input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile10">
											<input class="spanmn SMCpresidentmobile num" maxlength="1" type="text" name="SMCpresidentmobile11">
											
                                        }
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 15. What are the teachers and educational staffs information details? </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>

                            <div class="control-group">
                                <label class="control-label">15.1.No. of male teachers:</label>
                                <div class="controls">
                                    <div class="span333">
                                        <input class="spanmn nomaleteacher num" value="@Model.GeneralInformationInfo.First().TeacherMale" name="nomaleteacher" maxlength="2" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">15.2. No. of female teachers:</label>
                                <div class="controls">
                                    <div class="span333">
                                        <input class="spanmn nofemaleteacher num" value="@Model.GeneralInformationInfo.First().TeacherFemale" name="nofemaleteacher" maxlength="2" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">15.3. No. of vacant teacher’s position:</label>
                                <div class="controls">
                                    <div class="span333">
                                        <input class="spanmn novacantteacher num" value="@Model.GeneralInformationInfo.First().VacantTeacherPosition" name="novacantteacher" maxlength="2" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">15.4. No. of  non-educational staff:</label>
                                <div class="controls">
                                    <div class="span333">
                                        <input class="spanmn noneducationalstaff num" value="@Model.GeneralInformationInfo.First().NonEducationalStuff" name="noneducationalstaff" maxlength="2" type="text">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 16. What are the common facilities in the school/institute? </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered dmis'>
                            <div class="control-group ">
                                <label class="control-label">16.1. Is there any tiffin facility in the school?</label>
                                <div class="controls">
                                    <div class="span333">
                                        <label class="radio">
                                            <input type="radio" value="yes" name="tiffin">Yes</label>
                                        <label class="radio">
                                            <input type="radio" value="no" name="tiffin">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">16.2. Is there any playing ground?</label>
                                <div class="controls">
                                    <div class="span333">
                                        <label class="radio">
                                            <input type="radio" value="yes" name="playing">Yes</label>
                                        <label class="radio">
                                            <input type="radio" value="no" name="playing">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">16.3. Is there any electricity facility?</label>
                                <div class="controls">
                                    <div class="span333">
                                        <label class="radio">
                                            <input type="radio" value="yes" name="electricity">Yes</label>
                                        <label class="radio">
                                            <input type="radio" value="no" name="electricity">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">16.4. Is there any internet facility?</label>
                                <div class="controls">
                                    <div class="span333">
                                        <label class="radio">
                                            <input type="radio" value="yes" name="internet">Yes</label>
                                        <label class="radio">
                                            <input type="radio" value="no" name="internet">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">16.5. Is there any computer lab?</label>
                                <div class="controls">
                                    <div class="span333">
                                        <label class="radio">
                                            <input type="radio" value="yes" name="computerlab">Yes</label>
                                        <label class="radio">
                                            <input type="radio" value="no" name="computerlab" />No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">16.6. Is there any functional first aid box?</label>
                                <div class="controls">
                                    <div class="span333">
                                        <label class="radio">
                                            <input type="radio" value="yes" name="functionalfirstaid">Yes</label>
                                        <label class="radio">
                                            <input type="radio" value="no" name="functionalfirstaid">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">16.7. Is there any fire extinguisher? </label>
                                <div class="controls">
                                    <div class="span333">
                                         <label class="radio">
                                                <input type="radio" value="yes" class="fireextinguisher" name="fireextinguisher">Yes</label>
                                            <label class="radio">
                                                <input type="radio" value="no" class="fireextinguisher" name="fireextinguisher">No</label>
                                    </div>
                                </div>
                            </div>
                           <div class="control-group fireextinguisher-optional">
                                <label class="control-label">If Yes, how many valid functional fire extinguisher exist?</label>
                                <div class="controls">
                                    <div class="span333">
                                        <input class="spanmn validfunctionalfireextinguisher num" value="@Model.GeneralInformationInfo.First().FunctionalFireExtinguise" name="validfunctionalfireextinguisher" maxlength="3" type="text">
                                    </div>
                                </div>
                            </div>

                             <div class="control-group">
                                <label class="control-label">16.8. What are the institutional volunteering services (check multiple  – if applicable)?</label>
                                <div class="controls">
                                    <div class="span333">
                                         <div class="control-group qthree">
                                          <label class="checkbox">
                                    <input type="checkbox" class="institutionalvolunteeringservices" value="Scout" name="Scout">Scout</label>
                                <label class="checkbox">
                                    <input type="checkbox" class="institutionalvolunteeringservices" value="Rover" name="Rover">Rover</label>
                                <label class="checkbox">
                                    <input type="checkbox" class="institutionalvolunteeringservices" value="BNCC" name="BNCC">BNCC</label>

                                <label class="checkbox">
                                    <input type="checkbox" class="institutionalvolunteeringservices" value="Cub" name="Cub">Cub</label> <br />
                                <label class="checkbox">
                                    <input type="checkbox" class="institutionalvolunteeringservices" value="Girls Guide" name="GirlsGuide">Girls Guide</label>
                                <label class="checkbox">
                                    <input type="checkbox" class="institutionalvolunteeringservices" value="Red Crescent" name="RedCrescent">Red Crescent</label>
                                <label class="checkbox">
                                    <input type="checkbox" class="institutionalvolunteeringservices" value="None" name="None">None</label>
                                    </div>
                                         </div>
                                </div>
                            </div>

                          
                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">

                <input type="button" class="btn btn-grey usub"  onclick="step1Validation(genId)" value="Update">
                @*  <a class="btn btn-satblue" data-toggle="tab"  href="#first">Previous</a>*@
                <a class="btn btn-satblue secondtab "  data-toggle="tab" href="#second">Next</a>
                @* <a class="btn btn-green" href="#">Color</a>
                    <a class="btn btn-brown" href="#">Color</a>
                    <a class="btn btn-blue" href="#">Color</a>*@
            </div>
        </div>

    </form>

</div>

