﻿    
<div class="tab-pane" id="second">

        <div class="box box-bordered">
            <div class="box-title" style="margin-top: 0;">
                <h3>Q 16. Institute’s structural information: </h3>
            </div>
            <div class="box-content nopadding">

                <div class='form-horizontal form-bordered'>
                    <div class="span66">
                        <div class="control-group">
                            <label class="control-label">16.1. How many buildings/structures exist in the school ?</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" name="TotalBuildingStructer"></div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of pacca building/structure:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" name="TotalPaccaBuildingStructer">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of semi pacca building/structure:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" name="TotalSemiPaccaBuildingStructer">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of  kacha building/structure:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" name="TotalKaccaBuildingStructer">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of unused/abounded building/structure:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" name="TotalUnsedBuildingStructer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span666">
                        <div class="control-group">
                            <label class="control-label">16.2. How many class rooms exist in the school?</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" name="TotalClassRoom"></div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of  kacha class room :</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" name="TotalKaccaClassRoom">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of semi pacca class room:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" name="TotalSemiPaccaClassRoom">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of pacca Class Room:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" name="TotalPaccaClassRoom">
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="background: none;">
                            <label class="control-label">No. of unused/abandon class room:</label>
                            <div class="controls">
                                <div class="span">
                                    <input class="span" type="text" name="TotalUnsedClassRoom">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

            <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 17. Institute’s drinking water facilities :</h3>
                    </div>



                                        <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group qthree">17.1. What are the sources of drinking water? (check multiple- if applicable) :</div>
                        </div>
                    </div>

                       <div class="box-content nopadding">
                        <div class="control-group qthree">
                              <label class="radio">
                                <input type="checkbox" name="Kindergarten" class="SourceOfDrinkingWater" value="Kindergarten">Kindergarten</label>
                            <label class="radio">
                                <input type="checkbox" name="Primary" class="SourceOfDrinkingWater" value="Primary">Primary</label>
                            <label class="radio">
                                <input type="checkbox" name="NGOSchool" class="SourceOfDrinkingWater" value="NGO School">NGO School</label>
                            <label class="radio">
                                <input type="checkbox" name="TechnicalSchool" class="SourceOfDrinkingWater" value="Technical School">Technical School</label>
                            <label class="radio">
                                <input type="checkbox" name="HighSchool" class="SourceOfDrinkingWater" value="High School">High School</label>
                            <label class="radio">
                                <input type="checkbox" name="College" class="SourceOfDrinkingWater" value="College">College</label>
                            <label class="radio">
                                <input type="checkbox" class="SourceOfDrinkingWater" name="Madrasa" value="Madrasa">Madrasa</label>
                            <label class="radio">
                                <input type="checkbox" name="Vocational" class="SourceOfDrinkingWater" value="Vocational">Vocational</label>
                            <label class="radio">
                                <input type="checkbox" name="Others" class="SourceOfDrinkingWater" value="Others">Others (specify)<input class="span2" type="text" name="SourceOfDrinkingWaterOther" >
                            </label>
                        </div>
                    </div>
                 


                    </div>
                </div>
                </div>
        
    <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 18. Institute’s sanitation facility: </h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">18.1  Total no. of functioning toilet in the institute:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineFacilityFunctional">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.2. Total no. of students toilet:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineFacilityForStudent">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Boy toilet :</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineForMaleStudent">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Girl toilet :</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineForFemaleStudent">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.3. Total no. of teacher’s toilet:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineFacilityForTeacher">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Male toilet :</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineFacilityForMaleTeacher">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Female toilet :</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="spanmn" type="text" name="LatrineFacilityForFemaleTeacher">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.4. Do the latrines/urinals maintain regularly? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="LatrineRegularMaintain" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="LatrineRegularMaintain" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.5. What about the latrine/urinal condition?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label style="width: 90px; text-align: center;">Poor</label>
                                            <label style="width: 90px; text-align: center;">Acceptable</label>
                                            <label style="width: 90px; text-align: center;">Good</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Boys :</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label style="width: 90px; text-align: center;">
                                                <input type="radio" name="LatrineMaleCondtion" value="poor"></label>
                                            <label style="width: 90px; text-align: center;">
                                                <input type="radio" name="LatrineMaleCondtion" value="acceptable"></label>
                                            <label style="width: 90px; text-align: center;">
                                                <input type="radio" name="LatrineMaleCondtion" value="good"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Girls:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label style="width: 90px; text-align: center;">
                                                <input type="radio" name="LatrineFemaleCondtion" value="poor"></label>
                                            <label style="width: 90px; text-align: center;">
                                                <input type="radio" name="LatrineFemaleCondtion" value="acceptable"></label>
                                            <label style="width: 90px; text-align: center;">
                                                <input type="radio" name="LatrineFemaleCondtion" value="good"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.6. Is the latrine/urinal accessible to children with physical disabilities? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="LatrinePhysicalDisabilties" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="LatrinePhysicalDisabilties" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">18.7. Is the latrine/urinal accessible to children with physical disabilities? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="LatrineChildAccessiblePhysicalDisabilties" value="yes">
                                                Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="LatrineChildAccessiblePhysicalDisabilties" value="no">
                                                No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 19. Natural and Human Hazards Affecting School Campus or Local Community. What are the following areas can be effected by hazard in your school and how? (check multiple – if applicable)</h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>

                            <div class="control-group">
                                <label class="control-label">Hazard</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="87">Serious injuries or deaths</td>
                                                <td width="83">Damage to buildings</td>
                                                <td width="87">Used as Shelter</td>
                                                <td width="79">Commun ication interruption</td>
                                                <td width="84">Damage Roads and transport</td>
                                                <td width="87">Water</td>
                                                <td width="90">Toilet</td>
                                                <td width="88">School closure</td>
                                                <td width="79">Reduced School attendance</td>
                                                <td width="85">Dropout</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Flood</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" style="background: #F6F6F6;" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="deaths"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Cyclone</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Earth Quack</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">River Bank Erosion</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Tidal Surge</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Water Logging</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Strom</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Land Slide</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Fire</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Salinity</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Flash Flood</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Seasonal Strom</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Other(Specify)</label>
                                <div class="controls" style="padding: 0;">
                                    <div class="spantbl">
                                        <table width="100%" border="0" style="background: #F6F6F6;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                                <td>
                                                    <input type="checkbox" name="checkbox"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


         <div class="row-fluid">
                <div class="span12">

                    <input type="button" class="btn btn-grey" onclick="step2Validation(slId) " value="Save">
                    @*<a class="btn btn-satblue" data-toggle="tab"  href="#second">Previous</a>*@
                    <a class="btn btn-satblue" data-toggle="tab"  href="#thirds">Next</a>
                    @*<a class="btn btn-green" href="#">Color</a>
                    <a class="btn btn-brown" href="#">Color</a>
                    <a class="btn btn-blue" href="#">Color</a>*@
                </div>
            </div>

        
    </div>
