﻿<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Apple devices fullscreen -->
<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<title>DMIS - Dashboard</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="~/Content/Form/css/bootstrap.min.css">
<!-- Bootstrap responsive -->
<link rel="stylesheet" href="~/Content/Form/css/bootstrap-responsive.min.css">
<!-- jQuery UI -->
  @*<link href="~/Content/Form/css/bootstrap-responsive.css" rel="stylesheet" />*@
<link rel="stylesheet" href="~/Content/Form/css/plugins/jquery-ui/smoothness/jquery-ui.css">
<link rel="stylesheet" href="~/Content/Form/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
<!-- Theme CSS -->
<link rel="stylesheet" href="~/Content/Form/css/style.css">
<!-- Color CSS -->
<link rel="stylesheet" href="~/Content/Form/css/themes.css">
<!-- jQuery -->

    

<!--[if lte IE 9]>
		<script src="~/Scripts/Form/js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->
<!-- Favicon -->
<link rel="shortcut icon" href="~/Content/Form/img/favicon.ico" />
<!-- Apple devices Homescreen icon -->
<link rel="apple-touch-icon-precomposed" href="~/Content/Form/img/apple-touch-icon-precomposed.png" />
   

</head>
<body>
<div id="navigation">
<div class="container-fluid"> <a href="#" id="brand">SSMIS</a>
<ul class='main-nav'>
<li class="@ViewBag.DashTab"><a href="/domain/index"><span>Home</span></a></li>
    <li  class="@ViewBag.DatacollectionTab" ><a href="/domain/datacollection"><span>List</span></a></li>
    <li class="@ViewBag.ActiveForm" ><a href="@ViewBag.Href"><span>Dashboard</span></a></li>


</ul>


                  @Html.Partial("DMISLoginPartial")
</div>
</div>
<div class="container-fluid" id="content">
<div id="main" style="margin-left:0px;">

<div class="container-fluid">

<div class="row-fluid">
						
	<div class="span12">
        <div class="box box-bordered box-color lightgrey">
            <div class="box-title">
                <h3><i class="icon-reorder"></i>@ViewBag.Title</h3>
            </div>
            <div class="box-content nopadding">
                <div class="tabs-container">
                    <ul class="tabs tabs-inline tabs-left">
                        <li class='active'><a href="#first" data-toggle='tab'>Division Setup</a></li>
                        <li><a href="#second" data-toggle='tab'>District Setup</a></li>
                        <li><a href="#thirds" data-toggle='tab'>Upazilla Setup</a></li>
                                                <li><a href="#fourth" data-toggle='tab'>Union Setup</a></li>

                         <li><a href="#five" data-toggle='tab'>Edit Panel</a></li>

                    </ul>
                </div>

                  @RenderBody()


                 </div>
        </div>
	</div>

</div>
                    
                    
</div>

     


</div>
</div>
    <div class="clearfix"></div>

                <footer>
                    <p>
                        <span style="text-align:left;float:left">Supported by: <a alt="Save the Children">Save the Children</a></span>
                        <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a alt="Education Cluster in Bangladesh">Education Cluster in Bangladesh</a></span>
                    </p>

                </footer>
</body>
</html>
    <script src="~/Scripts/Form/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/Form/jquery-ui-1.9.2.min.js"></script>

<script src="~/Scripts/Form/js/bootstrap.min.js"></script>

<!-- Form -->
<script src="~/Scripts/Form/js/plugins/form/jquery.form.min.js"></script>
<!-- Wizard -->
<script src="~/Scripts/Form/js/plugins/wizard/jquery.form.wizard.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/Form/css/custom-style.css" rel="stylesheet" />
<!-- Just for demonstration -->

<script src="~/Scripts/DMIS/js/DmisFormValidation.js"></script>


    
    <script type="text/javascript">

        var jqXHRData;


        $(document).ready(function () {

            //attach keypress to input

            InputCheck();
        });

        function InputCheck() {

            $('.num').keydown(function (event) {


                // Allow special chars + arrows 
                var val = $('.num').val();
                if ((event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9
                    || event.keyCode == 27 || event.keyCode == 13
                    || (event.keyCode == 65 && event.ctrlKey === true)
                    || (event.keyCode >= 35 && event.keyCode <= 39)) && (val.length < 2)) {
                    return;
                } else {
                    // If it's not a number stop the keypress
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                        event.preventDefault();
                    }
                }
            });




        }




</script>