﻿

     <script>
         var dgmId = "000";
         $(document).ready(function () {
            
            
             $("[name='DisasterName1']").click(function () {
                 $(".his1").css("display", "block");
             });


             $("[name='DisasterName2']").click(function () {
                 $(".his2").css("display", "block");
             });
             $("[name='DisasterName3']").click(function () {
                 $(".his3").css("display", "block");
             });
        


             var DisasterName1  = $("[name='DisasterName1']:checked").val();
             var DisasterName2 = $("[name='DisasterName2']:checked").val();
             var DisasterName3 = $("[name='DisasterName3']:checked").val();

             if (DisasterName1 == null) {
                 $(".his1").css("display", "none");

             } else {
                 $(".his1").css("display", "block");
             }

             if (DisasterName2 == null) {
                 $(".his2").css("display", "none");

             } else {
                 $(".his2").css("display", "block");
             }
             if (DisasterName3 == null) {
                 $(".his3").css("display", "none");

             } else {
                 $(".his3").css("display", "block");
             }
             
         });

            </script>
<div class="tab-pane" id="thirds">
    
     <span class="title-tab">School Disaster Management</span>
    <div class="box box-bordered">
        <div class="box-title" style="margin-top: 0;">
            <h3>Q 21. Preparedness & Contingency plan of the school: </h3>
        </div>
        <div class="box-content nopadding">
            <div class='form-horizontal form-bordered'>
                <div class="span65656">
                    <div class="control-group">
                        <label class="control-label">21.1 Is there  any contingency plan for safety of children and for educational continuity?<span style="color:red">*</span></label>
                        <div class="controls">
                            <div class="span333">
                                <label class="radio">
                                    <input type="radio" name="ContingencyPlan" value="yes">Yes</label>
                                <label class="radio">
                                    <input type="radio" name="ContingencyPlan" value="no">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">21.2 Is there any space in catchment area for temporary learning?<span style="color:red">*</span></label>
                        <div class="controls">
                            <div class="span333">
                                <label class="radio">
                                    <input type="radio" name="CatchmentAreaForTemporaryLearning" value="yes">Yes</label>
                                <label class="radio">
                                    <input type="radio" name="CatchmentAreaForTemporaryLearning" value="no">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">21.3 Is there any backup/substitute teacher in catchment area?<span style="color:red">*</span></label>
                        <div class="controls">
                            <div class="span333">
                                <label class="radio">
                                    <input type="radio" name="CatchmentAreaForTeacherBackup" value="yes">Yes</label>
                                <label class="radio">
                                    <input type="radio" name="CatchmentAreaForTeacherBackup" value="no">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">21.4 Is there any accessible emergency fund?<span style="color:red">*</span></label>
                        <div class="controls">
                            <div class="span333">
                                <label class="radio">
                                    <input type="radio" name="accessibleEmergencyFund" value="yes">Yes</label>
                                <label class="radio">
                                    <input type="radio" name="accessibleEmergencyFund" value="no">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>Q 22 The Disaster/Hazard history:</h3>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group qthree">Which of these have you experienced in the last 10 years? (check multiple – if applicable)<span style="color:red">*</span></div>
                            <div class="control-group qthreeth">
                                <label class="checkbox">
                                    <input type="checkbox" class="experienced-disaster" value="FLood" name="Flood">Flood</label>
                                <label class="checkbox">
                                    <input type="checkbox" class="experienced-disaster" value="Cyclone" name="Cyclone">Cyclone</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="Tornado" value="Tornado" class="experienced-disaster">Tornado</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="TidalSurge" value="Tidal Surge" class="experienced-disaster">Tidal Surge</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="RiverBankErosion" value="River Bank Erosion" class="experienced-disaster">River Bank Erosion</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="WaterLogging" value="Water Logging" class="experienced-disaster">Water Logging</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="Salinity" class="experienced-disaster" value="Salinity">Salinity</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="Fire" class="experienced-disaster" value="Fire">Fire</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="Earth" class="experienced-disaster" value="Earth Quick">Earth Quick</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="LandSlide" class="experienced-disaster" value="Land Slide">Land Slide</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="SeasonalStrom" class="experienced-disaster" value="Seasonal Strom">Seasonal Strom</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="FlashFlood" class="experienced-disaster" value="Flash Flood">Flash Flood</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                        <h3>22.1. The most recent disaster :</h3>
                    </div>
                      <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group qthree">1. What’s the recent disaster/hazard name?</div>
                            <div class="control-group qthreeth">
                                <label class="checkbox repo">
                                    <input type="radio" value="FLood" name="DisasterName1" class="experienced-disaster1">Flood</label>
                                <label class="checkbox repo">
                                    <input type="radio" value="Cyclone" name="DisasterName1" class="experienced-disaster1">Cyclone</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName1" value="Tornado" class="experienced-disaster1">Tornado</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName1" value="Tidal Surge" class="experienced-disaster1">Tidal Surge</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName1" value="River Bank Erosion" class="experienced-disaster1">River Bank Erosion</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName1" value="Water Logging" class="experienced-disaster1">Water Logging</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName1" class="experienced-disaster1" value="Salinity">Salinity</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName1" class="experienced-disaster1" value="Fire">Fire</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName1" class="experienced-disaster1" value="Earth Quick">Earth Quick</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName1" class="experienced-disaster1" value="Land Slide">Land Slide</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName1" class="experienced-disaster1" value="Seasonal Strom">Seasonal Strom</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName1" class="experienced-disaster1" value="Flash Flood">Flash Flood</label>
                            </div>
                        </div>
                    </div>
                    <div class="his1">
                       <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">2. Year of disaster:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span2" type="text" name="DisasterDate1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">3. What type of impact on the school due to the disaster?</label>
                                    <div class="controls">
                                        <div class="span396">
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact1" value="none">None</label>
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact1" value="minor">Minor</label>
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact1" value="moderate">Moderate</label>
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact1" value="Severe">
                                                Severe</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">4. How many days  was the school closed?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span2" type="text" name="DayRemainSchoolClose1">
                                            (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">5. Percentage of normal attendance during the month after the disaster</label>
                                    <div class="controls">
                                        <div class="span333">
                                            Student :
                                                <input class="span2" type="text" name="ImpactAttendanceForStudent1">
                                           % (approximate) / 
       Teacher :
                                                <input class="span2" type="text" name="ImpactAttandanceForTeacher1">
                                          %  (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">6.	What was the percentage of drop out students? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span2" type="text" name="StudentDropout1">
                                           % (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">7. How many students were dead ?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span2" type="text" name="StudentDead1">
                                            (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">8.	What type of building/infrastructural damage?</label>
                                    <div class="controls">
                                        <div class="span397">
                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage1" value="None">None</label>
                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage1" value="Slightly Damage">Slightly Damage</label>
                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage1" value="Partially Damage">Partially Damage</label>
                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage1" value="Fully Damage">Fully Damage</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">9.	Was the toilet affected? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="ToiletAffected1" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="ToiletAffected1" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">10. Was the water source affected?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="WasterSourceAffected1" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="WasterSourceAffected1" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">11. Was the transportation/approach road affected? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="RoadAffected1" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="RoadAffected1" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">12. Was the teaching/educational material damaged?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="MaterialDamage1" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="MaterialDamage1" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">13.Did the management take any recovery initiative? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="RecoveryInitiative1" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="RecoveryInitiative1" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">14. Did the school used as a shelter? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="UsedShelter1" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="UsedShelter1" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">If yes, then how many days the school used as shelter ?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span2" type="text" name="NoDayUsedAsShelter1">
                                            (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">15. Was there any alternative schooling/temporary learning centre?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="alternativeSchooling1" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="alternativeSchooling1" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">16. Did the school get any aid/help? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="anyAid1" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="anyAid1" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">If yes, then where from? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span8" type="text" name="WhereFromAidTaken1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">What type of Aid/Help? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span8" type="text" name="aidType1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">17. Did the school get  any early warning (if flood or cyclone)? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="HaveWarningSystem1" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="HaveWarningSystem1" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">If yes, then did the students capture the warning message?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="DidUnderstoodWarningMessage1" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="DidUnderstoodWarningMessage1" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
            </div>






        </div>


        <div class="row-fluid">
            <div class="span22">
                <div class="box box-bordered">
                    <div class="box-title">
                          <h3>2nd last disaster :</h3>
                    </div>
                        <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group qthree">1. What’s the recent disaster/hazard name?</div>
                            <div class="control-group qthreeth">
                                <label class="checkbox repo">
                                    <input type="radio" value="FLood" name="DisasterName2" class="experienced-disaster1">Flood</label>
                                <label class="checkbox repo">
                                    <input type="radio" value="Cyclone" name="DisasterName2" class="experienced-disaster1">Cyclone</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName2" value="Tornado" class="experienced-disaster1">Tornado</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName2" value="Tidal Surge" class="experienced-disaster1">Tidal Surge</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName2" value="River Bank Erosion" class="experienced-disaster1">River Bank Erosion</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName2" value="Water Logging" class="experienced-disaster1">Water Logging</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName2" class="experienced-disaster1" value="Salinity">Salinity</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName2" class="experienced-disaster1" value="Fire">Fire</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName2" class="experienced-disaster1" value="Earth Quick">Earth Quick</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName2" class="experienced-disaster1" value="Land Slide">Land Slide</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName2" class="experienced-disaster1" value="Seasonal Strom">Seasonal Strom</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName2" class="experienced-disaster1" value="Flash Flood">Flash Flood</label>
                            </div>
                        </div>
                    </div>
                 
                    <div class="his2">
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">2. Year of disaster:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span2" type="text" name="DisasterDate2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">3. What type of impact on the school due to the disaster?</label>
                                    <div class="controls">
                                        <div class="span396">
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact2" value="none">None</label>
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact2" value="minor">Minor</label>
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact2" value="moderate">Moderate</label>
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact2" value="Severe">
                                                Severe</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">4. How many days  was the school closed?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span2" type="text" name="DayRemainSchoolClose2">
                                            (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">5. Percentage of normal attendance during the month after the disaster</label>
                                    <div class="controls">
                                        <div class="span333">
                                            Student :
                                                <input class="span2" type="text" name="ImpactAttendanceForStudent2">
                                           % (approximate) / 
       Teacher :
                                                <input class="span2" type="text" name="ImpactAttandanceForTeacher2">
                                          %  (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">6.	What was the percentage of drop out students? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span2" type="text" name="StudentDropout2">
                                            %(approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">7. How many students were dead ?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span2" type="text" name="StudentDead2">
                                            (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">8.	What type of building/infrastructural damage?</label>
                                    <div class="controls">
                                        <div class="span397">


                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage2" value="None">None</label>
                                            <label class="radio">

                                                <input type="radio" name="BulidingDamage2" value="Slightly Damage">Slightly Damage</label>
                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage2" value="Partially Damage">Partially Damage</label>
                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage2" value="Fully Damage">Fully Damage</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">9.	Was the toilet affected? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="ToiletAffected2" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="ToiletAffected2" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">10. Was the water source affected?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="WasterSourceAffected2" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="WasterSourceAffected2" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">11. Was the transportation/approach road affected? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="RoadAffected2" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="RoadAffected2" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">12. Was the teaching/educational material damaged?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="MaterialDamage2" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="MaterialDamage2" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">13.Did the management take any recovery initiative? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="RecoveryInitiative2" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="RecoveryInitiative2" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">14. Did the school used as a shelter? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="UsedShelter2" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="UsedShelter2" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">If yes, then how many days the school used as shelter ?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span2" type="text" name="NoDayUsedAsShelter2">
                                            (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">15. Was there any alternative schooling/temporary learning centre?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="alternativeSchooling2" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="alternativeSchooling2" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">16. Did the school get any aid/help? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="anyAid2" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="anyAid2" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">If yes, then where from? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span8" type="text" name="WhereFromAidTaken2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">What type of Aid/Help? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span8" type="text" name="aidType2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">17. Did the school get  any early warning (if flood or cyclone)? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="HaveWarningSystem2" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="HaveWarningSystem2" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">If yes, then did the students capture the warning message?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="DidUnderstoodWarningMessage2" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="DidUnderstoodWarningMessage2" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
            </div>






        </div>


        <div class="row-fluid">
            <div class="span12">
                <div class="box box-bordered">
                    <div class="box-title">
                         <h3>3rd last disaster :</h3>
                    </div>
                        <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="control-group qthree">1. What’s the recent disaster/hazard name?</div>
                            <div class="control-group qthreeth">
                                <label class="checkbox repo">
                                    <input type="radio" value="FLood" name="DisasterName3" class="experienced-disaster1">Flood</label>
                                <label class="checkbox repo">
                                    <input type="radio" value="Cyclone" name="DisasterName3" class="experienced-disaster1">Cyclone</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName3" value="Tornado" class="experienced-disaster1">Tornado</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName3" value="Tidal Surge" class="experienced-disaster1">Tidal Surge</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName3" value="River Bank Erosion" class="experienced-disaster1">River Bank Erosion</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName3" value="Water Logging" class="experienced-disaster1">Water Logging</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName3" class="experienced-disaster1" value="Salinity">Salinity</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName3" class="experienced-disaster1" value="Fire">Fire</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName3" class="experienced-disaster1" value="Earth Quick">Earth Quick</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName3" class="experienced-disaster1" value="Land Slide">Land Slide</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName3" class="experienced-disaster1" value="Seasonal Strom">Seasonal Strom</label>
                                <label class="checkbox repo">
                                    <input type="radio" name="DisasterName3" class="experienced-disaster1" value="Flash Flood">Flash Flood</label>
                            </div>
                        </div>
                    </div>

                    <div class="his3">
                 
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">3. Year of disaster:</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span3" type="text" name="DisasterDate3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">3. What type of impact on the school due to the disaster?</label>
                                    <div class="controls">
                                        <div class="span396">
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact3" value="none">None</label>
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact3" value="minor">Minor</label>
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact3" value="moderate">Moderate</label>
                                            <label class="radio">
                                                <input type="radio" name="DisasterImpact3" value="Severe">
                                                Severe</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">4. How many days  was the school closed?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span3" type="text" name="DayRemainSchoolClose3">
                                            (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">5. Percentage of normal attendance during the month after the disaster</label>
                                    <div class="controls">
                                        <div class="span333">
                                            Student :
                                                <input class="span3" type="text" name="ImpactAttendanceForStudent3">
                                           % (approximate) / 
       Teacher :
                                                <input class="span3" type="text" name="ImpactAttandanceForTeacher3">
                                           % (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">6.	What was the percentage of drop out students? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span3" type="text" name="StudentDropout3">
                                           % (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">7. How many students were dead ?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span3" type="text" name="StudentDead3">
                                            (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">8.	What type of building/infrastructural damage?</label>
                                    <div class="controls">
                                        <div class="span397">
                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage3" value="None">None</label>
                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage3" value="Slightly Damage">Slightly Damage</label>
                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage3" value="Partially Damage">Partially Damage</label>
                                            <label class="radio">
                                                <input type="radio" name="BulidingDamage3" value="Fully Damage">Fully Damage</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">9.	Was the toilet affected? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="ToiletAffected3" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="ToiletAffected3" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">30. Was the water source affected?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="WasterSourceAffected3" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="WasterSourceAffected3" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">33. Was the transportation/approach road affected? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="RoadAffected3" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="RoadAffected3" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">33. Was the teaching/educational material damaged?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="MaterialDamage3" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="MaterialDamage3" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">33.Did the management take any recovery initiative? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="RecoveryInitiative3" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="RecoveryInitiative3" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">34. Did the school used as a shelter? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="UsedShelter3" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="UsedShelter3" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">If yes, then how many days the school used as shelter ?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span3" type="text" name="NoDayUsedAsShelter3">
                                            (approximate)                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">35. Was there any alternative schooling/temporary learning centre?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="alternativeSchooling3" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="alternativeSchooling3" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">36. Did the school get any aid/help? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="anyAid3" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="anyAid3" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">If yes, then where from? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span8" type="text" name="WhereFromAidTaken3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">What type of Aid/Help? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <input class="span8" type="text" name="aidType3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">37. Did the school get  any early warning (if flood or cyclone)? </label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="HaveWarningSystem3" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="HaveWarningSystem3" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content nopadding">
                        <div class='form-horizontal form-bordered'>
                            <div class="span6565">
                                <div class="control-group">
                                    <label class="control-label">If yes, then did the students capture the warning message?</label>
                                    <div class="controls">
                                        <div class="span333">
                                            <label class="radio">
                                                <input type="radio" name="DidUnderstoodWarningMessage3" value="yes">Yes</label>
                                            <label class="radio">
                                                <input type="radio" name="DidUnderstoodWarningMessage3" value="no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
            </div>






        </div>



        <div class="row-fluid">
            <div class="span12">

                <input type="button" class="btn btn-grey" onclick="step3Validation(dgmId) " value="Save">
                @*<a class="btn btn-satblue" data-toggle="tab"  href="#thirds">Previous</a>*@
                <a class="btn btn-satblue fourthtab" data-toggle="tab" href="#fourth">Next</a>
            </div>
        </div>

    </div>
</div>
