﻿ 

@model DIMS.Models.ViewModels

  @if (Model.UnionInfo.Count > 0)
                                {

         <option value="" selected="selected">Union</option>
                                       foreach (var div in Model.UnionInfo)
                                        {         
                                            <option value="@div.UnionId">@div.UnionName</option>            
                                        }


                                }
                                else
                                {
   <option value=""  selected="selected">Create Unions</option>

                                }