﻿   
  @model DIMS.Models.ReportModel

 @{
     foreach (var school in Model.GeneralInformationInfo)
        {
            string img = "";
         if(school.DomainStatus==1){
             
             
                                               img = school.InstituteId + ".jpg";
        
                                                     
                                        <li><a class="aloc" href="@school.GpsLatitude#@school.GpsLongtitude#l5#12#@school.InstituteEng#@img#@school.InstituteMobile.Replace(",","")#@school.InstitutePhone.Replace(",","")#@school.StudentMale#@school.StudentFemale#@school.GobEIIN.Replace(",","")#@school.GobEIIN#@school.InstituteType#@school.EstabilishmentDate#@school.GraphicalLocation#@school.TeacherFemale#@school.TeacherMale#@school.InstituteId#@school.InstituteMobile#@school.Domains.First().DomainSafeLearning.LatrineFacilityFunctional#@school.Domains.First().DomainSafeLearning.OwnDrinkingSource#@school.Domains.First().DomainSafeLearning.TotalKaccaBuildingStructer#@school.Domains.First().DomainSafeLearning.TotalPaccaBuildingStructer#@school.Domains.First().DomainSafeLearning.TotalKaccaClassRoom#@school.Domains.First().DomainSafeLearning.TotalPaccaClassRoom#@school.Domains.First().DomainDisasterManagement.DisasterCount"  onclick="return false;">@school.InstituteEng</a></li>
                                          }
                                       }
                                       }
