﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : MIS/GIS : Advanced Search";
}

<link href="~/Content/Form/css/dmis-style.css" rel="stylesheet" />
<div class="panel">
    <ul class="admin">

       @if (User.IsInRole("Administrator") || User.IsInRole("MIS User"))
        {
            
              <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Magicsearch">School Magic Search</a></li>
           
             <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Geosearch">Search by Geographical Status</a></li>
             <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Strcsearch">Search by Structural Info</a></li>
        
            
           
        }
      
    </ul>
</div>
