﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : MIS/GIS ";
}  

<link href="~/Content/Form/css/SrcPrint.css" rel="stylesheet" />

<script>
    $(document).ready(function () {


        $('.print').click(function () {
            window.print();
            return false;
        });
        $('#selectdivision').change(function () {
            var idx = this.selectedIndex;

            $("select#selectdivision").prop('selectedIndex', idx);
            var divisionId = $("select#selectdivision").val();

            if (idx > 0) {
                $.post("/Setting/DivisionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    $("#selectdistrict").html(data.Viewdta);
                    $("#selectdistrict").removeAttr("disabled");

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });

        $('#selectdistrict').change(function () {
            var idx = this.selectedIndex;

            $("select#selectdistrict").prop('selectedIndex', idx);
            var disId = $("select#selectdistrict").val();

            if (idx > 0) {
                $.post("/Setting/DistrictCode", {
                    divisionId: disId
                }, function (data) {

                    var disVal = data.TxtCode;

                    $("#selectupazilla").html(data.Viewdta);
                    $("#selectupazilla").removeAttr("disabled");

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });


        $('#selectupazilla').change(function () {
            var idx = this.selectedIndex;

            $("select#selectupazilla").prop('selectedIndex', idx);
            var divisionId = $("select#selectupazilla").val();
            if (idx > 0) {

                $.post("/Setting/UpazillaCode", {
                    divisionId: divisionId
                }, function (data) {

                    var upaVal = data.TxtCode;

                    $("#selectunion").html(data.Viewdta);

                    $("#selectunion").removeAttr("disabled");
                    $("[name=InstitudeUpazilla]").val(data.TxtName);



                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });


        $('#selectunion').change(function () {
            var idx = this.selectedIndex;


            $("select#selectunion").prop('selectedIndex', idx);
            var divisionId = $("select#selectunion").val();
            if (idx > 0) {

                $.post("/Setting/UnionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    //$("#selectunion").html(data.Viewdta);
                    $("#selectunion").removeAttr("disabled");
                    $("[name=InstitudeUnion]").val(data.TxtName);

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");

            }
            //alert(val);

        });




        $(".src_geo_type").click(function () {

            var divisionId = $("select#selectdivision").val();
            var unionId = $("select#selectunion").val();
            var upazillaId = $("select#selectupazilla").val();
            var districtId = $("select#selectdistrict").val();
            var row = "";
            var areaType = $("select#areaType").val();

            var geographicalType = $("select#geographicalType").val();

            var EmbankmentType = $("select#EmbankmentType").val();

            $.post("/Report/MapLoadByGeoType", {
                areaType: areaType, divisionId: divisionId, unionId: unionId, upazillaId: upazillaId, districtId: districtId, geographicalType: geographicalType, EmbankmentType: EmbankmentType
            }, function (data) {




                if (data.length > 0) {

                    for (i = 0; i < data.length; i++) {
                        row += "<tr><td>" + parseInt(i + 1) + " </td><td>" + data[i].InstituteEng + "</td>"
                                              + "<td>" + data[i].InstituteId + "</td>"
                                              + "<td>" + data[i].GobEIIN + "</td>"
                                              + "<td>" + data[i].InstituteType + "</td>"
                                              + "<td>" + data[i].ManagementType + "</td>"
                                              + "<td>" + data[i].AuthorityType + "</td>"
                                              + "<td><a href='/domain/Details?DomainId=" + data[i].DomainId + "' >View</a> </td></tr>";
                    }

                    $(".magic-row").html(row);

                    var note = "Note: Search School By    Area type: " + areaType + "-Geographical type :" + geographicalType + "-Embankment type" + EmbankmentType + " -Total Record Found:" + data.length;

                    $(".note").html(note);


                } else {
                    alert("No Record Found");
                }
            }, "json");
        });



    });

    </script>
<div id="content" class="map-content span11" style="width:95%;">
<div class="row-fluid">
        <h4>Search by Geographical Status:</h4>
     
        <div class="src2">
            <label>Search by Jurisdiction (Name) </label>

            <div class="span31" style="background: #FBE4D5; border:solid 1px #808080; border-right:none; height:50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>


                    @if (Model.DivisionInfo.Count > 0)
                    {

                        <select class="input-large" name="selectdivision" id="selectdivision" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Division</option>
                            @foreach (var div in Model.DivisionInfo)
                            {         
                                <option value="@div.DivisionId">@div.DivisionName</option>            
                            }


                        </select>
                    }
                    else
                    {

                        <select class="input-large" name="selectdivision" disabled="disabled">
                            <option value="" selected="selected">Division</option>

                        </select>
                    }



                </div>



            </div>

            <div class="span31" style="background: #D9E2F3; border:solid 1px #808080; border-right:none; height:50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>

                    @if (Model.DistrictInfo.Count > 0)
                    {
                        <select name="selectdistrict" id="selectdistrict" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">District</option>
                            @foreach (var div in Model.DistrictInfo)
                            {         
                                <option value="@div.DistrictId">@div.DistrictName</option>            
                            }

                        </select>
                    }
                    else
                    {

                        <select class="input-large" name="selectdistrict" disabled="disabled">
                            <option value="" selected="selected">Create District</option>

                        </select>
                    }


                </div>


            </div>

            <div class="span31" style="background: #C5E0B3; border:solid 1px #808080; border-right:none; height:50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>


                    @if (Model.UpazillaInfo.Count > 0)
                    {
                        <select name="selectupazilla" id="selectupazilla" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Upazila</option>
                            @foreach (var div in Model.UpazillaInfo)
                            {         
                                <option value="@div.UpazillaId">@div.UpazillaName</option>            
                            }

                        </select>
                    }
                    else
                    {
                                                  
                        <select class="input-large" name="selectupazilla" disabled="disabled">
                            <option value="" selected="selected">Create Upazilla</option>

                        </select>
                                                  
                    }



                </div>

            </div>

            <div class="span31" style="background: #FFE599; border:solid 1px #808080;  height:50px; padding: 10px; margin-left: 0px; width:210px !important;">
                <div>

                    @if (Model.UnionInfo.Count > 0)
                    {
                        <select name="selectunion" id="selectunion" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Union</option>
                            @foreach (var div in Model.UnionInfo)
                            {         
                                <option value="@div.UnionId">@div.UnionName</option>            
                            }

                        </select>
                    }
                    else
                    {
                                                  
                        <select class="input-large" name="selectunion" disabled="disabled">
                            <option value="" selected="selected">Create Union</option>

                        </select>
                                                  
                    }

                </div>

            </div>
                        <div style="width:100%; height:15px; float:left;"></div>
<div style="background:#CCCCCC; float:left; border:solid 1px #808080; width:400px; border-right:none; padding:0 10px;">
            <label style="margin:3px 0 1px 0;">Search by area type </label>
            <select name="areaType"  style="width:100%;" id="areaType">
                <option value="All" class="radio">All</option>
                <option value="Rural" class="radio">Rural</option>
                <option value="Urban" class="radio">Urban</option>
               
            </select>
    </div>
            <div style="background:#ffe8bb; float:left; border:solid 1px #808080; width:397px; padding:0 10px;">
            <label style="margin:3px 0 1px 0;">Search by geographical location </label>
            <select name="geographicalType" style="width:100%;" id="geographicalType">
                <option value="All" class="radio">All</option>
                <option value="Pain Land" class="radio">Pain Land</option>
                <option value="Char" class="radio">Char</option>
                <option value="Hill Tract" class="radio">Hill Tract</option>
                <option value="Marsh" class="radio">Marsh</option>
                <option value="Seashore" class="radio">Seashore</option>
                 <option value="Haor" class="radio">Haor</option>
                 <option value="Offshore Island" class="radio">Offshore Island</option>

            </select>
                </div>
            <div style="width:100%; height:15px; float:left;"></div>

            <label style="float:left; width:100%;">Search by Embankment Position :</label>
            <select class="chosen-select" id="EmbankmentType" style="width:64.5%; float:left;" name="EmbankmentType">
                <option value="All" class="radio">All</option>
                <option value="On the Embankment">On the Embankment</option>
                <option value="In the Embankment">In the Embankment</option>
                <option value="Outside the Embankment">Outside the Embankment</option>
             
            </select>
            <input type="button" name="src_geo_type" class="src_geo_type btn btn-satblue" style="float: left;height: 30px; margin-left: 5px;padding: 0 10px;" value="Ok" />
        </div>

    </div>

  

        	  <div class="row-fluid" style="clear:both; float:left; width:100%;">

                  
					<div class="span12">
						<div class="box box-color box-bordered" style="clear:both; float:left; width:100%; margin-bottom:20px;">
                           
						

                            <div class="print-able">
                            <div class="box-title" style="margin-top:10px;">
								<h3 style="width:100%;">
									<i class="icon-table"></i>
									School Information List
                                    <a style="float:right;color:#000;" href="#"><i class="icon-print print"></i></a>
								</h3>
							</div>
							<div class="box-content nopadding">
								<table class="table table-hover table-nomargin">
									<thead>
										<tr>
                                            <th>SL No#</th>
											
											<th>School Name</th>
											<th>Cluster Id</th>
                                            <th>EIIN Code</th>
                                             <th>Institute Type</th>
                                             <th>Management Type</th>
                                             <th>Authority Type</th>
											<th class="hidden-350">Details Info</th>
											
										</tr>
									</thead>
									<tbody class="magic-row">
                                        
                                        </tbody>
                                    </table>

                                


        </div>

                            <div class="note"></div>
                                </div>
   </div>
                        </div>
                  </div>
    </div>