﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : MIS/GIS ";
}  

<link href="~/Content/Form/css/SrcPrint.css" rel="stylesheet" />

<script>
    $(document).ready(function () {


        $('.print').click(function () {
            window.print();
            return false;
        });
        $('#selectdivision').change(function () {
            var idx = this.selectedIndex;

            $("select#selectdivision").prop('selectedIndex', idx);
            var divisionId = $("select#selectdivision").val();

            if (idx > 0) {
                $.post("/Setting/DivisionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    $("#selectdistrict").html(data.Viewdta);
                    $("#selectdistrict").removeAttr("disabled");

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });

        $('#selectdistrict').change(function () {
            var idx = this.selectedIndex;

            $("select#selectdistrict").prop('selectedIndex', idx);
            var disId = $("select#selectdistrict").val();

            if (idx > 0) {
                $.post("/Setting/DistrictCode", {
                    divisionId: disId
                }, function (data) {

                    var disVal = data.TxtCode;

                    $("#selectupazilla").html(data.Viewdta);
                    $("#selectupazilla").removeAttr("disabled");

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });


        $('#selectupazilla').change(function () {
            var idx = this.selectedIndex;

            $("select#selectupazilla").prop('selectedIndex', idx);
            var divisionId = $("select#selectupazilla").val();
            if (idx > 0) {

                $.post("/Setting/UpazillaCode", {
                    divisionId: divisionId
                }, function (data) {

                    var upaVal = data.TxtCode;

                    $("#selectunion").html(data.Viewdta);

                    $("#selectunion").removeAttr("disabled");
                    $("[name=InstitudeUpazilla]").val(data.TxtName);



                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });


        $('#selectunion').change(function () {
            var idx = this.selectedIndex;


            $("select#selectunion").prop('selectedIndex', idx);
            var divisionId = $("select#selectunion").val();
            if (idx > 0) {

                $.post("/Setting/UnionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    //$("#selectunion").html(data.Viewdta);
                    $("#selectunion").removeAttr("disabled");
                    $("[name=InstitudeUnion]").val(data.TxtName);

                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");

            }
            //alert(val);

        });

        $(".src_identity").click(function () {

            var src_identy = $("[name=src_identy]:checked").val();
            var number = $("[name=number]").val();

            $.post("/Report/MapLoadByIdentity", {
                Id: number, type: src_identy
            }, function (data) {


                if (data[0].InstituteId != "") {
                    //var desc = "<div class='gmapContent' ><p>Cluster Id:<span>" + data[0].InstituteId + "</span></p><p>Institute Type:<span>" + data[0].InstituteType + "</span></p><p>Estabilishment Date :<span>" + data[0].EstabilishmentDate + "</span></p><p>Graphical Location:<span>" + data[0].GraphicalLocation + "</span></p><p>Gob Eiin Id: <span>" + data[0].GobEIIN + "</span></p><p>" + " Mobile No:<span>" + data[0].InstituteMobile + "</span></p><p> Contact No:<span>" + data[0].InstitutePhone + "</span></p><p>" + "Teacher Total:<span>" + data[0].TeacherTotal + "</span></p><p>" + " Student Total:<span>" + data[0].StudentTotal + "</span></p><p>Own drinking water source:<span>" + data[0].OwnDrinking + "</span></p> <p># of Functioning toilet:<span>" + + "</span></p><p># of Kacha building /structure:<span>" + data[0].KaccaBuilding + "</span></p><p># of Pacha building /structure:<span>" + data[0].PaccaBuilding + "</span></p><p># of Kacha class:<span>" + data[0].KaccaClass + "</span></p><p># of Pacha class:<span>" + data[0].PaccaClass + "</span></p></div>";

                    var row = "<td>1 </td><td>" + data[0].InstituteEng + "</td>"
                                             + "<td>" + data[0].InstituteId + "</td>"
                                             + "<td>" + data[0].GobEIIN + "</td>"
                                             + "<td>" + data[0].InstituteType + "</td>"
                                             + "<td>" + data[0].ManagementType + "</td>"
                                             + "<td>" + data[0].AuthorityType + "</td>"
                                             + "<td><a href='/domain/Details?DomainId=" + data[0].DomainId + "' >View</a> </td>";



                    $(".magic-row").html(row);
                    //  var note = "Note: Search By School Name And Total record Found :" + data.length;
                    var note = "Note: Search By School Cluster/GEIIN Code";
                    $(".note").html(note);

                } else {

                    alert("Data Not Found");
                }

            }, "json");

        });


        $(".src_school_name").click(function () {

            //  var src_identy = $("[name=src_identy]:checked").val();
            var schoolname = $("[name=schoolname]").val();
            var i = 0;
            var row = "";
            $.post("/Report/MapLoadByName", {
                schoolname: schoolname
            }, function (data) {

                if (data.length > 0) {

                    for (i = 0; i < data.length; i++) {
                        row += "<tr><td>" + parseInt(i+1) + " </td><td>" + data[i].InstituteEng + "</td>"
                                              + "<td>" + data[i].InstituteId + "</td>"
                                              + "<td>" + data[i].GobEIIN + "</td>"
                                              + "<td>" + data[i].InstituteType + "</td>"
                                              + "<td>" + data[i].ManagementType + "</td>"
                                              + "<td>" + data[i].AuthorityType + "</td>"
                                              + "<td><a href='/domain/Details?DomainId=" + data[i].DomainId + "' >View</a> </td></tr>";
                    }

                    $(".magic-row").html(row);

                    var note = "Note: Search By School Name And Total record Found :" + data.length;

                    $(".note").html(note);

                } else {

                    alert("No Record Found");
                }
            }, "json");


        });


        $(".src_school_type").click(function () {

            var divisionId = $("select#selectdivision").val();
            var unionId = $("select#selectunion").val();
            var upazillaId = $("select#selectupazilla").val();
            var districtId = $("select#selectdistrict").val();
            var row = "";
            var InstituteType = $("select#InstituteType").val();

            var ManagementType = $("select#ManagementType").val();

            var authorityType = $("select#authorityType").val();

            $.post("/Report/MapLoadByType", {
                InstituteType: InstituteType, divisionId: divisionId, unionId: unionId, upazillaId: upazillaId, districtId: districtId, ManagementType: ManagementType, authorityType: authorityType
            }, function (data) {




                if (data.length > 0) {

                    for (i = 0; i < data.length; i++) {
                        row += "<tr><td>" + parseInt(i + 1) + " </td><td>" + data[i].InstituteEng + "</td>"
                                              + "<td>" + data[i].InstituteId + "</td>"
                                              + "<td>" + data[i].GobEIIN + "</td>"
                                              + "<td>" + data[i].InstituteType + "</td>"
                                              + "<td>" + data[i].ManagementType + "</td>"
                                              + "<td>" + data[i].AuthorityType + "</td>"
                                              + "<td><a href='/domain/Details?DomainId=" + data[i].DomainId + "' >View</a> </td></tr>";
                    }

                    $(".magic-row").html(row);

                    var note = "Note: Search By School/Institute type And Total record Found :" + data.length;

                    $(".note").html(note);


                } else {
                    alert("No Record Found");
                }
            }, "json");
        });



    });

    </script>
<div id="content" class="map-content span11" style="width:95%;">
<div class="row-fluid">
        <h4>School Magic Search :</h4>
        <div class="src1">
            <input style="margin: -5px 4px 0;" type="radio" name="src_identy" value="cluster" />Cluster Id

           <input style="margin: -5px 4px 0;" type="radio" name="src_identy" value="eiin" />GOB_EIIN Id

            <input type="text" name="number" style="margin-bottom:5px;" />
            <input type="button" class="src_identity btn btn-satblue" style="margin-top:-5px; height:30px;" name="src_identity" value="Ok" />

            <label style="display:inline;padding-left:50px;">School Name:</label>
            <input type="text" name="schoolname" style="margin-bottom:5px;"  />
            <input type="button" class="src_school_name btn btn-satblue" style="margin-top:-5px; height:30px;" name="src_school_name" value="Ok" />


        </div>
        <div class="src2">
            <label>Search by Jurisdiction (Name) </label>

            <div class="span31" style="background: #FBE4D5; border:solid 1px #808080; border-right:none; height:50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>


                    @if (Model.DivisionInfo.Count > 0)
                    {

                        <select class="input-large" name="selectdivision" id="selectdivision" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Division</option>
                            @foreach (var div in Model.DivisionInfo)
                            {         
                                <option value="@div.DivisionId">@div.DivisionName</option>            
                            }


                        </select>
                    }
                    else
                    {

                        <select class="input-large" name="selectdivision" disabled="disabled">
                            <option value="" selected="selected">Division</option>

                        </select>
                    }



                </div>



            </div>

            <div class="span31" style="background: #D9E2F3; border:solid 1px #808080; border-right:none; height:50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>

                    @if (Model.DistrictInfo.Count > 0)
                    {
                        <select name="selectdistrict" id="selectdistrict" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">District</option>
                            @foreach (var div in Model.DistrictInfo)
                            {         
                                <option value="@div.DistrictId">@div.DistrictName</option>            
                            }

                        </select>
                    }
                    else
                    {

                        <select class="input-large" name="selectdistrict" disabled="disabled">
                            <option value="" selected="selected">Create District</option>

                        </select>
                    }


                </div>


            </div>

            <div class="span31" style="background: #C5E0B3; border:solid 1px #808080; border-right:none; height:50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>


                    @if (Model.UpazillaInfo.Count > 0)
                    {
                        <select name="selectupazilla" id="selectupazilla" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Upazila</option>
                            @foreach (var div in Model.UpazillaInfo)
                            {         
                                <option value="@div.UpazillaId">@div.UpazillaName</option>            
                            }

                        </select>
                    }
                    else
                    {
                                                  
                        <select class="input-large" name="selectupazilla" disabled="disabled">
                            <option value="" selected="selected">Create Upazilla</option>

                        </select>
                                                  
                    }



                </div>

            </div>

            <div class="span31" style="background: #FFE599; border:solid 1px #808080;  height:50px; padding: 10px; margin-left: 0px; width:210px !important;">
                <div>

                    @if (Model.UnionInfo.Count > 0)
                    {
                        <select name="selectunion" id="selectunion" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Union</option>
                            @foreach (var div in Model.UnionInfo)
                            {         
                                <option value="@div.UnionId">@div.UnionName</option>            
                            }

                        </select>
                    }
                    else
                    {
                                                  
                        <select class="input-large" name="selectunion" disabled="disabled">
                            <option value="" selected="selected">Create Union</option>

                        </select>
                                                  
                    }

                </div>

            </div>
            <div style="width:100%; height:15px; float:left;"></div>
<div style="background:#CCCCCC; float:left; border:solid 1px #808080; width:400px; border-right:none; padding:0 10px;">
            <label style="margin:3px 0 1px 0;">Search by institute type/school name </label>
            <select name="InstituteType" id="InstituteType" style="width:100%;">
                <option value="All" class="radio">All</option>
                <option value="Kindergarten" class="radio">Kindergarten</option>
                <option value="Primary" class="radio">Primary</option>
                <option value="NGO School" class="radio">NGO School</option>
                <option value="Technical School" class="radio">Technical School</option>
                <option value="High School" class="radio">High School</option>
                <option value="College" class="radio">College</option>
                <option value="Madrasa" class="radio">Madrasa</option>
                <option value="Vocational" class="radio">Vocational</option>
            </select>

    </div>
<div style="background:#ffe8bb; float:left; border:solid 1px #808080; width:397px; padding:0 10px;">
            <label style="margin:3px 0 1px 0;">Search by management type of institute/ school </label>
            <select name="ManagementType" id="ManagementType" style="width:100%;">
                <option value="All" class="radio">All</option>
                <option value="Government" class="radio">Government</option>
                <option value="Non-Government" class="radio">Non-Government</option>
                <option value="NGO School" class="radio">NGO School</option>
                <option value="NGO" class="radio">NGO</option>
                <option value="Private" class="radio">Private</option>

            </select>

    </div>
            <div style="width:100%; height:15px; float:left;"></div>
            <label style="float:left; width:100%;">Search by institute Authority Type </label>
            <select class="chosen-select" id="authorityType" style="width:64.5%; float:left;" name="authorityType">
                <option value="All" class="radio">All</option>
                <option value="DPE">DPE</option>
                <option value="DSHE">DSHE</option>
                <option value="BMEB">BMEB</option>
                <option value="BNFE">BNFE</option>
                <option value="BTEB">BTEB</option>

                <option value="OTHERS">OTHERS</option>

            </select>
            <input type="button" name="src_school_type" class="src_school_type btn btn-satblue" style="float: left;height: 30px; margin-left: 5px;padding: 0 10px;" value="Ok" />
        </div>

    </div>

  

        	  <div class="row-fluid" style="clear:both; float:left; width:100%;">

                  
					<div class="span12">
						<div class="box box-color box-bordered" style="clear:both; float:left; width:100%;margin-bottom:20px;">
                           
							

                            <div class="print-able">
                            <div class="box-title" style="margin-top:0;">
								<h3 style="width:100%;">
									<i class="icon-table"></i>School Information List <a href="" style="float:right;color:#000;"><i class="icon-print print"></i></a>
								</h3>
							</div>
							<div class="box-content" style="padding:0;">
								<table class="table table-hover table-nomargin">
									<thead>
										<tr>
                                            <th>SL No#</th>											
											<th>School Name</th>
											<th>Cluster Id</th>
                                            <th>EIIN Code</th>
                                             <th>Institute Type</th>
                                             <th>Management Type</th>
                                             <th>Authority Type</th>
											<th class="hidden-350">Details Info</th>
											
										</tr>
									</thead>
									<tbody class="magic-row"></tbody>
                                    </table>

                                


        </div>

                            <div class="note"></div>
                                </div>
   </div>
                        </div>
                  </div>
    </div>