﻿@{
    Layout = "~/Views/Shared/MapLayout.cshtml";
}
@model DIMS.Models.ReportModel
<link href="~/Content/Form/css/print.css" rel="stylesheet" />
<div id="content" class="map-content span11" style="width: 95%; margin: 0 0 2.5641% 2.5641%;">
    <div class="row-fluid block">
        <h4 style="text-align: center;">Search Parameter for School Map View:</h4>
        <div class="src1" style="margin: 0 auto; width: 68%;">
            <input style="margin: -5px 4px 0;" type="radio" name="src_identy" value="cluster" />Cluster Id

           <input style="margin: -5px 4px 0;" type="radio" name="src_identy" value="eiin" />GOB_EIIN Id

            <input type="text" name="number" style="margin-bottom: 5px;" />
            <input type="button" class="src_identity btn btn-satblue" style="margin-top: -5px; height: 30px;" name="src_identity" value="Ok" />

            <label style="display: inline; padding-left: 50px;">School Name:</label>
            <input type="text" name="schoolname" style="margin-bottom: 5px;" />
            <input type="button" class="src_school_name btn btn-satblue" style="margin-top: -5px; height: 30px;" name="src_school_name" value="Ok" />


        </div>
        <div class="src2" style="margin: 0 auto; width: 68%;">
            <label>Search by Jurisdiction (Name) </label>

            <div class="span31" style="background: #FBE4D5; border: solid 1px #808080; border-right: none; height: 50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>


                    @if (Model.DivisionInfo.Count > 0)
                    {

                        <select class="input-large" name="selectdivision" id="selectdivision" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Division</option>
                            @foreach (var div in Model.DivisionInfo)
                            {         
                                <option value="@div.DivisionId">@div.DivisionName</option>            
                            }


                        </select>
                    }
                    else
                    {

                        <select class="input-large" name="selectdivision" disabled="disabled">
                            <option value="" selected="selected">Division</option>

                        </select>
                    }



                </div>



            </div>

            <div class="span31" style="background: #D9E2F3; border: solid 1px #808080; border-right: none; height: 50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>

                    @if (Model.DistrictInfo.Count > 0)
                    {
                        <select name="selectdistrict" id="selectdistrict" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">District</option>
                            @foreach (var div in Model.DistrictInfo)
                            {         
                                <option value="@div.DistrictId">@div.DistrictName</option>            
                            }

                        </select>
                    }
                    else
                    {

                        <select class="input-large" name="selectdistrict" disabled="disabled">
                            <option value="" selected="selected">Create District</option>

                        </select>
                    }


                </div>


            </div>

            <div class="span31" style="background: #C5E0B3; border: solid 1px #808080; border-right: none; height: 50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>


                    @if (Model.UpazillaInfo.Count > 0)
                    {
                        <select name="selectupazilla" id="selectupazilla" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Upazila</option>
                            @foreach (var div in Model.UpazillaInfo)
                            {         
                                <option value="@div.UpazillaId">@div.UpazillaName</option>            
                            }

                        </select>
                    }
                    else
                    {
                                                  
                        <select class="input-large" name="selectupazilla" disabled="disabled">
                            <option value="" selected="selected">Create Upazilla</option>

                        </select>
                                                  
                    }



                </div>

            </div>

            <div class="span31" style="background: #FFE599; border: solid 1px #808080; height: 50px; padding: 10px; margin-left: 0px; width: 210px !important;">
                <div>

                    @if (Model.UnionInfo.Count > 0)
                    {
                        <select name="selectunion" id="selectunion" style="width: 100%;" class='chosen-select'>
                            <option value="" selected="selected">Union</option>
                            @foreach (var div in Model.UnionInfo)
                            {         
                                <option value="@div.UnionId">@div.UnionName</option>            
                            }

                        </select>
                    }
                    else
                    {
                                                  
                        <select class="input-large" name="selectunion" disabled="disabled">
                            <option value="" selected="selected">Create Union</option>

                        </select>
                                                  
                    }

                </div>

            </div>
            <div style="width: 100%; height: 15px; float: left;"></div>
            <div style="background: #CCCCCC; float: left; border: solid 1px #808080; width: 400px; border-right: none; padding: 0 10px;">
                <label style="margin: 3px 0 1px 0;">Search by institute type/school name </label>
                <select name="InstituteType" id="InstituteType" style="width: 100%;">
                    <option value="All" class="radio">All</option>
                    <option value="Kindergarten" class="radio">Kindergarten</option>
                    <option value="Primary" class="radio">Primary</option>
                    <option value="NGO School" class="radio">NGO School</option>
                    <option value="Technical School" class="radio">Technical School</option>
                    <option value="High School" class="radio">High School</option>
                    <option value="College" class="radio">College</option>
                    <option value="Madrasa" class="radio">Madrasa</option>
                    <option value="Vocational" class="radio">Vocational</option>
                </select>

            </div>
            <div style="background: #ffe8bb; float: left; border: solid 1px #808080; width: 397px; padding: 0 10px;">
                <label style="margin: 3px 0 1px 0;">Search by management type of institute/ school </label>
                <select name="ManagementType" id="ManagementType" style="width: 100%;">
                    <option value="All" class="radio">All</option>
                    <option value="Government" class="radio">Government</option>
                    <option value="Non-Government" class="radio">Non-Government</option>
                    <option value="NGO School" class="radio">NGO School</option>
                    <option value="NGO" class="radio">NGO</option>
                    <option value="Private" class="radio">Private</option>

                </select>

            </div>
            <div style="width: 100%; height: 15px; float: left;"></div>
            <label style="float: left; width: 100%;">Search by institute Authority Type </label>
            <select class="chosen-select" id="authorityType" style="width: 94.5%; float: left;" name="authorityType">
                <option value="All" class="radio">All</option>
                <option value="DPE">DPE</option>
                <option value="DSHE">DSHE</option>
                <option value="BMEB">BMEB</option>
                <option value="BNFE">BNFE</option>
                <option value="BTEB">BTEB</option>

                <option value="OTHERS">OTHERS</option>

            </select>
            <input type="button" name="src_school_type" class="src_school_type btn btn-satblue" style="float: left; height: 30px; margin-left: 5px; padding: 0 10px;" value="Ok" />
        </div>

    </div>

    <div class="row-fluid">



        <script type="text/javascript">
            var Divisions = {};
            var Upazillas = {};
            var Unions = {};
            var Districts = {};
            var markers = "";




            Divisions.postData = function () {
                $.post("/Report/Jdvisions", function (data) {
                    markers = data;
                    // console.log(markers[0]);
                    googleMapObj.initialize(markers, 7);
                    //googleMapObj.setLocTitle('Bangladesh');
                    // googleMapObj.setLocDesc('Hello');
                    googleMapObj.showMarkers(markers);

                }, "json");
            };


            Districts.postData = function () {
                $.post("/Report/Jdistricts", function (data) {



                }, "json");
            };

            Upazillas.postData = function () {
                $.post("/Report/Jupazillas", function (data) {



                }, "json");
            };


            Unions.postData = function () {
                $.post("/Report/Jnions", function (data) {



                }, "json");
            };

            $(document).ready(function () {
                $('.print').click(function () {
                    window.print();
                    return false;
                });
                Divisions.postData();

                Unions.postData();
                Upazillas.postData();
                Districts.postData();


            });
</script>

        <fieldset class="span3 map-leftmenu" style="margin-left: 0; width: 27% !important;">
            <legend>Location</legend>
            <ul id="navigation_tree" class="treeview-m">


                @foreach (var div in Model.DivisionInfo)
                {
        
 
        
                    <li>
                        <a class="aloc" href="@div.Latitude#@div.Longitude#l1#12#@div.DivisionName#@div.DivisionId" onclick="return false;">@div.DivisionName</a>
                        <ul class="level1">

                            @foreach (var dis in div.Districts)
                            {      

                                <li><a class="aloc" href="@dis.Latitude#@dis.Longitiude#l2#12#@dis.DistrictName#@dis.DistrictId">@dis.DistrictName</a>
                                    <ul class="level2">
                                        @foreach (var upa in dis.Upazillas)
                                        {   

                                            <li><a class="aloc" href="@upa.Latitude#@upa.Longitiude#l3#13#@upa.UpazillaName#@upa.UpazillaId">@upa.UpazillaName</a>
                                                <ul class="level3">
                                                    @foreach (var un in upa.Unions)
                                                    { 
                                    
                                    



                                                        <li><a class="aloc" onclick="return false;" href="@un.Latitude#@un.Longitiude#l4#12#@un.UnionName#@un.UnionId">@un.UnionName</a>


                                                            <ul class="level4">


                                                                @{
                                                        foreach (var school in un.DomainGeneralInformations)
                                                        {
                                                            string img = "";
                                                            if (school.DomainStatus == 1)
                                                            {


                                                                img = school.InstituteId + ".jpg";
        
                                                     



                                                                    <li><a class="aloc" href="@school.GpsLatitude#@school.GpsLongtitude#l5#12#@school.InstituteEng#@img#@school.InstituteMobile.Replace(",", "")#@school.InstitutePhone.Replace(",", "")#@school.StudentMale#@school.StudentFemale#@school.GobEIIN.Replace(",", "")#@school.GobEIIN#@school.InstituteType#@school.EstabilishmentDate#@school.GraphicalLocation#@school.TeacherFemale#@school.TeacherMale#@school.InstituteId#@school.InstituteMobile#@school.Domains.First().DomainSafeLearning.LatrineFacilityFunctional#@school.Domains.First().DomainSafeLearning.OwnDrinkingSource#@school.Domains.First().DomainSafeLearning.TotalKaccaBuildingStructer#@school.Domains.First().DomainSafeLearning.TotalPaccaBuildingStructer#@school.Domains.First().DomainSafeLearning.TotalKaccaClassRoom#@school.Domains.First().DomainSafeLearning.TotalPaccaClassRoom#@school.Domains.First().DomainDisasterManagement.DisasterCount"  onclick="return false;">@school.InstituteEng</a></li>
                                                            }
                                                        }
 }

                                                                @*                                                             @Html.Partial("ViewSchools",upa.Unions)*@

                                                            </ul>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>       
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
        
                }
            </ul>
        </fieldset>
        <fieldset class="gomappo">
            <legend>Map <span class="print">Print</span> </legend>
            <div id="mapRenderer" class="map-h-w">
            </div>




            <div style="display: block; float: left; height: 50px; line-height: 20px; margin-right: 7px; margin-top: 4px; padding-bottom: 0; text-align: left;">
                <span style="display: inline-block; float: left; margin-right: 4px; width: 30px;" class="map-divsion">
                    <img height="25" src="~/Images/division.png" /></span>Division 
            </div>




            <div style="display: block; float: left; height: 50px; line-height: 20px; margin-right: 7px; margin-top: 4px; padding-bottom: 0; text-align: left;">
                <span style="display: inline-block; float: left; margin-right: 4px; width: 30px;" class="map-districts">
                    <img height="25" src="~/Images/district.png" /></span>District
            </div>

            <div style="display: block; float: left; height: 50px; line-height: 20px; margin-right: 7px; margin-top: 4px; padding-bottom: 0; text-align: left;">
                <span style="display: inline-block; float: left; margin-right: 4px; width: 30px;" class="map-upazilla">
                    <img height="25" src="~/Images/upazila.png" /></span>Upazila
            </div>

            <div style="display: block; float: left; height: 50px; line-height: 20px; margin-right: 7px; margin-top: 4px; padding-bottom: 0; text-align: left;">
                <span style="display: inline-block; float: left; margin-right: 4px; width: 30px;" class="map-schools">
                    <img height="25" src="~/Images/red.png" /></span>School
            </div>





        </fieldset>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#navigation_tree").treeview({
                    persist: "location",
                    collapsed: true,
                    unique: true

                });

                $('.full-screen').click(function () {

                    $(".map-leftmenu").css({

                        display: 'none'
                    });

                    //$(".gomappo").css({
                    //    position: 'absolute', //or fixed depending on needs 
                    //    top: $(window).scrollTop(), // top pos based on scoll pos
                    //    left: 0,
                    //    height: '100%',
                    //    width: '100%'
                    //});
                    $(".map-content").addClass("full-scrn");
                    $("#mapRenderer").removeClass("map-h-w");
                    $("#mapRenderer").addClass("add-full");
                    $("#mapRenderer").css({
                        position: 'absolute',
                        top: $(window).scrollTop(), // top pos based on scoll pos
                        height: '100%',
                        width: '100%',
                        left: 0

                    });
                });

                $('.close-screen').click(function () {

                    $(".map-leftmenu").css({

                        display: 'block'
                    });
                    $(".map-content").removeClass("full-scrn");
                    $("#mapRenderer").css({
                        position: 'relative',
                        top: $(window).scrollTop(), // top pos based on scoll pos
                        height: '604px',
                        width: '97%',


                    });
                    $("#mapRenderer").addClass("map-h-w");
                });



                $('#selectdivision').change(function () {
                    var idx = this.selectedIndex;

                    $("select#selectdivision").prop('selectedIndex', idx);
                    var divisionId = $("select#selectdivision").val();

                    if (idx > 0) {
                        $.post("/Setting/DivisionCode", {
                            divisionId: divisionId
                        }, function (data) {

                            var divVal = data.TxtCode;

                            $("#selectdistrict").html(data.Viewdta);
                            $("#selectdistrict").removeAttr("disabled");

                            //$(".errormsg").text();
                            //$('#ajaxDiv').text(data.Text);
                        }, "json");
                    }

                    //alert(val);

                });

                $('#selectdistrict').change(function () {
                    var idx = this.selectedIndex;

                    $("select#selectdistrict").prop('selectedIndex', idx);
                    var disId = $("select#selectdistrict").val();

                    if (idx > 0) {
                        $.post("/Setting/DistrictCode", {
                            divisionId: disId
                        }, function (data) {

                            var disVal = data.TxtCode;

                            $("#selectupazilla").html(data.Viewdta);
                            $("#selectupazilla").removeAttr("disabled");

                            //$(".errormsg").text();
                            //$('#ajaxDiv').text(data.Text);
                        }, "json");
                    }

                    //alert(val);

                });


                $('#selectupazilla').change(function () {
                    var idx = this.selectedIndex;

                    $("select#selectupazilla").prop('selectedIndex', idx);
                    var divisionId = $("select#selectupazilla").val();
                    if (idx > 0) {

                        $.post("/Setting/UpazillaCode", {
                            divisionId: divisionId
                        }, function (data) {

                            var upaVal = data.TxtCode;

                            $("#selectunion").html(data.Viewdta);

                            $("#selectunion").removeAttr("disabled");
                            $("[name=InstitudeUpazilla]").val(data.TxtName);



                            //$(".errormsg").text();
                            //$('#ajaxDiv').text(data.Text);
                        }, "json");
                    }

                    //alert(val);

                });


                $('#selectunion').change(function () {
                    var idx = this.selectedIndex;


                    $("select#selectunion").prop('selectedIndex', idx);
                    var divisionId = $("select#selectunion").val();
                    if (idx > 0) {

                        $.post("/Setting/UnionCode", {
                            divisionId: divisionId
                        }, function (data) {

                            var divVal = data.TxtCode;

                            //$("#selectunion").html(data.Viewdta);
                            $("#selectunion").removeAttr("disabled");
                            $("[name=InstitudeUnion]").val(data.TxtName);

                            //$(".errormsg").text();
                            //$('#ajaxDiv').text(data.Text);
                        }, "json");

                    }
                    //alert(val);

                });

                $(".src_identity").click(function () {

                    var src_identy = $("[name=src_identy]:checked").val();
                    var number = $("[name=number]").val();

                    $.post("/Report/MapLoadByIdentity", {
                        Id: number, type: src_identy
                    }, function (data) {
                        googleMapObj.clear();

                        if (data[0].InstituteId != "") {
                            var desc = "<div class='gmapContent' ><p>Cluster Id:<span>" + data[0].InstituteId + "</span></p><p>Institute Type:<span>" + data[0].InstituteType + "</span></p><p>Estabilishment Date :<span>" + data[0].EstabilishmentDate + "</span></p><p>Graphical Location:<span>" + data[0].GraphicalLocation + "</span></p><p>Gob Eiin Id: <span>" + data[0].GobEIIN + "</span></p><p>" + " Mobile No:<span>" + data[0].InstituteMobile + "</span></p><p> Contact No:<span>" + data[0].InstitutePhone + "</span></p><p>" + "Teacher Total:<span>" + data[0].TeacherTotal + "</span></p><p>" + " Student Total:<span>" + data[0].StudentTotal + "</span></p><p>Own drinking water source:<span>" + data[0].OwnDrinking + "</span></p> <p># of Functioning toilet:<span>" + + "</span></p><p># of Kacha building /structure:<span>" + data[0].KaccaBuilding + "</span></p><p># of Pacha building /structure:<span>" + data[0].PaccaBuilding + "</span></p><p># of Kacha class:<span>" + data[0].KaccaClass + "</span></p><p># of Pacha class:<span>" + data[0].PaccaClass + "</span></p></div>";


                            googleMapObj.initializeByClick(data[0].lat, data[0].lng, 15);

                            googleMapObj.setLocTitle(data[0].InstituteEng);
                            googleMapObj.setLocDesc(desc);
                            googleMapObj.setLocImg(data[0].InstituteId + ".jpg");
                            googleMapObj.setLocLevel("l5");
                            googleMapObj.showMarker();
                        } else {

                            alert("Data Not Found");
                        }

                    }, "json");

                });


                $(".src_school_name").click(function () {

                    //  var src_identy = $("[name=src_identy]:checked").val();
                    var schoolname = $("[name=schoolname]").val();
                    var i = 0;

                    $.post("/Report/MapLoadByName", {
                        schoolname: schoolname
                    }, function (data) {



                        googleMapObj.clear();

                        if (data.length > 0) {


                            markers = data;
                            // console.log(markers[0]);
                            googleMapObj.initializeBangladesh(markers, 7);
                            //googleMapObj.setLocTitle('Bangladesh');
                            // googleMapObj.setLocDesc('Hello');
                            googleMapObj.showSchools(markers);
                        } else {

                            alert("No Record Found");
                        }
                    }, "json");


                });


                $(".src_school_type").click(function () {

                    var divisionId = $("select#selectdivision").val();
                    var unionId = $("select#selectunion").val();
                    var upazillaId = $("select#selectupazilla").val();
                    var districtId = $("select#selectdistrict").val();

                    var InstituteType = $("select#InstituteType").val();

                    var ManagementType = $("select#ManagementType").val();

                    var authorityType = $("select#authorityType").val();

                    $.post("/Report/MapLoadByType", {
                        InstituteType: InstituteType, divisionId: divisionId, unionId: unionId, upazillaId: upazillaId, districtId: districtId, ManagementType: ManagementType, authorityType: authorityType
                    }, function (data) {


                        googleMapObj.clear();

                        if (data.length > 0) {


                            markers = data;
                            // console.log(markers[0]);
                            googleMapObj.initializeBangladesh(markers, 7);
                            //googleMapObj.setLocTitle('Bangladesh');
                            // googleMapObj.setLocDesc('Hello');
                            googleMapObj.showSchools(markers);


                        }
                        else {

                            alert("No Record Found");
                        }
                    }, "json");
                });



            });

</script>
        <script src="~/Scripts/treeview.js"></script>
    </div>
</div>
