﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : MIS/GIS ";
}

<link href="~/Content/Form/css/dmis-style.css" rel="stylesheet" />
<div class="panel">
    <ul class="admin">
       

       @if (User.IsInRole("Administrator") || User.IsInRole("MIS User"))
        {
            
             <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Map">Map Search</a></li>
            <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/Advanced">Advanced Search</a></li>
            <li>
                <img src="~/Content/Form/images/user-management.png" width="40" height="40" alt="#" /><a href="/Report/Reports">Pre Disaster Report</a></li>
           
        }
      
    </ul>
</div>
