﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : MIS/GIS :Graphical Report";
}


<script type="text/javascript">

    function SimpleInNewWin() {
        window.open("../Forms/DHazards.aspx");
    }


    </script>
<link href="~/Content/Form/css/dmis-style.css" rel="stylesheet" />
<div class="panel">
    <ul class="admin">

       @if (User.IsInRole("Administrator"))
        {
            
             <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Disasterhazard" >Report on Risk Assessment by Disaster Hazard</a></li>
            <li>
                <img src="~/Content/Form/images/MIS-report.png" width="40" height="40" alt="#" /><a href="/Report/DisasterhazardImpact">Report on Risk Assessment by Impact Disaster Hazard</a></li>
            <li>
                <img src="~/Content/Form/images/user-management.png" width="40" height="40" alt="#" /><a href="/Report/Riskcategory">Report Risk Category</a></li>
           
        }
      
    </ul>
</div>
