﻿@{
    Layout = null;
}
@model DIMS.Models.ViewModels
<div class="box">
            <div class="box-title" style="margin-top:0;">
                <h3>
                    <i class="icon-magic"></i>
                    Division Setup
								</h3>
            </div>
            <div class="box-content">
                <form id="bb2" class="form-horizontal form-wizard ui-formwizard" method="POST" action="divisionupdate" novalidate="novalidate">
                    <div id="firstStep22" class="step ui-formwizard-content" style="display: block;">
                        <div class="control-group">
                            <label class="control-label" for="firstname">Division name</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge ui-wizard-content" name="divisionname" value="@Model.DivisionInfo.First().DivisionName">
                                <input type="hidden" class="input-xlarge ui-wizard-content" name="divisionid" value="@Model.DivisionInfo.First().DivisionId">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Division Code</label>
                            <div class="controls">
                                <input type="text" maxlength="2" class="input-xlarge ui-wizard-content num" value="@Model.DivisionInfo.First().DivisionCode" name="divisioncode">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Division Logitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content num" value="@Model.DivisionInfo.First().Longitude" name="divisionLongitude">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="firstname">Division Latitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content num" value="@Model.DivisionInfo.First().Latitude" name="divisionLatitude">
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <input type="reset" value="Reset" class="btn ui-wizard-content ui-formwizard-button" disabled="disabled">
                        <input type="submit" value="Save" class="btn btn-primary ui-wizard-content ui-formwizard-button">
                    </div>
                </form>
            </div>
          </div>
     <a class="close-reveal-modal">&#215;</a>
