﻿@{
    Layout = "~/Views/Shared/SettingLayout.cshtml";
}

@model DIMS.Models.ViewModels


<link href="~/Content/reveal.css" rel="stylesheet" />
 <script src="~/Scripts/Form/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
<script src="~/Scripts/jquery.reveal.js"></script>



<script>
    $(document).ready(function () {

        //$('#myModal').reveal({
        //    animation: 'fadeAndPop',                   //fade, fadeAndPop, none
        //    animationspeed: 300,                       //how fast animtions are
        //    closeonbackgroundclick: true,              //if you click background will modal close?
        //    dismissmodalclass: 'close-reveal-modal'    //the class of a button or element that will close an open modal
        //});


        //$('#m1').live('click', function (e) {
        //    e.preventDefault();
        //   // var modalLocation = $(this).attr('data-reveal-id');
        //    $('#myModal').reveal($(this).data());
        //});

        
        $('#selectdivision5').change(function () {
            var idx = this.selectedIndex;

            $("select#selectdivision5").prop('selectedIndex', idx);
            var divisionId = $("select#selectdivision5").val();

            if (idx > 0) {
                $.post("/Setting/DivisionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    $("#selectdistrict4").html(data.Viewdta);
                    $("#selectdistrict4").removeAttr("disabled");
                    //      $("[name=InstitudeDivision]").val(data.TxtName);
                    //   $("[name=Division1]").val(divVal.charAt(0));
                    //  $("[name=Division2]").val(divVal.charAt(1));
                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

        });
       

      $('#selectdivision2').change(function () {
            var idx = this.selectedIndex;

            $("select#selectdivision2").prop('selectedIndex', idx);
            var divisionId = $("select#selectdivision2").val();

            if (idx > 0) {
                $.post("/Setting/DivisionCode", {
                    divisionId: divisionId
                }, function (data) {

                    var divVal = data.TxtCode;

                    $("#selectdistrict1").html(data.Viewdta);
                    $("#selectdistrict1").removeAttr("disabled");
              //      $("[name=InstitudeDivision]").val(data.TxtName);
                 //   $("[name=Division1]").val(divVal.charAt(0));
                  //  $("[name=Division2]").val(divVal.charAt(1));
                    //$(".errormsg").text();
                    //$('#ajaxDiv').text(data.Text);
                }, "json");
            }

            //alert(val);

      });

      $('#selectdivision3').change(function () {
          var idx = this.selectedIndex;

          $("select#selectdivision3").prop('selectedIndex', idx);
          var divisionId = $("select#selectdivision3").val();

          if (idx > 0) {
              $.post("/Setting/DivisionCode", {
                  divisionId: divisionId
              }, function (data) {

                  var divVal = data.TxtCode;

                  $("#selectdistrict2").html(data.Viewdta);
                  $("#selectdistrict2").removeAttr("disabled");
                  
              }, "json");
          }

          //alert(val);

      });
      $('#selectdistrict2').change(function () {
          var idx = this.selectedIndex;

          $("select#selectdistrict2").prop('selectedIndex', idx);
          var divisionId = $("select#selectdistrict2").val();

          if (idx > 0) {
              $.post("/Setting/DistrictCode", {
                  divisionId: divisionId
              }, function (data) {

                  var divVal = data.TxtCode;

                  $("#selectupazilla2").html(data.Viewdta);
                  $("#selectupazilla2").removeAttr("disabled");

              }, "json");
          }

          //alert(val);

      });

      $('#selectdivision4').change(function () {
          var idx = this.selectedIndex;

          $("select#selectdivision4").prop('selectedIndex', idx);
          var divisionId = $("select#selectdivision4").val();

          if (idx > 0) {
              $.post("/Setting/DivisionCode", {
                  divisionId: divisionId
              }, function (data) {

                  var divVal = data.TxtCode;

                  $("#selectdistrict3").html(data.Viewdta);
                  $("#selectdistrict3").removeAttr("disabled");

              }, "json");
          }

          //alert(val);

      });

      $('#selectdistrict3').change(function () {
          var idx = this.selectedIndex;

          $("select#selectdistrict3").prop('selectedIndex', idx);
          var divisionId = $("select#selectdistrict3").val();

          if (idx > 0) {
              $.post("/Setting/DistrictCode", {
                  divisionId: divisionId
              }, function (data) {

                  var divVal = data.TxtCode;

                  $("#selectupazilla2").html(data.Viewdta);
                  $("#selectupazilla2").removeAttr("disabled");

              }, "json");
          }

          //alert(val);

      });


      $('#selectdistrict4').change(function () {
          var idx = this.selectedIndex;

          $("select#selectdistrict4").prop('selectedIndex', idx);
          var divisionId = $("select#selectdistrict4").val();

          if (idx > 0) {
              $.post("/Setting/DistrictCode", {
                  divisionId: divisionId
              }, function (data) {

                  var divVal = data.TxtCode;

                  $("#selectupazilla3").html(data.Viewdta);
                  $("#selectupazilla3").removeAttr("disabled");

              }, "json");
          }
      });
      $('#selectupazilla2').change(function () {
          var idx = this.selectedIndex;

          $("select#selectupazilla2").prop('selectedIndex', idx);
          var divisionId = $("select#selectupazilla2").val();
          if (idx > 0) {

              $.post("/Setting/UpazillaCode", {
                  divisionId: divisionId
              }, function (data) {

                  var upaVal = data.TxtCode;

                  $("#selectunion").html(data.Viewdta);

                  $("#selectunion").removeAttr("disabled");
                 
              }, "json");
          }

          //alert(val);

      });

      $('#selectupazilla3').change(function () {
          var idx = this.selectedIndex;

          $("select#selectupazilla3").prop('selectedIndex', idx);
          var divisionId = $("select#selectupazilla3").val();
          if (idx > 0) {

              $.post("/Setting/UpazillaCode", {
                  divisionId: divisionId
              }, function (data) {

                  var upaVal = data.TxtCode;

                  $("#selectunion1").html(data.Viewdta);

                  $("#selectunion1").removeAttr("disabled");

              }, "json");
          }

          //alert(val);

      });

      




      $('#d1').click(function () {
        //  var idx = this.selectedIndex;

        //  $("select#selectdivision5").prop('selectedIndex', idx);
          var divisionId = $("select#selectdivision5").val();
        //  if (idx > 0) {

          if (confirm("Are sure you want remove ")) {
              $.post("/Setting/DivisionRemove", {
                  divisionId: divisionId
              }, function (data) {

                  var upaVal = data.TxtCode;

                  alert(upaVal);
                  location.reload();

              }, "json");
          }
        //  }

          //alert(val);

      });

      $('#d2').click(function () {
        //  var idx = this.selectedIndex;

         // $("select#selectdistrict4").prop('selectedIndex', idx);
          var divisionId = $("select#selectdistrict4").val();
     //     if (idx > 0) {
          if (confirm("Are sure you want remove ")) {
              $.post("/Setting/DistrictRemove", {
                  divisionId: divisionId
              }, function (data) {

                  var upaVal = data.TxtCode;
                  alert(upaVal);
                  location.reload();


              }, "json");
          }
         // }

          //alert(val);

      });




      $('#d3').click(function () {
        //  var idx = this.selectedIndex;

         // $("select#selectupazilla3").prop('selectedIndex', idx);
          var divisionId = $("select#selectupazilla3").val();
        //  if (idx > 0) {
          if (confirm("Are sure you want remove ")) {
              $.post("/Setting/UpazillaRemove", {
                  divisionId: divisionId
              }, function (data) {

                  var upaVal = data.TxtCode;

                  alert(upaVal);
                  location.reload();

              }, "json");
          }
        //  }

          //alert(val);

      });




      $('#d4').click(function () {
         // var idx = this.selectedIndex;

        //  $("select#selectunion1").prop('selectedIndex', idx);
          var divisionId = $("select#selectunion1").val();
        //  if (idx > 0) {
          if (confirm("Are sure you want remove ")) {
              $.post("/Setting/UnionRemove", {
                  divisionId: divisionId
              }, function (data) {

                  var upaVal = data.TxtCode;

                  alert(upaVal);
                  location.reload();

              }, "json");
          }
         // }

          //alert(val);

      });


  });
    </script>
<div class="error-container">

    <span class="errormsg">Error Message</span><span class="er-close" onclick="errclose()">x</span>
</div>



<div class="tab-content padding tab-content-inline">
    <script src="~/Scripts/Form/jquery-1.9.1.min.js"></script>


    <div class="tab-pane active" id="first">

        <div class="box">
            <div class="box-title" style="margin-top:0;">
                <h3>
                    <i class="icon-magic"></i>
                    Division Setup
								</h3>
            </div>
            <div class="box-content">
                <form id="bb" class="form-horizontal form-wizard ui-formwizard" method="POST" action="divisionsave" novalidate="novalidate">
                    <div id="firstStep" class="step ui-formwizard-content" style="display: block;">
                        <div class="control-group">
                            <label class="control-label" for="firstname">Division name</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge ui-wizard-content" name="divisionname">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Division Code</label>
                            <div class="controls">
                                <input type="text" maxlength="2" class="input-xlarge ui-wizard-content num" name="divisioncode">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Division Logitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content " name="divisionLongitude">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="firstname">Division Latitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content " name="divisionLatitude">
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <input type="reset" value="Reset" class="btn ui-wizard-content ui-formwizard-button" disabled="disabled">
                        <input type="submit" value="Save" class="btn btn-primary ui-wizard-content ui-formwizard-button">
                    </div>
                </form>
            </div>
        </div>
    </div>




    <div class="tab-pane" id="second">

        <div class="box">
            <div class="box-title" style="margin-top:0;">
                <h3>
                    <i class="icon-magic"></i>
                    District Setup
								</h3>
            </div>
            <div class="box-content">
                <form class="form-horizontal form-wizard ui-formwizard" method="POST" action="districtsave" novalidate="novalidate">
                    <div class="step ui-formwizard-content" style="display: block;">

                        <div class="control-group">
                            <label class="control-label" for="select">Select Division</label>
                            <div class="controls">

                                @if (Model.DivisionInfo.Count > 0)
                                {

                                    <select class="input-large" name="divisionselect">
                                        <option value="">Select Division</option> 
                                        @foreach (var div in Model.DivisionInfo)
                                        {         
                                            <option value="@div.DivisionId">@div.DivisionName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" name="divisionselect">
                                        <option value="" selected="selected">Create Division</option>

                                    </select>
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="firstname">District name</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge ui-wizard-content" name="districtname">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">District Code</label>
                            <div class="controls">
                                <input type="text" maxlength="2" class="input-xlarge ui-wizard-content num" name="districtcode">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">District Logitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content " name="districtLongitude">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">District Latitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content " name="districtLatitude">
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <input type="reset" value="Reset" class="btn ui-wizard-content ui-formwizard-button" disabled="disabled">
                        <input type="submit" value="Save" class="btn btn-primary ui-wizard-content ui-formwizard-button">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="tab-pane" id="thirds">

        <div class="box">
            <div class="box-title" style="margin-top:0;">
                <h3>
                    <i class="icon-magic"></i>
                    Upazilla Setup
								</h3>
            </div>
            <div class="box-content">
                <form class="form-horizontal form-wizard ui-formwizard" method="POST" action="upazillasave" novalidate="novalidate">
                    <div class="step ui-formwizard-content" style="display: block;">
                          <div class="control-group">
                            <label class="control-label" for="select">Select Division</label>
                            <div class="controls">

                                @if (Model.DivisionInfo.Count > 0)
                                {

                                    <select class="input-large" id="selectdivision2" name="division2select">
                                         <option value="">Select Division</option> 
                                        @foreach (var div in Model.DivisionInfo)
                                        {         
                                            <option value="@div.DivisionId">@div.DivisionName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" name="division2select">
                                        <option value="" selected="selected">Create Division</option>

                                    </select>
                                }
                            </div>
                        </div>
                      
                        <div class="control-group">
                            <label class="control-label" for="selectdistrict">Select District</label>
                            <div class="controls">
                                
                                @if (Model.DistrictInfo.Count > 0)
                                {

                                    <select class="input-large" disabled="disabled" id="selectdistrict1" name="districtselect">
                                        @foreach (var div in Model.DistrictInfo)
                                        {         
                                            <option value="@div.DistrictId">@div.DistrictName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" name="districtselect" disabled="disabled">
                                        <option value="" selected="selected">Create District</option>

                                    </select>
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="firstname">Upazilla name</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge ui-wizard-content" name="upazillaname">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Upazilla Code</label>
                            <div class="controls">
                                <input type="text" maxlength="2" class="input-xlarge ui-wizard-content " name="upazillacode">
                            </div>
                        </div>




                        <div class="control-group">
                            <label class="control-label" for="firstname">Upazilla Longitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content " name="upazillaLongitude">
                            </div>
                        </div>


                                                <div class="control-group">
                            <label class="control-label" for="firstname">Upazilla Latitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content " name="upazillaLatitude">
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <input type="reset" value="Reset" class="btn ui-wizard-content ui-formwizard-button" disabled="disabled">
                        <input type="submit" value="Save" class="btn btn-primary ui-wizard-content ui-formwizard-button">
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="tab-pane" id="fourth">

        <div class="box">
            <div class="box-title" style="margin-top:0;">
                <h3>
                    <i class="icon-magic"></i>
                    Union Setup
								</h3>
            </div>
            <div class="box-content">
                <form class="form-horizontal form-wizard ui-formwizard" method="POST" action="unionsave" novalidate="novalidate">
                    <div class="step ui-formwizard-content" style="display: block;">
                             <div class="control-group">
                            <label class="control-label" for="select">Select Division</label>
                            <div class="controls">

                                @if (Model.DivisionInfo.Count > 0)
                                {

                                    <select class="input-large" id="selectdivision3" name="division3select">
                                         <option value="">Select Division</option> 
                                        @foreach (var div in Model.DivisionInfo)
                                        {         
                                            <option value="@div.DivisionId">@div.DivisionName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" name="division3select">
                                        <option value="" selected="selected">Create Division</option>

                                    </select>
                                }
                            </div>
                        </div>
                      
                        <div class="control-group">
                            <label class="control-label" for="selectdistrict">Select District</label>
                            <div class="controls">
                                
                                @if (Model.DistrictInfo.Count > 0)
                                {

                                    <select class="input-large" disabled="disabled" id="selectdistrict2" name="district2select">
                                        @foreach (var div in Model.DistrictInfo)
                                        {         
                                            <option value="@div.DistrictId">@div.DistrictName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" disabled="disabled" name="district2select">
                                        <option value="" selected="selected">Create District</option>

                                    </select>
                                }
                            </div>
                        </div>
                      
                        <div class="control-group">
                            <label class="control-label" for="select">Select Upazilla</label>
                            <div class="controls">
                                

                                @if (Model.UpazillaInfo.Count > 0)
                                {

                                    <select class="input-large" disabled="disabled" id="selectupazilla2" name="upazillaselect">
                                        @foreach (var div in Model.UpazillaInfo)
                                        {         
                                            <option value="@div.UpazillaId">@div.UpazillaName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" disabled="disabled" name="upazillaselect">
                                        <option value="" selected="selected">Create Upazilla</option>

                                    </select>
                                }


                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="firstname">Union name</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge ui-wizard-content" name="unionname">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Union Code</label>
                            <div class="controls">
                                <input type="text"  maxlength="2" class="input-xlarge ui-wizard-content num" name="unioncode">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="firstname">Union Longitude</label>
                            <div class="controls">
                                <input type="text"  class="input-xlarge ui-wizard-content " name="unionLongitude">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Union Latitude</label>
                            <div class="controls">
                                <input type="text"   class="input-xlarge ui-wizard-content " name="unionLatitude">
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <input type="reset" value="Reset" class="btn ui-wizard-content ui-formwizard-button">
                        <input type="submit" value="Save" class="btn btn-primary ui-wizard-content ui-formwizard-button">
                    </div>
                </form>
            </div>
        </div>
    </div>





     <div class="tab-pane" id="five">

        <div class="box">
            <div class="box-title" style="margin-top:0;">
                <h3>
                    <i class="icon-magic"></i>
                    General Setting Edit Panel
								</h3>
            </div>
            <div class="box-content">
                <form class="form-horizontal form-wizard ui-formwizard" method="POST"  novalidate="novalidate">
                    <div class="step ui-formwizard-content" style="display: block;">
                     
                             <div class="control-group">
                            <label class="control-label" for="select">Select Division</label>
                            <div class="controls">

                                @if (Model.DivisionInfo.Count > 0)
                                {

                                    <select class="input-large" id="selectdivision5" name="division3select">
                                         <option value="">Select Division</option> 
                                        @foreach (var div in Model.DivisionInfo)
                                        {         
                                            <option value="@div.DivisionId">@div.DivisionName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" name="division3select">
                                        <option value="" selected="selected">Create Division</option>

                                    </select>
                                }

                               <span>&nbsp;
                                   <a href="#" id="m1" >Edit</a>
		
	</span><span>&nbsp;<a id="d1" href="#">Delete</a></span>  
                            </div>

                        </div>
                           
                      
                        <div class="control-group">
                            <label class="control-label" for="selectdistrict">Select District</label>
                            <div class="controls">
                                
                                @if (Model.DistrictInfo.Count > 0)
                                {

                                    <select class="input-large" disabled="disabled" id="selectdistrict4" name="district2select">
                                        @foreach (var div in Model.DistrictInfo)
                                        {         
                                            <option value="@div.DistrictId">@div.DistrictName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" disabled="disabled" name="district2select">
                                        <option value="" selected="selected">Create District</option>

                                    </select>
                                }

                                 <span>&nbsp;  <a href="#" id="m2">Edit</a>  </span><span>&nbsp;<a id="d2" href="#">Delete</a></span> 
                            </div>
                        </div>
                      
                        <div class="control-group">
                            <label class="control-label" for="select">Select Upazilla</label>
                            <div class="controls">
                                

                                @if (Model.UpazillaInfo.Count > 0)
                                {

                                    <select class="input-large" disabled="disabled" id="selectupazilla3" name="upazillaselect">
                                        @foreach (var div in Model.UpazillaInfo)
                                        {         
                                            <option value="@div.UpazillaId">@div.UpazillaName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" disabled="disabled" name="upazillaselect">
                                        <option value="" selected="selected">Create Upazilla</option>

                                    </select>
                                }

                                 <span>&nbsp;<a href="#" id="m3">Edit</a> </span><span>&nbsp;<a id="d3" href="#">Delete</a></span> 
                            </div>
                        </div>
                         <div class="control-group">
                            <label class="control-label" for="select">Select Union</label>
                            <div class="controls">
                                

                                @if (Model.UnionInfo.Count > 0)
                                {

                                    <select class="input-large" disabled="disabled" id="selectunion1" name="unionselect">
                                        @foreach (var div in Model.UnionInfo)
                                        {         
                                            <option value="@div.UnionId">@div.UnionName</option>            
                                        }


                                    </select>
                                }
                                else
                                {

                                    <select class="input-large" disabled="disabled" name="unionselect">
                                        <option value="" selected="selected">Create Union</option>

                                    </select>
                                }
                                <span>&nbsp;<a href="#" id="m4">Edit</a> </span><span>&nbsp;<a id="d4" href="#">Delete</a></span> 

                            </div>
                        </div>

                        </div>
                </form>
            </div>
        </div>
    </div>


  @*<div id="myModal" class="reveal-modal">
     <h1>Modal Title</h1>
     <p>Any content could go in here.</p>
     <a class="close-reveal-modal">&#215;</a>
</div>*@

    
 <div  id="myModal" class="reveal-modal box">
  
        </div>

    
 
     
 <div  id="myModal2" class="reveal-modal box">

       </div>


    <div id="myModal3" class="reveal-modal box">
        
    </div>
     <div id="myModal4" class="reveal-modal box">

        </div>


</div>
