﻿@model DIMS.Models.ViewModels



@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : User Management : Assign Role";
   // ViewBag.Title = "User Management / Assign Role";
}

  <div class="span10" id="content" style="min-height:98px; width:96%; margin:2%;">
		
			
			<div class="row-fluid">
				


<div class="box-content nopadding" style="border-top:1px #87CEFA solid;">
<div class="form-horizontal form-bordered lopm"> 

@using (Html.BeginForm()) {
  <div style="background-color:white; color:red;">
                @TempData["AssignErrorMessage"]
            </div>
   
        @Html.HiddenFor( model => model.userInfo.First().UserId)


         <div class="control-group">
    <label class="control-label">  @Html.LabelFor(model => model.userInfo.First().UserName)</label>
    <div class="controls">                                        
    <div  class="span6">
      @*  @Html.EditorFor(model => model.userInfo.First().UserName,new { @readonly = "readonly",@disabled = "disabled" })*@
        <input id="UserName" class="text-box single-line" type="text" value="@Model.userInfo.First().UserName" readonly="true" name="UserName">
            @Html.ValidationMessageFor(model => model.userInfo.First().UserName)                                    
    </div>                   
    </div>
</div>

             <div class="control-group">
    <label class="control-label">    @Html.Label("Select Role")</label>
    <div class="controls">                                        
    <div  class="span6">
        <select name="RoleName">
              <option value="dumy">Select Role</option>

              @foreach (var item in Model.allRole)
            {         
        <option value="@item.RoleName">@item.RoleName</option>            
            } 

          </select>                                  
    </div>                   
    </div>
</div>



          

        <p>
            <input type="submit" class="btn btn-satblue " value="Save" /> 
        </p>
   
}



    </div>
    </div>

                </div>
       </div>