﻿@model DIMS.Models.UserProfile

@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : User Management : Enable";
}

  <div class="span10" id="content" style="min-height: 698px; width:95%; margin:2.5%;">
			
			
	<div class="row-fluid popk">
				


<h3>Are you sure you want to Enable this ?</h3>

    <div class="display-label mop">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label mop">
         @Html.DisplayNameFor(model => model.ContactNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNumber)
    </div>

    <div class="display-label mop">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field ">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label mop">
         @Html.DisplayNameFor(model => model.Reference)
    </div>
    <div class="display-field mop">
        @Html.DisplayFor(model => model.Reference)
    </div>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-red" value="Enable" /> |
        @Html.ActionLink("Back to List", "Index","Users",new {@class="btn btn-satblue",@style="width:150px; text-align:center;"})
    </p>
}

                </div>
       </div>