body{ background:#EEF3FA; font-size:12px; color:#000; }
li{ list-style:none;}
.ceb{ width:1070px; margin:0 auto; }
.info{ background-color:#36A9E1; padding:10px;}
.info h2{ float:left; text-align:left; width:auto; line-height:26px; font-size:16px; color:#FFF; font-weight:bold;}
.info h3{ text-align:right; width:auto; line-height:26px; font-size:16px; color:#FFF; font-weight:bold;}

.info1{ color:#000; padding:10px; border-bottom: solid 1px #000;}
.info1 h2{ float:left; text-align:left; width:auto; line-height:26px; font-size:16px; color:#000; font-weight:bold;}
.info1 h3{ text-align:right; width:auto; line-height:26px; font-size:16px; color:#000; font-weight:bold;}

.header-inner{ text-align:center; font-size:18px; font-weight:bold; background-color:#1E8FC6; line-height:45px; color:#FFF;}
 {  list-style-type: none;
    margin: 0;
    padding: 0;}
	
#container{ padding:0;}	
ul#container li  {
    background-color: hsla(0, 0%, 0%, 0);
    clear: both;
    margin: 0;
    padding: 6px 1% 9px;
    position: relative;
    transition: background-color 350ms ease-out 0s;
}
ul#container li{}
.notranslate { background-color:#36A9E1; line-height:30px; text-align:left; padding-left:10px;}	
ul#container li table{ }	
ul#container li table tr{ }
ul#container li table tr td{ border:solid 1px #000; text-align:center; background-color:#FFF; }	
.tright{ float:right; width:70%;}
.clr{ clear:both;}
label{
    border: medium none;
    color: hsl(0, 0%, 13%);
    display: block;
    float: left;
    font-size: 95%;
    font-weight: bold;
    line-height: 100%;
    margin: 0 0 40px;
    padding: 0 0 3px;
    white-space: normal;
    width: 30%;
}
.abody{ width:100%;} 
.radio-button{ width:25%; float:left; line-height:26px;}
.txt-f{ width:8%; padding:5px; margin:10px 10px 0 0; color:#ccc; background-color:#FFF; border:solid 1px #ccc;}
.ins-name{ width:100%; padding:10px; float:left;}
.txt-f1{ width:20%; padding:5px;  float: left; border:1px solid #000; border-right:none; }
.txt-f2{ width:70%; padding:5px;  float: left; border:1px solid #000;}
.ins-name span{  float: left;
    text-align: center;
    width: 6%; line-height: 28px;}

.ins-name p{  float: left;
    line-height: 6px;
    padding-left: 2.3%;
    text-align: left;
    width: 25%;}

.b-last{ border-right: 1px solid #000;}
.redio-box{ width:30%; float:left; border:solid 1px #000;}
.radio-button1{ width:50%; float:left; line-height:26px;}
.student-box{ width: 36%; float:left;}
.student-box1{ width: 30%; float:left;}
.fl{ float:left;}
.fr{ float:right; padding-right:1%;}
.right-b{ width:72%; float:left;}






.single_input {

width:35px;    
padding:0px;
margin:0px;
background:#f2f2f2 !important;
color:#000 !important;

}

.lblspan {
    width:5%;
}

#step1 {

}


