﻿/*--------------------------------------------------------------------------
   

    Typebig Resume / CV
    
    * Optimizations for print
    * A lot of the contents are hidden for printing
    
    
--------------------------------------------------------------------------*/
.full-screen {
    float:right;
   
    margin-right:10px;
    margin-left:10px;
    cursor:pointer;
}
.map-action {
     float:right;
}
.close-screen{
    float:right;
        padding-right:10px;
    margin-right:10px;
    cursor:pointer;
}
.add-full{
     height: 100%;
                width: 100%;
                left:0;
                position:absolute;
               
}
.full-scrn {
 height: 100% !important;
                width: 100% !important;
                margin:0 !important;
                padding:0 !important;
}
.map-h-w {
    height:604px;width:97%; padding:2px; border:solid 1px #999;
     position: relative;
}
.full-remove {
     height: 604px; width: 97%; padding: 2px; border: 1px solid rgb(153, 153, 153); position: relative; background-color: rgb(229, 227, 223); overflow: hidden;
}
.map-leftmenu ul li {
    font-size:11px !important;
}
.map-content{
    min-height: 698px; width:95%; margin:2.5%;
}
@media print {

       .gm-style-iw {
        background: #fff!important;
        z-index: 999999999999999999999999999991 !important;
        padding: 15px 20px!important;
    
    }

    .block {
        display:none !important;
    }
	body {
	  padding: 0!important;
	}

	fieldset.gomappo {
    width:100% !important;
}

	/*span.print,
	a.link-pdf {
	  display: none;
	}*/
    span.print {
	  display: none;
	}
	.span3{
		display: none !important;
	}
    .map-leftmenu {
        display: none !important;
    }
    legend {

    }
	
	.gm-style-iw {
        background: #fff!important;
        z-index: 999999999999999999999999999991important;
        padding: 15px 20px!important;
    
    }
}