﻿@{
    Layout = "~/Views/Shared/Formcollection.cshtml";
    ViewBag.Title = "Operational Panel : MIS/GIS : Advanced Search";
}

<link href="~/Content/Form/css/dmis-style.css" rel="stylesheet" />
<div class="panel">
    <ul class="admin">

       @if (User.IsInRole("Administrator") || User.IsInRole("MIS User"))
        {
            
              <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Magicsearch">School Magic Search</a></li>
           
             <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Geosearch">Search by Geographical Status</a></li>
             <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Strcsearch">Search by Structural Info</a></li>
            <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Commonfacilitiesearch">Search by Common Facilities</a></li>

            <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Disabilitiessearch">Search by Disabilities & Ethnic group</a></li>

            <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Drinkingwatersearch">Search by Drinking Water Facilities</a></li>

            <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Contingencysearch">Search by Preparedness & Contingency plan</a></li>

            <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Resiliencesearch">Search by Resilience Education</a></li>

            <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Risksearch">Search by Risk_Hazad_Probality</a></li>

            <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Sanitationsearch">Search by Sanitation Facilities</a></li>

        
            <li><span>
                <img src="~/Content/Form/images/database-management.png" width="40" height="40" alt="#" /></span><a href="/Report/Vacantsearch">Search by Teachers Vacant Position</a></li>

           
        }
      
    </ul>
</div>
